.checkbox-plg {
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 21px;
    background-image: url('../../images/Offer/check-off.png');
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.checkbox-plg.hover {
    background-image: url('../../images/Offer/check-hover.png');
    transition: .3s;
}

.checkbox-plg.checked {
    background-image: url('../../images/Offer/check-on.png');
    transition: .3s;
}


.iradio-plg {
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    background-image: url('../../images/Offer/rdbox-empty.png');
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.iradio-plg.hover {
    background-image: url('../../images/Offer/rdbox-hover.png');
    transition: .3s;
}

.iradio-plg.checked {
    background-image: url('../../images/Offer/rdbox.png');
    transition: .3s;
}



label {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color: #55575a;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
