 
*{
    outline: none!important;
}
.content .content-body .content-top-block {
    display: block;
    font-family: "Roboto", sans-serif;
}

.content .content-body .content-top-block .offer-step1 {
    background: #ffffff;
    padding: 30px 22px 24px 22px;
    margin-bottom: 2px;
    box-shadow: 0 4px 2px -2px #e5e5e5;
}

.content .content-body .content-top-block .offer-step1_wrapper {}

.content .content-body .content-top-block .step1-block {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .content-top-block .step1-left-block {
    width: 315px;
}

.content .content-body .content-top-block .step1-left-block .title-step1 {
    margin-bottom: 77px;
}

.content .content-body .content-top-block .step1-left-block .step1-info-user {
    font-size: 16px;
    color: rgb(75, 84, 93);
    line-height: 1.25;
    text-align: left;
    width: 190px;
    margin-bottom: 10px;
    display: none;
}

.content .content-body .content-top-block .step1-left-block .title-step1 + .step1-info-user {
    margin-top: -20px;
}

.content .content-body .content-top-block .step1-left-block .step1-info-user span {
    display: block;
    margin-bottom: 10px;
}

.content .content-body .content-top-block .step1-left-block .step1-info-user span span {
    margin-bottom: 0;
}

.content .content-body .content-top-block .step1-left-block .step1-info-user a {
    font-size: 14px;
    color: rgb(90, 160, 8);
    text-decoration: underline;
    line-height: 1.2;
    margin-right: 10px;
}

.content .content-body .content-top-block .step1-left-block .title-step1 span {
    color: #6b7783;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.content .content-body .content-top-block .step1-left-block .title-step1 span:nth-of-type(1) {
    clear: both;
    float: left;
}

.content .content-body .content-top-block .step1-left-block .title-step1 span:nth-of-type(2) {
    float: left;
    display: block;
}

.content .content-body .content-top-block .step1-left-block .select-custome-block {
    display: block;
    clear: both;
}

.content .content-body .content-top-block .step1-left-block .select-custome-block > span {
    display: block;
    /*font-family: "Myriad Pro";*/
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    color: #4b545d;
    margin-bottom: 10px;
}

.content .content-body .content-top-block .step1-left-block .select-custome-block > span span {
    color: #a1c623;
}

.content .content-body .content-top-block .step1-left-block .select-custome-block button {
    border: 3px solid #98c11f;
    border-radius: 23px;
    /*display: block;*/
    height: 40px;
    /*margin: 0 auto;*/
    position: relative;
    text-align: center;
    width: 176px;
    z-index: 1;
    cursor: pointer;
    background: #ffffff;
}

.content .content-body .content-top-block .step1-left-block .select-custome-block button:focus span {
    top: 1px;
}

.content .content-body .content-top-block .step1-left-block .select-custome-block button:hover:before {
    width: 176px;
}

.content .content-body .content-top-block .step1-left-block .select-custome-block button:before {
    background: #98c11f none repeat scroll 0 0;
    border-radius: 23px;
    content: "";
    height: 100%;
    left: -3px;
    top: 0;
    position: absolute;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    width: 0;
    z-index: 0;
}

.content .content-body .content-top-block .step1-left-block .select-custome-block button span {
    color: #505050;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-weight: 400;
}

.content .content-body .content-top-block .step1-left-block .select-custome-block button:hover span {
    color: #fff;
    transition: all 0.25s ease 0s;
}

.content .content-body .content-top-block .step1-center-block {
    width: 265px;
    margin-left: 60px;
}

.content .content-body .content-top-block .step1-center-block .title {
    color: #4b545d;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 25px;
}

.content .content-body .content-top-block .step1-center-block ul {
    display: inline-block;
    list-style-type: none;
}

.content .content-body .content-top-block .step1-center-block ul:nth-of-type(2) {
    margin-left: 32px;
}

.content .content-body .content-top-block .step1-center-block li {
    color: #6b7783;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 400;
}

.content .content-body .content-top-block .step1-right-block {
    width: 265px;
    margin-top: 35px;
}

.content .content-body .content-top-block .step1-right-block .date-input {
    margin-top: 12px;
    position: relative;
}

.content .content-body .content-top-block .step1-right-block .date-input .date-input-icon {
    background-image: url("../../images/Offer/offer_sprite.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    height: 20px;
    padding: 10px 10px 8px 9px;
    position: absolute;
    width: 17px;
}

.content .content-body .content-top-block .step1-right-block .date-input input {
    background-color: hsl(0, 0%, 100%);
    background-position: right 12px center;
    background-repeat: no-repeat;
    border: 1px solid hsl(0, 0%, 79%);
    color: hsl(0, 0%, 0%);
    display: block;
    font-family: CAPSUULA;
    font-size: 26px;
    font-weight: 400;
    height: 28px;
    outline: medium none;
    padding: 4px 12px 4px 42px;
    width: 208px;
}

.content .content-body .content-top-block .step1-right-block .duration-block {
    margin-top: 11px;
}

.content .content-body .content-top-block .step1-right-block .duration-block span {
    /*display: block;*/
    vertical-align: top;
    margin-top: 10px;
}

.content .content-body .content-top-block .step1-right-block .duration-block span:nth-of-type(1) {
    font-size: 16px;
    margin-right: 4px;
    color: rgb(75, 84, 93);
    line-height: 46px;
}

.content .content-body .content-top-block .step1-right-block .duration-block span:nth-of-type(2) {
    font-size: 14px;
    line-height: 15px;
    color: #6B7783;
    margin-left: 7px;
    display: inline-block;
    margin-top: 8px;
}

.content .content-body .content-top-block .step1-right-block .duration-block span:nth-of-type(3) {}

.content .content-body .content-top-block .step1-right-block .duration-block .duration-count {
    display: inline-block;
}

.content .content-body .content-top-block .step1-right-block .duration-block .duration-count input {
    border: 1px solid #C9C9C9;
    color: #696969;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    height: 23px;
    outline: medium none;
    padding: 6px 12px;
    text-align: center;
    width: 43px;
}

.content .content-body .content-top-block .step1-right-block .duration-block .duration-count .duration-up-down {
    display: inline-block;
    position: relative;
    top: 7px;
}

.content .content-body .content-top-block .step1-right-block .duration-block .duration-count .duration-up {
    background-image: url("../../images/Offer/offer_sprite.png");
    background-position: -22px 7px;
    background-repeat: no-repeat;
    height: 16px;
    /*position: absolute;*/
    width: 17px;
    cursor: pointer;
}

.content .content-body .content-top-block .step1-right-block .duration-block .duration-count .duration-up:hover {
    background-position: -43px 7px;
}

.content .content-body .content-top-block .step1-right-block .duration-block .duration-count .duration-down {
    background-image: url("../../images/Offer/offer_sprite.png");
    background-position: -22px -7px;
    background-repeat: no-repeat;
    height: 16px;
    width: 17px;
    cursor: pointer;
}

.content .content-body .content-top-block .step1-right-block .duration-block .duration-count .duration-down:hover {
    background-position: -43px -7px;
}

.content .content-body .content-top-block .step1-right-block .duration-block .text-after-duration {
    font-size: 14px;
    color: rgb(107, 119, 131);
    line-height: 15px;
    margin-top: 15px;
}

.content .content-body .content-top-block .offer-step1-comment-block {
    box-shadow: 0 4px 2px -2px #E6E6E6;
    padding: 22px 22px;
    background: #ffffff;
}

.content .content-body .content-top-block .offer-step1-comment-block textarea {
    border: 1px solid #BFBFBF;
    font-size: 16px;
    height: 73px;
    padding: 7px 10px;
    width: 890px;
    font-family: "Roboto", sans-serif;
    resize: none;
    color: #4b545d;
}

.content .content-body .content-top-block .offer-step2 {
    margin-top: 17px;
}

.content .content-body .content-top-block .offer-step2-wrapper {
    padding: 20px 22px 43px;
    background: #ffffff;
    box-shadow: 0 4px 2px -2px #e5e5e5;
    margin-bottom: 2px;
}

.content .content-body .content-top-block .offer-step2-wrapper > span {
    display: block;
    font-size: 20px;
    color: #4B545D;
    text-transform: uppercase;
    line-height: 1.8;
}

.content .content-body .content-top-block .offer-step2 .select-invoice-line-block {
    position: relative;
    margin-top: 20px;
}

.content .content-body .content-top-block .offer-step2 .select-invoice-line-block > span {
    color: #4B545D;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 7px;
}

.content .content-body .content-top-block .offer-step2 .select-invoice-line-block > span span {
    color: #A1C723;
}

.content .content-body .content-top-block .offer-step2 .select-invoice-line-block button {
    border: 3px solid #98c11f;
    border-radius: 23px;
    /*display: block;*/
    height: 40px;
    /*margin: 0 auto;*/
    position: relative;
    text-align: center;
    width: 180px;
    z-index: 1;
    cursor: pointer;
    background: #ffffff;
}

.content .content-body .content-top-block .offer-step2 .select-invoice-line-block button:focus span {
    top: 1px;
}

.content .content-body .content-top-block .offer-step2 .select-invoice-line-block button:hover:before {
    width: 180px;
}

.content .content-body .content-top-block .offer-step2 .select-invoice-line-block button:before {
    background: #98c11f none repeat scroll 0 0;
    border-radius: 23px;
    content: "";
    height: 100%;
    left: -3px;
    top: 0;
    position: absolute;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    width: 0;
    z-index: 0;
}

.content .content-body .content-top-block .offer-step2 .select-invoice-line-block button span {
    color: #505050;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-weight: 400;
}

.content .content-body .content-top-block .select-invoice-line-block button:hover span {
    color: #fff;
    transition: all 0.25s ease 0s;
}

.content .content-body .content-top-block .offer-step2 .offer-step2-res-block {
    position: relative;
    /*width: 355px;*/
    margin-bottom: 3px;
    height: 110px;
}

.content .content-body .content-top-block .offer-step2 .offer-step2-res-block .offer-step2-res {
    background-image: url("../../images/Offer/offer_result_bg.png");
    background-repeat: no-repeat;
    height: 110px;
    position: absolute;
    right: 0;
    width: 355px;
}

.content .content-body .content-top-block .offer-step2 .offer-step2-res-block .offer-step2-res .step2-lists {
    padding-left: 95px;
    padding-top: 10px;
}

.content .content-body .content-top-block .offer-step2 .offer-step2-res-block .offer-step2-res ul:nth-of-type(1) {
    float: left;
}

.content .content-body .content-top-block .offer-step2 .offer-step2-res-block .offer-step2-res ul:nth-of-type(2) {
    float: right;
    margin-right: 23px;
}

.content .content-body .content-top-block .offer-step2 .offer-step2-res-block .offer-step2-res ul:nth-of-type(2) li {
    text-align: right;
}

.content .content-body .content-top-block .offer-step2 .offer-step2-res-block .offer-step2-res ul li {
    list-style-type: none;
    font-size: 16px;
    color: #4B545D;
    /*line-height: 2.25;*/
    line-height: 22px;
}

.content .content-body .content-top-block .offer-step2 .offer-step2-res-block .offer-step2-res ul li:nth-of-type(1) {
    font-size: 20px;
    color: #4B545D;
    line-height: 1.8;
}

.content-body .content-top-block .offer-step2 .offer-step2-comment-block {}

.content .content-body .content-top-block .offer-step2 .offer-step2-comment-block:before {
    content: "";
    background-image: url('../../images/Offer/comment_icon_03.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -17px;
    left: 43px;
}

.content .content-body .content-top-block .offer-step2 .offer-step2-comment-block {
    background: #fff;
    padding: 22px;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 4px 2px -2px hsl(0, 0%, 90%);
}

.content .content-body .content-top-block .offer-step2-comment-block textarea {
    border: 1px solid hsl(0, 0%, 75%);
    color: hsl(210, 11%, 33%);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    height: 73px;
    padding: 7px 10px;
    resize: none;
    width: 890px;
}

.content .content-body .content-top-block .offer-step3 {
    box-shadow: 0 4px 2px -2px #E6E6E6;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper {
    background: #fff;
    box-shadow: 0 4px 2px -2px #E6E6E6;
    margin-bottom: 2px;
    padding: 28px 22px 25px;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .title-step1 {
    color: #4B545D;
    /*display: block;*/
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .title-step1 span {
    color: #A1C723;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .title-step1 + a {
    text-decoration: underline;
    font-size: 14px;
    line-height: 20px;
    color: #5AA008;
    position: relative;
    top: -1px;
    margin-left: 10px;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .offer-form-all-block {
    margin-top: 28px;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .offer-form-all-block > span {
    font-size: 14px;
    display: inline-block;
    color: #4B545D;
    line-height: 43px;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .offer-form {
    border: 1px dashed #C9C9C9;
    display: inline-block;
    /*height: 36px;*/
    vertical-align: top;
    margin-left: 8px;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .offer-form .radioboxes {
    display: block;
    padding: 10px;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .offer-form .radioboxes label {
    margin-left: 5px;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .offer-form .radioboxes label:nth-of-type(1) {
    margin-right: 12px;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .offer-form .offer3-radio {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    color: #4B545D;
    margin-right: 18px;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .offer-form .offer3-radio input {
    margin-right: 7px;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group {
    margin-top: 35px;
    clear: both;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group > div {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group > div a {
    margin-bottom: 8px;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group > div:nth-of-type(1) a {
    text-transform: uppercase;
    display: inline-block;
    background-color: #9FBC20;
    border-radius: 0 23px 23px;
    height: 39px;
    margin-right: 7px;
    text-align: center;
    vertical-align: top;
    padding: 0 34px;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group > div:nth-of-type(1) a span {
    color: #FFFFFF;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 39px;
    text-transform: uppercase;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group > div:nth-of-type(1) a:focus span {
    margin-top: 1px;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group > div:nth-of-type(1) a:hover {
    background-color: #B4D327;
    transition: all 0.15s ease 0s;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group > div:nth-of-type(1) a:focus {
    background-color: #9FBC20;

}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group > div:nth-of-type(2) a {
    background-color: hsl(0, 0%, 71%);
    border: 3px solid hsl(0, 0%, 71%);
    border-radius: 16px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    vertical-align: bottom;
    /*width: 112px;*/
    margin-top: 7px;
    padding: 0 30px;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group > div:nth-of-type(2) a span {
    color: #FFFFFF;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group > div:nth-of-type(2) a:hover {
    background-color: hsl(0, 0%, 100%);
    transition: all 0.15s ease 0s;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group > div:nth-of-type(2) a:hover span {
    color: hsl(0, 0%, 71%);
    transition: all 0.15s ease 0s;
}
.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group > div:nth-of-type(2) a:focus{
    background-color: hsl(0, 0%, 71%);
}
.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group > div:nth-of-type(2) a:focus span {
    color: #fff;
    margin-top: 1px;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group span {
    display: block;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group .button-left-block a + span {
    font-size: 14px;
    color: #6B7783;
    margin-left: 25px;
    text-align: left;
}

.content .content-body .content-top-block .offer-step3 .offer-step3_wrapper .buttons-group .button-right-block a + span {
    font-size: 14px;
    color: #6B7783;
    text-align: center;
}

.offer-new-fields-title {
    color: #4B545D;
    display: block;
    background: #ffffff;
    font-size: 20px;
    line-height: 1.8;
    padding: 20px;
    text-transform: uppercase;
}

.offer-new-fields {
    display: none;
}

.offer-new-fields .title {
    padding: 0 20px 5px 0;
    background: #ffffff;
    font-size: 18px;
    color: #a1c623;
    text-transform: uppercase;
    display: block;
}

.offer-new-fields table {
    margin-left: -24px;
    width: 961px;
    margin-top: -2px;
}

.offer-new-fields table tr {
    margin-bottom: 2px;
    background-color: hsl(0, 0%, 100%);
    border-left: 5px solid #cbcbcb;
    display: block;
    border-bottom: 2px solid hsl(0, 0%, 91%);
}

.offer-new-fields table tr:first-child {
    margin-bottom: 0;
    border: none;
    padding: 0;
    box-shadow: none;
}

.offer-new-fields table tr:nth-last-child(1) {
    border-bottom: medium none;
    box-shadow: 0 3px 0 0 hsl(0, 0%, 90%);
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}

.offer-new-fields table tr .priority-th {
    width: 255px;
}

.offer-new-fields table tr .unit-price-th {
    width: 226px;
}

.offer-new-fields table tr .month-th {
    width: 209px;
}

.offer-new-fields table tr .tot-price-th {
    width: 156px;
}

.offer-new-fields table tr .offer-th {
    padding: 10px 0 10px 20px;
    text-align: left;
    color: #4b545d;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.offer-new-fields table tr .spec-td {
    font-weight: 300;
}

.offer-new-fields table tr .multiply {
    font-weight: 500;
    left: -6px;
    line-height: 15px;
    position: absolute;
    padding: 2px;
    /*cursor: pointer;*/
    top: 10px;
}

.offer-new-fields table tr .equal {
    position: absolute;
    right: -7px;
    font-weight: 500;
    line-height: 15px;
    padding: 2px;
    /*cursor: pointer;*/
    top: 10px;
}

.offer-new-fields table tr .arrow {}

.offer-new-fields table tr .month-td {
    padding-left: 15px;
}


.offer-new-fields table tr .inp-tp  {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 79%);

    color: hsl(210, 7%, 55%);
    display: none;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 38px;
    left: 18px;
    outline: medium none;
    padding: 0 12px 0 10px;
    position: absolute;
    top: 0;
    width: 65px;
    z-index: 1;
    /*z-index: 100;*/
}


.offer-new-fields table tr .little-arr{
    background-image: url("../../images/Offer/offer_sprite.png");
    background-position: -43px -7px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 16px;
    left: 111px;
    position: absolute;
    top: 13px;
    width: 17px;

}



.offer-new-fields table tr th:nth-last-of-type(1) {
    text-align: right;
}

.offer-new-fields table tr td {
    text-align: left;
    padding: 9px 0 9px 15px;
    position: relative;
    color: #4b545d;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.offer-new-fields table tr td span {
    position: relative;
}

.offer-new-fields table tr td:nth-last-of-type(1) {
    text-align: right;
}

.offer-new-fields table tr td:nth-of-type(1) {
    width: 253px;
}

.offer-new-fields table tr td:nth-of-type(2) {
    width: 234px;
    border-left: solid 1px #f7f7f7;
    /*border-right: solid 1px red;*/
}

.offer-new-fields table tr td:nth-of-type(2) span {
    padding-left: 5px;
}

.offer-new-fields table tr td:nth-of-type(3) {
    width: 225px;
    border-left: solid 1px #f7f7f7;
    border-right: solid 1px #f7f7f7;
}

.offer-new-fields table tr td:nth-of-type(4) {
    width: 146px;
}

.offer-new-fields .offer-staff-res-all {
    background: #e9e9e9;
    margin-left: -22px;
    width: 911px;
    padding: 20px 23px;
    height: 52px;
}

.offer-new-fields .offer-staff-res-all .offer-staff-res-list {
    float: right;
}

.offer-new-fields .offer-staff-res-all ul {
    /*display: inline-block;*/
    /*text-align: right;*/
    margin-left: 10px;
}

.offer-new-fields .offer-staff-res-all ul:nth-of-type(1) {
    float: left;
}

.offer-new-fields .offer-staff-res-all ul:nth-of-type(2) {
    float: right;
}

.offer-new-fields .offer-staff-res-all li:nth-of-type(1) {
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    color: rgb(75, 84, 93);
    line-height: 1.5;
    text-align: right;
}

.offer-new-fields .offer-staff-res-all li:nth-of-type(2) {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: rgb(75, 84, 93);
    line-height: 1.4;
    text-align: right;
}

.offer-new-fields + .invoice-line-btn {
    margin-top: 30px;
}

.step2-insert-menu {
    background-image: url("../../images/Offer/step-insert-l-pop.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 62px;
    width: 183px;
    position: absolute;
    bottom: -67px;
    margin-top: 5px;
    display: none;
    z-index: 2;
}

.step2-insert-menu .staff-btn {
    background-color: #e8e8e8;
    display: block;
    bottom: 6px;
    height: 39px;
    left: 5px;
    position: absolute;
    width: 108px;
    line-height: 35px;
    text-align: center;
    color: #4a535d;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}

.step2-insert-menu .staff-btn:hover {
    background-color: #a1c623;
    color: #ffffff;
}

.step2-insert-menu .close-img {
    background-image: url("../../images/Offer/step2-insert-poput-close.png");
    background-repeat: no-repeat;
    bottom: 6px;
    height: 39px;
    position: absolute;
    right: 8px;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    width: 60px;
}

.step2-insert-menu .close-img:hover {
    background-image: url("../../images/Offer/step2-insert-poput-close_hover.png");
    -webkit-transition: all .15s ease;
    --moz--transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    cursor: pointer;
}

.step2-insert-menu .close-img .close-icon {
    background-image: url("../../images/Offer/close-icon.png");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 14px;
    left: 19px;
    position: absolute;
    top: 14px;
    width: 13px;
}

.step2-insert-menu .close-img:hover .close-icon {
    background-image: url("../../images/Offer/close-icon-hover.png");
}

.offer-new-fields .offer-staff-res-all li {
    list-style-type: none;
}

.offer-step2-preres-block {
    height: 138px;
    position: relative;
    margin-top: -15px;
    margin-bottom: 5px;
    display: none;
}

.offer-step2-preres-block .preres-block-bg {
    background-image: url("../../images/Offer/offer-res-final.png");
    background-repeat: no-repeat;
    height: 138px;
    position: absolute;
    right: 0;
    width: 355px;
}

.offer-step2-preres-block .preres-block-bg .preres-block-top {
    padding: 8px 0 7px;
    height: 43px;
}

.offer-step2-preres-block .preres-block-bg .preres-block-bottom {
    height: 80px;
}

.offer-step2-preres-block .preres-block-bg .preres-block-top ul {}

.offer-step2-preres-block .preres-block-bg .preres-block-top ul li {
    color: hsl(210, 11%, 33%);
    font-size: 16px;
    line-height: 22px;
    list-style-type: none;
}

.offer-step2-preres-block .preres-block-bg .preres-block-top ul:nth-of-type(1) {
    padding-left: 95px;
    float: left;
}

.offer-step2-preres-block .preres-block-bg .preres-block-top ul:nth-of-type(2) {
    margin-right: 23px;
    float: right;
}

.offer-step2-preres-block .preres-block-bg .preres-block-bottom ul:nth-of-type(1) {
    padding-left: 95px;
}

.offer-step2-preres-block .preres-block-bg .preres-block-bottom ul:nth-of-type(2) {
    margin-right: 23px;
    float: right;
}

.offer-step2-preres-block .preres-block-bg .preres-block-bottom ul:nth-of-type(1):nth-of-type(1) {
    color: hsl(210, 11%, 33%);
    font-size: 20px;
    line-height: 32px;
}

.offer-step2-preres-block .preres-block-bg .preres-block-bottom ul:nth-of-type(1) li:nth-of-type(2),
.offer-step2-preres-block .preres-block-bg .preres-block-bottom ul:nth-of-type(1) li:nth-of-type(3) {
    color: hsl(210, 11%, 33%);
    font-size: 16px;
    line-height: 20px;
    list-style-type: none;
}

.offer-step2-preres-block .preres-block-bg .preres-block-bottom ul:nth-of-type(2) li:nth-of-type(1) {
    color: hsl(210, 11%, 33%);
    font-size: 20px;
    line-height: 32px;
}

.offer-step2-preres-block .preres-block-bg .preres-block-bottom ul:nth-of-type(2) li:nth-of-type(2),
.offer-step2-preres-block .preres-block-bg .preres-block-bottom ul:nth-of-type(2) li:nth-of-type(3) {
    color: hsl(210, 11%, 33%);
    font-size: 16px;
    line-height: 20px;
    list-style-type: none;
    text-align: right;
}

.offer-step2-preres-block .preres-block-bg ul {
    display: inline-block;
}

.offer-step2-preres-block .preres-block-bg ul li {
    list-style-type: none;
}

.offer-popup-all {
    background: rgba(75, 84, 93, .75);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
}

.offer-popup-grey-bg {
    /*background: rgba(75, 84, 93, .75);*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 150;
    top: 0;
}

.offer-popup-all .staff-popup {
    background: #ffffff;
    width: 958px;
    /*height: 475px;*/
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
}

.customer-popup-form {
    display: block;
    width: 645px;
    padding-bottom: 5px;
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    border-bottom: 1px solid hsl(210, 7%, 55%);
}

.customer-popup-form label:hover {
    border: 1px dashed hsl(210, 7%, 55%);
}

.customer-popup-form label {
    width: 642px;
    border: dashed 1px #fff;
}

.customer-popup-form span {
    display: inline-block;
    font-size: 14px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
    vertical-align: middle;
}

.customer-popup-form .iradio-plg {
    left: 13px;
    /*width: 50px;*/
}

.customer-popup-form .customer-name {
    font-weight: bold;
    width: 160px;
}

.customer-popup-form .customer-company {
    width: 178px;
}

.customer-popup-form .customer-address {
    width: 165px;
}

.select-customer-popup-block {
    position: relative;
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    /*height: 540px;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 665px;
    padding: 30px 22px;
    z-index: 200;
}

.select-customer-popup-block .customer-title {
    display: block;
    font-size: 26px;
    color: #4B545D;
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px;
}

.select-customer-popup-block .fields-group {
    display: block;
    height: 40px;
    margin-bottom: 20px;
}

.select-customer-popup-block .input-customer {
    float: left;
    margin-right: 5px;
}

.select-customer-popup-block .input-customer input {
    border: solid 1px #bfbfbf;
    padding: 0 0 0 15px;
    width: 228px;
    height: 36px;
    font-size: 14px;
}

.select-customer-popup-block .customer-popup-table {
    clear: both;
    border-bottom: solid 1px #bfbfbf;
    overflow: scroll;
    overflow-x: hidden;
    display: block;
    height: 218px;
}

.select-customer-popup-block .customer-popup-table tr {
    display: block;
    border: dashed 1px #bfbfbf;
    padding: 10px 10px 17px 10px;
    margin-bottom: 2px;
}

.select-customer-popup-block .customer-popup-table td {
    vertical-align: top;
    font-size: 14px;
    color: rgb(75, 84, 93);
    font-family: "Roboto", sans-serif;
}

.select-customer-popup-block .customer-popup-table .customer-name {
    width: 200px;
}

.select-customer-popup-block .customer-popup-table .customer-name label {}

.select-customer-popup-block .customer-popup-table .customer-name input {
    margin-right: 5px;
}

.select-customer-popup-block .customer-popup-table .customer-company {
    width: 195px;
    padding-left: 15px;
}

.select-customer-popup-block .customer-popup-table .customer-address {
    width: 247px;
}

.select-customer-popup-block .customer-popup-table .customer-address span {
    width: 135px;
    display: block;
    padding-left: 15px;
}

.select-customer-popup-block .count-customer {
    display: block;
    margin-left: 10px;
    font-size: 14px;
    color: rgb(75, 84, 93);
    font-family: "Roboto", sans-serif;
    margin-top: 5px;
    margin-bottom: 25px;
}

.select-customer-popup-block .buttons-group button span {
    color: hsl(0, 0%, 31%);
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    /*line-height: 33px;*/
    position: relative;
    text-align: center;
    top: 0;
    z-index: 1;
}

.select-customer-popup-block .buttons-group button {
    border: 3px solid hsl(75, 72%, 44%);
    border-radius: 23px;
    margin-right: 5px;
    height: 40px;
    position: relative;
    text-align: center;
    cursor: pointer;
    background: #ffffff;
    display: inline-block;
    width: 178px;
    text-transform: uppercase;
    z-index: 1;
}

.select-customer-popup-block .buttons-group button::before {
    background: hsl(75, 72%, 44%) none repeat scroll 0 0;
    border-radius: 23px;
    content: "";
    height: 100%;
    left: -3px;
    top: 0;
    position: absolute;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    width: 0;
    z-index: 0;
}

.select-customer-popup-block .buttons-group button:hover::before,
.select-customer-popup-block .buttons-group button:focus::before {
    width: 178px !important;
}

.select-customer-popup-block .buttons-group button:hover span,
.select-customer-popup-block .buttons-group button:focus span {
    color: hsl(0, 0%, 100%);
    transition: all 0.25s ease 0s;
}
.select-customer-popup-block .buttons-group button:focus span{
    margin-top: 1px;
}
.select-customer-popup-block .buttons-group a {
    background-color: hsl(0, 0%, 71%);
    border: 3px solid hsl(0, 0%, 71%);
    border-radius: 16px;
    display: inline-block;
    height: 28px;
    line-height: 26px;
    margin-top: 7px;
    padding: 0 30px;
    vertical-align: bottom;
    width: 110px;
}

.select-customer-popup-block .buttons-group a span {
    color: hsl(0, 0%, 100%);
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.select-customer-popup-block .buttons-group a:hover {
    background-color: hsl(0, 0%, 100%);
    transition: all 0.15s ease 0s;
}

.select-customer-popup-block .buttons-group a:hover span {
    color: hsl(0, 0%, 71%);
    transition: all 0.15s ease 0s;
}

.select-customer-popup-block .buttons-group a:focus span {
    margin-top: 1px;
}

.staff-popup-block {
    position: relative;
    /*height: 540px;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 958px;
    z-index: 200;
}

.staff-poput-close {
    background-image: url("../../images/Offer/staff_popup_icons.png");
    background-position: -74px 0;
    background-repeat: no-repeat;
    height: 27px;
    position: fixed;
    right: -27px;
    top: -27px;
    width: 26px;
    opacity: .6;
    -webkit-transition: all .2s ease ;
    -moz-transition: all .2s ease ;
    -ms-transition: all .2s ease ;
    -o-transition: all .2s ease ;
    transition: all .2s ease ;
    cursor: pointer;
}
.staff-poput-close:hover{
    opacity: 1;
}
.offer-popup-all .staff-popup .staff-popup-top {
    padding: 30px 22px;
}

.offer-popup-all .staff-popup .staff-popup-top .staff-title {
    display: block;
    font-size: 26px;
    color: #4B545D;
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px;
}

.offer-popup-all .staff-popup .staff-popup-top .buttons-group button {
    background: none;
    border: none;
    height: 38px;
    line-height: 38px;
    font-family: "Roboto", sans-serif;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    vertical-align: top;
}

.offer-popup-all .staff-popup .staff-popup-top .buttons-group .add-abilities {
    width: 250px;
    border: solid 1px #bfbfbf;
    color: #bfbfbf;
    background: #fff;
    padding-left: 35px;
    line-height: 20px;
    position: relative;
    text-align: left;
    font-weight: 400;
    text-overflow: clip;
}

.offer-popup-all .staff-popup .staff-popup-top .buttons-group .add-abilities:before {
    background-image: url("../../images/Offer/staff_popup_icons.png");
    background-position: 2px 0;
    background-repeat: no-repeat;
    content: "";
    height: 20px;
    left: 7px;
    position: absolute;
    top: 10px;
    width: 20px;
}

.offer-popup-all .staff-popup .staff-popup-top .buttons-group .apply {
    width: 130px;
    background-color: hsl(71, 71%, 43%);
    color: #ffffff;
    text-transform: uppercase;
    /*border-top: solid 1px #9db920;*/
    font-weight: 300;
    box-sizing: border-box;
    margin-left: 1px;
    /*border-bottom: 2px solid #82A617;*/
    line-height: 20px;
    height: 37px;

    box-shadow: 0 2px 0 hsl(75, 76%, 37%);
    cursor: pointer;
    outline: medium none;

    transition: all 0.15s ease 0s;

}
.offer-popup-all .staff-popup .staff-popup-top .buttons-group .apply:hover {
    background-color: hsl(71, 63%, 49%);
}
.offer-popup-all .staff-popup .staff-popup-top .buttons-group .apply:focus{
    background-color: hsl(71, 71%, 43%);
}
.offer-popup-all .staff-popup .staff-popup-top .buttons-group .apply span {
    line-height: 20px;
}
.offer-popup-all .staff-popup .staff-popup-top .buttons-group .apply:focus span{
    display: block;
    margin-top: 2px;
    position: relative;
    top: 0;
}



.offer-popup-all .staff-popup .staff-popup-middle .select-staff-form {
    display: block;
    position: relative;
}

.select-staff-form .iradio-plg {
    width: 50px;
    left: 13px;
}

.select-staff-form .iradio-plg input {
    left: 18px;
}

.select-staff-form label {
    width: 935px;
    border: 1px dashed #fff;
    position: relative;
    /*overflow: hidden;*/
    margin-bottom: 2px;
    left: 2px;
}

.select-staff-form label:hover {
    border: 1px dashed #848C94;
}

.select-staff-form label .bg-inp-r {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 45px;
    background: #fff;
    padding: 0!important;
}

.select-staff-form label:hover .bg-inp-r {
    background: #E9E8E8;
}

.select-staff-form label.active-label {
    border: 1px dashed #848C94;
}

.select-staff-form label.active-label .bg-inp-r {
    background: #E9E8E8;
}

.select-staff-form span {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    font-size: 14px;
    ont-family: "Roboto", sans-serif;
    vertical-align: middle;
}

.select-staff-form span a {
    color: hsl(210, 7%, 38%);
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
}

.select-staff-form span a:hover {
    color: hsl(71, 71%, 43%);
    text-decoration: underline;
}

.select-staff-form .speciality-span {
    width: 187px;
}

.select-staff-form .level-span {
    width: 140px;
}

.select-staff-form .skillset-span {
    width: 310px;
}

.select-staff-form .price-m-span {
    width: 172px;
}













.staff-popup-block .wrapper {
    overflow: hidden;
    /*height: 475px;*/
}

.staff-popup-block .wrp-scroll {
    position: relative;
}

.staff-popup-block .scroller {
    display: block;
    /*max-height: 475px;*/
    width: 302px;
    height: 100%;
    overflow-y: auto;
}

.staff-popup-block .scroll-b {
    display: block;
    max-height: 575px;
    width: 302px;
    height: 100%;
}

.staff-popup-block .scroller__bar-wrapper {
    position: absolute;
    top: 10px;
    right: 2px;
    bottom: 10px;
    z-index: 1;
    opacity: .3;
    width: 8px;
    border-radius: 15px;
    display: block;
    background-color: #88919a;
    transition: .1s;
}

.staff-popup-block .scroller:hover .scroller__bar-wrapper {
    opacity: 1;
    transition: .4s;
}

.staff-popup-block .scroll {
    height: 475px;
    display: block;
}

.staff-popup-block .scroller__bar {
    position: absolute;
    z-index: 1;
    display: block;
    width: 8px;
    height: 36px !important;
    background-image: url('../../images/Offer/scroll.png');
    background-repeat: no-repeat;
    opacity: .6;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
}

.staff-popup-block .scroller__bar:hover {
    opacity: 1;
}

.staff-popup-block .scroller {
    display: block;
    max-height: 475px;
    width: 958px;
    height: 100%;
    overflow-y: auto;
}












.select-customer-popup-block .wrapper {
    overflow: hidden;
    /*height: 475px;*/
}

.select-customer-popup-block .wrp-scroll {
    position: relative;
}

.select-customer-popup-block .scroller {
    display: block;
    /*max-height: 475px;*/
    width: 665px;
    height: 100%;
    overflow-y: auto;
}

.select-customer-popup-block .scroll-b {
    display: block;
    max-height: 180px;
    width: 635px;
    height: 100%;
}

.select-customer-popup-block .scroller__bar-wrapper {
    position: absolute;
    top: 10px;
    right: 2px;
    bottom: 10px;
    z-index: 1;
    opacity: .3;
    width: 8px;
    border-radius: 15px;
    display: block;
    background-color: #88919a;
    transition: .1s;
}

.select-customer-popup-block .scroller:hover .scroller__bar-wrapper {
    opacity: 1;
    transition: .4s;
}

.select-customer-popup-block .scroll {
    height: 180px;
    display: block;
}

.select-customer-popup-block .scroller__bar {
    position: absolute;
    z-index: 1;
    display: block;
    width: 8px;
    height: 36px !important;
    background-image: url('../../images/Offer/scroll.png');
    background-repeat: no-repeat;
    opacity: .6;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
}

.select-customer-popup-block .scroller__bar:hover {
    opacity: 1;
}

.select-customer-popup-block .scroller {
    display: block;
    max-height: 180px;
    width: 665px;
    height: 100%;
    overflow-y: auto;
}













.offer-popup-all .staff-popup .staff-popup-bottom {
    padding: 30px 22px;
}

.offer-popup-all .staff-popup .staff-popup-bottom .specialist-count {
    font-size: 14px;
    display: block;
    color: #4B545D;
    margin-bottom: 20px;
    margin-left: 10px;
}

.offer-popup-all .staff-popup .staff-popup-bottom .accept-button span {
    color: hsl(0, 0%, 31%);
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 33px;
    position: relative;
    text-align: center;
    top: 0;
    z-index: 1;
}

.offer-popup-all .staff-popup .staff-popup-bottom .accept-button {
    border: 3px solid hsl(75, 72%, 44%);
    border-radius: 23px;
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
    cursor: pointer;
    background: #ffffff;
    width: 178px;
    text-transform: uppercase;
    z-index: 1;
}

.offer-popup-all .staff-popup .staff-popup-bottom .accept-button::before {
    background: hsl(75, 72%, 44%) none repeat scroll 0 0;
    border-radius: 23px;
    content: "";
    height: 100%;
    left: -3px;
    top: 0;
    position: absolute;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    width: 0;
    z-index: 0;
}

.offer-popup-all .staff-popup .staff-popup-bottom .accept-button:hover::before,
.offer-popup-all .staff-popup .staff-popup-bottom .accept-button:focus::before {
    width: 178px !important;
}

.offer-popup-all .staff-popup .staff-popup-bottom .accept-button:hover span,
.offer-popup-all .staff-popup .staff-popup-bottom .accept-button:focus span {
    color: hsl(0, 0%, 100%);
    transition: all 0.25s ease 0s;
}

#popup-form {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 2px 1px hsl(0, 0%, 88%);
    box-sizing: border-box;
    display: block;
    left: 0;
    margin: 0 auto;
    padding: 25px 23px 40px;
    position: absolute;
    right: 0;
    top: -789px;
    width: 515px;
    z-index: 200;
}

#popup-form .title-popup-form {
    color: hsl(75, 70%, 47%);
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
}

#popup-form .img-close-bl {
    background-image: url("../../images/Offer/staff_popup_icons.png");
    background-position: -74px 0;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 31px;
    opacity: 0.6;
    position: absolute;
    right: -48px;
    top: 24px;
    width: 33px;
}

#popup-form .img-close-bl:hover {
    opacity: 1;
    transition: all 0.15s ease 0s;
}

#popup-form .reg-form {
    background-color: hsl(0, 0%, 100%);
    display: block;
    margin: 0 auto 3px;
}

#popup-form .reg-form .title-t {
    color: hsl(75, 70%, 47%);
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 12px;
}

#popup-form .reg-form .title-form p {
    color: hsl(216, 5%, 22%);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

#popup-form .reg-form .lang-block {
    display: block;
    margin-top: 20px;
}

#popup-form .reg-form .lang-block .lang-title {
    color: hsl(0, 0%, 54%);
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
}

#popup-form .reg-form .lang-block .lang-brit {
    background-image: url("../../images/Offer/brit-img.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 27px;
    margin-left: 9px;
    opacity: 0.5;
    vertical-align: middle;
    width: 27px;
}

#popup-form .reg-form .lang-block .lang-brit:hover {
    opacity: 1;
    transition: all 1s ease 0s;
}

#popup-form .reg-form .lang-block .lang-brit:focus {
    opacity: 1;
    transition: all 1s ease 0s;
}

#popup-form .reg-form .lang-block .lang-ger {
    background-image: url("../../images/Offer/ger-img.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 27px;
    margin-left: 9px;
    opacity: 0.5;
    vertical-align: middle;
    width: 27px;
}

#popup-form .reg-form .lang-block .lang-ger:hover {
    opacity: 1;
    transition: all 1s ease 0s;
}

#popup-form .reg-form .lang-block .lang-ger:focus {
    opacity: 1;
    transition: all 1s ease 0s;
}

#popup-form .reg-form .block-name {
    border: 2px solid hsl(0, 0%, 75%);
    border-radius: 5px;
    display: block;
    margin-top: 30px;
    padding: 23px 8px;
    position: relative;
}

#popup-form .reg-form .block-name .block-title-name {
    background-color: hsl(0, 0%, 100%);
    color: hsl(218, 6%, 39%);
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    left: 14px;
    padding: 0 14px;
    position: absolute;
    top: -10px;
}

#popup-form .reg-form .block-name .firstname {
    border-bottom: 1px solid hsl(0, 0%, 75%);
    display: block;
    padding-bottom: 3px;
}

#popup-form .reg-form .name-input {
    color: hsl(211, 10%, 42%);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

#popup-form .reg-form .block-name .lastname {
    border-bottom: 1px solid hsl(0, 0%, 75%);
    display: block;
    padding-bottom: 3px;
    padding-top: 22px;
}

#popup-form .reg-form .input-firstname,
.input-lastname {
    width: 75%;
}

#popup-form .reg-form .rel-block {
    position: relative;
}

#popup-form .reg-form .input-main {
    border: medium none;
    color: hsl(210, 11%, 33%);
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    outline: medium none;
    padding-left: 2px;
}

#popup-form .reg-form .valid-error-field {
    background-image: url("../../images/Offer/validate-field.png");
    background-repeat: no-repeat;
    bottom: -2px;
    display: none;
    height: 43px;
    position: absolute;
    right: -217px;
    width: 183px;
}

#popup-form .reg-form .valid-error-field span {
    color: hsl(0, 0%, 100%);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 42px;
    margin-left: 15px;
}

#popup-form .reg-form .company .valid-field {
    bottom: 5px;
}

#popup-form .reg-form .valid-field {
    bottom: 8px;
    display: block;
    height: 17px;
    margin-right: 5px;
    position: absolute;
    right: 0;
    width: 23px;
}

#popup-form .reg-form .valid-field.valid-error {
    margin-right: 3px;
}

.valid-ok {
    background-image: url("../../images/Offer/ok-reg-icon.png");
    background-repeat: no-repeat;
    height: 17px;
    width: 23px;
}

.valid-error {
    background-image: url("../../images/Offer/close-reg-icon.png");
    background-repeat: no-repeat;
    height: 17px;
    width: 17px;
}

#popup-form .reg-form .block-company {
    border: 2px solid hsl(0, 0%, 75%);
    border-radius: 5px;
    display: block;
    margin-top: 20px;
    padding: 10px 8px 8px 9px;
}

#popup-form .reg-form .block-company .valid-error-field {
    bottom: -11px;
}

#popup-form .reg-form .input-company {
    width: 76%;
}

#popup-form .reg-form .block-address {
    border: 2px solid hsl(0, 0%, 75%);
    border-radius: 5px;
    display: block;
    margin-top: 30px;
    padding: 23px 8px;
    position: relative;
}

#popup-form .reg-form .block-address .block-title-name {
    background-color: hsl(0, 0%, 100%);
    color: hsl(218, 6%, 39%);
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    left: 14px;
    padding: 0 14px;
    position: absolute;
    top: -10px;
}

#popup-form .reg-form .block-address .street {
    border-bottom: 1px solid hsl(0, 0%, 75%);
    display: block;
    padding-bottom: 3px;
}

#popup-form .reg-form .block-address .street .input-street {
    width: 51%;
}

#popup-form .reg-form .name-input {
    color: hsl(211, 10%, 42%);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

#popup-form .reg-form .postalcode-city {
    display: block;
    padding-top: 22px;
}

#popup-form .reg-form .postalcode-city .postalcode {
    border-bottom: 1px solid hsl(0, 0%, 75%);
    display: inline-block;
    padding-bottom: 3px;
    width: 47%;
}

#popup-form .reg-form .postalcode-city .postalcode .valid-error-field {
    right: -455px;
}

#popup-form .reg-form .postalcode-city .city {
    border-bottom: 1px solid hsl(0, 0%, 75%);
    display: inline-block;
    margin-left: 19px;
    padding-bottom: 3px;
    width: 47%;
}

#popup-form .reg-form .postalcode-city .input-postalcod {
    width: 40%;
}

#popup-form .reg-form .postalcode-city .input-city {
    width: 67%;
}

#popup-form .reg-form .block-address .region {
    border-bottom: 1px solid hsl(0, 0%, 75%);
    display: block;
    margin-top: 22px;
    padding-bottom: 3px;
}

#popup-form .reg-form .block-address .region .input-region {
    width: 79%;
}

#popup-form .reg-form .block-address .country {
    border-bottom: 1px solid hsl(0, 0%, 75%);
    display: block;
    margin-top: 22px;
    padding-bottom: 3px;
}

#popup-form .reg-form .block-address .country .input-country {
    width: 77%;
}

#popup-form .reg-form .block-phone {
    border: 2px solid hsl(0, 0%, 75%);
    border-radius: 5px;
    display: block;
    margin-top: 20px;
    padding: 10px 8px 8px 9px;
}

#popup-form .reg-form .input-phone {
    width: 60.5%;
}

#popup-form .reg-form .format-phone {
    color: hsl(210, 10%, 47%);
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 15px 8px;
}

#popup-form .reg-form .check {
    display: block;
    padding-top: 32px;
    position: relative;
    text-align: left;
}

#popup-form .reg-form .check .valid-error-field {
    right: -210px;
    top: 21px;
}

#popup-form .reg-form .check .label-text {
    color: hsl(220, 5%, 23%);
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    left: 34px;
    position: absolute;
    top: 25px;
    vertical-align: top;
}

#popup-form .reg-form .check .chek-link {
    color: hsl(210, 74%, 38%);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    left: 34px;
    position: absolute;
    top: 42px;
}

#popup-form .reg-form .check .chek-link:hover {
    text-decoration: underline;
}

#popup-form .reg-form .btn-form {
    position: absolute;
    right: 4px;
    top: 22px;
}

#popup-form .reg-form .btn-form .btn-continue {
    background-color: hsl(0, 0%, 100%);
    border: 3px solid hsl(74, 70%, 46%);
    border-radius: 20px;
    cursor: pointer;
    display: block;
    height: 39px;
    position: relative;
    width: 150px;
}

#popup-form .reg-form .btn-form .btn-continue span {
    color: hsl(212, 11%, 33%);
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    left: 50%;
    line-height: 34px;
    margin-left: -33.9532px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    z-index: 1;
}

#popup-form .reg-form .btn-form .btn-continue:hover::before {
    width: 150px;
}

#popup-form .reg-form .btn-form .btn-continue::before {
    background: hsl(74, 70%, 46%) none repeat scroll 0 0;
    border-radius: 20px;
    content: "";
    height: 100%;
    left: -3px;
    position: absolute;
    top: 0;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    width: 0;
    z-index: 0;
}

#popup-form .reg-form .btn-form .btn-continue:focus {
    background-color: hsl(74, 70%, 46%);
    outline: medium none;
    transition: all 1s ease 0s;
}

#popup-form .reg-form .btn-form .btn-continue:focus span {
    margin-top: 1px;
}
