.content .content-body .filters-block {
    display: block;
    vertical-align: top;
}

.content .content-body .filters-block span.title-flt {
    display: block;
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 14px 16px;
}

.content .content-body .filters-block .form-flt {
    display: block;
}

.content .content-body .filters-block .form-flt .inp-ftr {
    display: inline-block;
    vertical-align: top;
    width: 930px;
    height: 36px;
    background-color: white;
    border: 1px solid #c9c9c9;
    box-shadow: 0 2px 1px #e0e0e0;
    outline: none;
    padding: 0 12px;
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: .15s;
}

.content .content-body .filters-block .form-flt .inp-ftr:hover {
    border: 1px solid #b0b0b0;
    transition: .15s;
}

.content .content-body .filters-block .form-flt .inp-ftr:focus {
    border: 1px solid #b0b0b0;
    box-shadow: 0 2px 1px #e0e0e0;
}

.content .content-body .questions-block {
    display: block;
    margin-top: 20px;
    max-width: 956px;
}

.content .content-body .questions-block .quest-blck {
    display: block;
    margin-top: 2px;
    position: relative;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 1px #e0e0e0;
}

.content .content-body .questions-block .quest-blck .quest-body {
    display: block;
    padding: 17px 64px 17px 20px;
}

.content .content-body .questions-block .quest-blck .quest-body .qeust-top-block:hover {
    cursor: pointer;
}

.content .content-body .questions-block .quest-blck span.title-qest {
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    border-bottom: 1px dashed #8b99a7;
}

.content .content-body .questions-block .quest-blck .btn-cr-ticket {
    position: absolute;
    right: 74px;
    top: 6.4px;
    width: 190px;
    height: 45px;
    background-color: #d9d9d9;
    border-radius: 23px;
    border-top-left-radius: 0;
    text-align: center;
}

.content .content-body .questions-block .quest-blck .btn-cr-ticket span {
    display: block;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 45px;
}

.content .content-body .questions-block .quest-blck .btn-cr-ticket:hover {
    background-color: #9db920;
    transition: .15s;
}

.content .content-body .questions-block .quest-blck .btn-cr-ticket:focus {
    background-color: #9db920;
}

.content .content-body .questions-block .quest-blck .btn-cr-ticket:focus span {
    margin-top: 1px;
}

.content .content-body .questions-block .quest-blck .btn-cr-ticket-out {
    display: block;
    margin-top: 20px;
    width: 190px;
    height: 44px;
    background-color: #d9d9d9;
    border-radius: 23px;
    border-top-left-radius: 0;
    text-align: center;
    padding-top: 1px;
}

.content .content-body .questions-block .quest-blck .btn-cr-ticket-out span {
    display: block;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 45px;
}

.content .content-body .questions-block .quest-blck .btn-cr-ticket-out:hover {
    background-color: #9db920;
    transition: .15s;
}

.content .content-body .questions-block .quest-blck .btn-cr-ticket-out:focus {
    background-color: #9db920;
}

.content .content-body .questions-block .quest-blck .btn-cr-ticket-out:focus span {
    margin-top: 1px;
}

.content .content-body .questions-block .quest-blck .arr-blc {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 46px;
    height: 54px;
    background-color: #98c11f;
    background-image: url('../../../images/Support-Customer/New-Ticket/arr-quest.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: .15s;
}

.content .content-body .questions-block .quest-blck .arr-blc:hover {
    background-color: #b3d327;
    transition: .15s;
}

.content .content-body .questions-block .quest-blck .arr-blc-max {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 46px;
    height: 98.5%;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url('../../../images/Support-Customer/New-Ticket/arr-quest-act.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: .15s;
}

.content .content-body .questions-block .quest-blck .arr-blc-max:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: .15s;
}

.content .content-body .questions-block .quest-blck .bord-l {
    position: absolute;
    display: none;
    top: 2px;
    left: 0;
    width: 4px;
    height: 99%;
    background-color: #9db920;
}

.content .content-body .questions-block .quest-blck .arr-blc:hover {
    cursor: pointer;
}

.content .content-body .questions-block .quest-blck .quest-info-bl {
    display: none;
    margin-top: 20px;
}

.content .content-body .questions-block .quest-blck .quest-info-bl p {
    color: #2d343a;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.content .content-body .pagination-block {
    display: block;
    margin-top: 20px;
}

.content .content-body .pagination-block .nav-l-r {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .pagination-block .nav-l-r .nav-l {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .pagination-block .nav-l-r .nav-l a {
    display: block;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    background-image: url('../../../images/Support-Customer/New-Ticket/arr-nav-l.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: .15s;
}

.content .content-body .pagination-block .nav-l-r .nav-l a:hover {
    background-image: url('../../../images/Support-Customer/New-Ticket/arr-nav-l-hover.png');
    transition: .15s;
}

.content .content-body .pagination-block .nav-l-r .nav-l a:focus {
    box-shadow: 0 1px 1px #e0e0e0;
}

.content .content-body .pagination-block .nav-l-r .nav-r {
    display: inline-block;
    vertical-align: top;
    margin-left: -3px;
}

.content .content-body .pagination-block .nav-l-r .nav-r a {
    display: block;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    background-image: url('../../../images/Support-Customer/New-Ticket/arr-nav-r.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: .15s;
}

.content .content-body .pagination-block .nav-l-r .nav-r a:hover {
    background-image: url('../../../images/Support-Customer/New-Ticket/arr-nav-r-hover.png');
    transition: .15s;
}

.content .content-body .pagination-block .nav-l-r .nav-r a:focus {
    box-shadow: 0 1px 1px #e0e0e0;
}

.content .content-body .pagination-block .page-n-first {
    display: inline-block;
    vertical-align: top;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    text-align: center;
    margin-left: -3px;
}

.content .content-body .pagination-block .page-n-first span {
    color: #848d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 38px;
}

.content .content-body .pagination-block .block-all-p {
    display: inline-block;
    position: relative;
}

.content .content-body .pagination-block .block-all-p .all-p-b {
    vertical-align: top;
    background-image: url('../../../images/Support-Customer/New-Ticket/arr-pagin.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding: 0 42px 0 23px;
    line-height: 38px;
}

.content .content-body .pagination-block .block-all-p span.p-act {
    font-weight: 500;
}

.content .content-body .pagination-block .block-all-p span {
    color: #848d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.content .content-body .pagination-block .block-all-p:hover {
    cursor: pointer;
}

.content .content-body .pagination-block .block-all-p .inp-tp {
    position: absolute;
    display: none;
    top: 104%;
    left: 6px;
    width: 98px;
    height: 38px;
    background-color: white;
    border: 1px solid #c9c9c9;
    box-shadow: 0 2px 1px #e0e0e0;
    outline: none;
    padding: 0 12px 0 10px;
    color: #858d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    z-index: 100;
}

.content .content-body .pagination-block .page-n-last {
    display: inline-block;
    vertical-align: top;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    text-align: center;
}

.content .content-body .pagination-block .page-n-last span {
    color: #848d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 38px;
}
