* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#container {
    position: relative;
    display: block;
    width: 100%;
    min-width: 960px;
    max-width: 1920px;
    height: 100%;
    min-height: 675px;
    background-image: url('../img/BG-picture.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    display: block;
    width: 100%;
    max-width: 1394px;
    margin: 0 auto;
}

.content {
    display: block;
    width: 100%;
}

.content .logo-block {
    display: inline-block;
    width: 37%;
    padding-top: 260px;
    vertical-align: top;
}

.content .logo-block .logo-img {
    display: block;
}

.content .logo-block .title-text {
    display: block;
    margin: 43px 0 26px 0;
}

.content .logo-block .title-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    color: #fff;
}

.content .logo-block .lang-block {
    display: block;
    margin-bottom: 32px;
}

.content .logo-block .lang-block .lang-title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    display: inline-block;
    vertical-align: top;
    color: white;
}

.content .logo-block .lang-block .lang-brit {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-left: 9px;
    vertical-align: top;
    opacity: .5;
    background-image: url('../img/brit-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.content .logo-block .lang-block .lang-brit:hover {
    transition: 1s;
    opacity: 1;
}

.content .logo-block .lang-block .lang-brit:focus {
    transition: 1s;
    opacity: 1;
}

.content .logo-block .lang-block .lang-ger {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-left: 9px;
    vertical-align: top;
    opacity: .5;
    background-image: url('../img/ger-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.content .logo-block .lang-block .lang-ger:hover {
    transition: 1s;
    opacity: 1;
}

.content .logo-block .lang-block .lang-ger:focus {
    transition: 1s;
    opacity: 1;
}

.content .logo-block .btn-started {
    display: block;
}

.content .logo-block .btn-started a {
    line-height: 44px;
    display: block;
    width: 184px;
    height: 44px;
    border: 3px solid white;
    border-radius: 25px;
    position: relative;
}

.content .logo-block .btn-started a span {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding-left: 38px;
    text-transform: uppercase;
    color: white;
    background-image: url('../img/arr.png');
    background-repeat: no-repeat;
    background-position: left 10px center;
    position: absolute;
}

.content .logo-block .btn-started a:hover {
    transition: 1s;
    background-color: #fff;
}

.content .logo-block .btn-started a:hover::before {
    width: 190px;
}

.content .logo-block .btn-started a::before {
    transition-timing-function: linear;
    transition-duration: .15s;
    content: '';
    position: absolute;
    border-radius: 25px;
    height: 100%;
    left: -3px;
    width: 0;
    background: #fff;
    z-index: 0;
}

.content .logo-block .btn-started a:hover span {
    display: block;
    transition: .15s;
    color: #4c565c;
    background-image: url('../img/arr-hover.png');
}

.content .logo-block .btn-started a:focus span {
    display: block;
    margin-top: 1px;
}

.content .authorization-block {
    display: inline-block;
    width: 62.5%;
    padding-top: 203px;
    vertical-align: top;
}

.content .authorization-block .block-reg {
    display: block;
    width: 353px;
    text-align: center;
    vertical-align: top;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(34, 34, 38, .21);
}

.content .authorization-block .block-reg .reg-logo-img {
    display: block;
    padding-top: 47px;
    text-align: center;
}

.content .authorization-block .block-reg .title-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin: 33px 0;
    text-transform: uppercase;
    color: #55575a;
}

.content .authorization-block .block-reg .login-with-social {
    display: block;
}

.content .authorization-block .block-reg .or-bg {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 29px;
    text-align: center;
    background-image: url('../img/or-bg.png');
    background-repeat: no-repeat;
}

.content .authorization-block .block-reg .or-bg span {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: block;
    padding-top: 7px;
    padding-right: 2px;
    color: #55575a;
}

.content .authorization-block .block-reg .autoriz-social {
    display: block;
    padding-top: 6px;
    padding-bottom: 25px;
    text-align: center;
    background-color: #ececec;
}

.content .authorization-block .block-reg .autoriz-social span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #35373a;
}

.content .authorization-block .block-reg .login-with-mail {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    display: inline-block;
    padding-left: 26px;
    color: #1961ab;
    background-image: url('../img/soc-img.png');
    background-repeat: no-repeat;
    background-position: left top 3.5px;
}

.content .authorization-block .block-reg .login-with-mail:hover {
    text-decoration: underline;
}

.content .authorization-block .block-reg .autoriz-social .login-fb {
    line-height: 50px;
    display: block;
    width: 292px;
    height: 50px;
    margin: 0 auto;
    margin-top: 18px;
    background-image: url('../img/fb.png');
    background-repeat: no-repeat;
}

.content .authorization-block .block-reg .autoriz-social .login-fb span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    padding-left: 35px;
    color: #fff;
}

.content .authorization-block .block-reg .autoriz-social .login-fb:hover {
    transition: 1s;
    text-decoration: none;
    background-image: url('../img/fb-hover.png');
}

.content .authorization-block .block-reg .autoriz-social .login-gl {
    line-height: 50px;
    display: block;
    width: 292px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    background-image: url('../img/gl.png');
    background-repeat: no-repeat;
}

.content .authorization-block .block-reg .autoriz-social .login-gl span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    padding-left: 35px;
    color: #353535;
}

.content .authorization-block .block-reg .autoriz-social .login-gl:hover {
    transition: 1s;
    text-decoration: none;
    background-image: url('../img/gl-hover.png');
}

.content .authorization-block .block-reg .autoriz-social .login-gl:hover span {
    transition: 1s;
    color: #fff;
}

.content .authorization-block .block-reg .form-block {
    display: block;
    margin-top: 1px;
    padding: 0 30px;
    text-align: center;
}

.content .authorization-block .block-reg .form-block .title-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #55575a;
}

.content .authorization-block .block-reg .form-block .input-form {
    display: block;
    width: 99%;
    margin: 0 auto;
    margin-top: 21px;
    border: 2px solid #a2a2a2;
    border-radius: 10px;
    background-color: white;
}

.content .authorization-block .block-reg .form-block .input-mail {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    padding: 12px 8px 15px 10px;
    color: #353535;
    border: none;
}

.content .authorization-block .block-reg .form-block .input-mail::-webkit-input-placeholder {
    color: #353535;
}

.content .authorization-block .block-reg .form-block .input-mail::-moz-placeholder {
    opacity: 1;
    color: #353535;
}

.content .authorization-block .block-reg .form-block .input-mail:focus::-moz-placeholder {
    opacity: .5;
}

.content .authorization-block .block-reg .form-block .input-mail:focus::-webkit-input-placeholder {
    opacity: .5;
}

.content .authorization-block .block-reg .form-block .input-mail:focus {
    outline: none;
}

.content .authorization-block .block-reg .form-block .line-g {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #a2a2a2;
}

.content .authorization-block .block-reg .form-block .block-pass {
    display: block;
    width: 100%;
}

.content .authorization-block .block-reg .form-block .input-pass {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 15px 8px 12px 8px;
    color: #353535;
    border: none;
}

.content .authorization-block .block-reg .form-block .input-pass::-webkit-input-placeholder {
    color: #353535;
}

.content .authorization-block .block-reg .form-block .input-pass:focus::-webkit-input-placeholder {
    opacity: .5;
}

.content .authorization-block .block-reg .form-block .input-pass::-moz-placeholder {
    opacity: 1;
    color: #353535;
}

.content .authorization-block .block-reg .form-block .input-pass:focus::-moz-placeholder {
    opacity: .5;
}

.content .authorization-block .block-reg .form-block .input-pass:focus {
    outline: none;
}

.content .authorization-block .block-reg .form-block .btn-form {
    display: block;
    margin-top: 78px;
}

.content .authorization-block .block-reg .form-block .btn-form .btn-continue {
    display: block;
    width: 160px;
    height: 46px;
    margin: 0 auto;
    border: none;
    border-radius: 23px;
    background-color: #96c11f;
}

.content .authorization-block .block-reg .form-block .btn-form .btn-continue span {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.content .authorization-block .block-reg .form-block .btn-form .btn-continue:hover {
    cursor: pointer;
    transition: .5s;
    background-color: #86ad1a;
}

.content .authorization-block .block-reg .form-block .btn-form .btn-continue:focus {
    outline: none;
    background-color: #96c11f;
}

.content .authorization-block .block-reg .form-block .btn-form .btn-continue:focus span {
    display: block;
    margin-top: 1px;
}

.content .authorization-block .block-reg .check {
    position: relative;
    display: block;
    text-align: left;
}

.content .authorization-block .block-reg .check .checkbox {
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.content .authorization-block .block-reg .check input[type='checkbox'] {
    display: none;
}

.content .authorization-block .block-reg .check input[type='checkbox'] + .label-text:before {
    position: absolute;
    top: 7px;
    right: 100%;
    display: inline-block;
    margin-right: 10px;
    content: url('../img/check-off.png');
}

.content .authorization-block .block-reg .check input:checked + .label-text:before {
    display: inline-block;
    margin-right: 10px;
    content: url('../img/check-on.png');
    vertical-align: bottom;
}

.content .authorization-block .block-reg .check label {
    cursor: pointer;
}

.content .authorization-block .block-reg .check .label-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 25px;
    left: 33px;
    display: inline-block;
    vertical-align: top;
    color: #383a3e;
}

.content .authorization-block .block-reg .check .chek-link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 42px;
    left: 33px;
    color: #1961ab;
}

.content .authorization-block .block-reg .check .chek-link:hover {
    text-decoration: underline;
}

.content .authorization-block .block-reg .line-bt {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #bbb;
}

.content .authorization-block .block-reg .block-reg-bottom {
    display: block;
    padding: 23px 0;
}

.content .authorization-block .info-login-reg {
    display: block;
    float: right;
}

.content .authorization-block .info-login-reg span {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #35373a;
}

.content .authorization-block .info-login-reg span strong {
    font-weight: 700;
}

.content .authorization-block .info-login-reg a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #1961ab;
}

.content .authorization-block .info-login-reg a:hover {
    text-decoration: underline;
}

footer {
    display: block;
    width: 100%;
    margin-top: 160px;
}

footer .ft-logo {
    display: block;
}

footer .ft-logo a {
    opacity: .25;
}

footer .ft-logo a:hover {
    transition: 1s;
    opacity: 1;
}

footer .ft-info {
    display: block;
    margin-top: 15px;
}

footer .ft-info .ft-phone {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    opacity: .25;
    color: #a1a1a1;
}

footer .ft-info .ft-phone:hover {
    transition: 1s;
    opacity: 1;
}

footer .ft-info .ft-cp {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-top: 5px;
    opacity: .25;
    color: #a1a1a1;
}

footer .ft-info .ft-cp:hover {
    transition: 1s;
    opacity: 1;
}

@media (min-height: 320px) and (max-height: 958px) {
    .content .authorization-block {
        padding-top: 100px;
        transition: 1s;
    }
}

@media (min-height: 320px) and (max-height: 895px) {
    footer {
        margin-top: 120px;
        transition: 1s;
    }
}

@media (min-height: 320px) and (max-height: 800px) {
    .content .authorization-block {
        padding-top: 0;
        transition: 1s;
    }
    .content .authorization-block .block-reg .autoriz-social {
        padding-bottom: 20px;
        transition: 1s;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .content .authorization-block .block-reg {
        transition: 1s;
        border-radius: 0;
        background-color: #fff;
        box-shadow: none;
    }
    .content .authorization-block {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        transition: 1s;
    }
    .content .authorization-block .block-reg .form-logo-img {
        padding-top: 30%;
        transition: 1s;
    }
    .content .authorization-block .info-login-reg {
        height: 100%;
        transition: 1s;
        background-color: #fff;
    }
}

@media (min-width: 320px) and (max-width: 1280px) {
    .content .authorization-block {
        padding-top: 0;
        transition: 1s;
    }
    .content .authorization-block .block-reg .autoriz-social {
        padding-bottom: 20px;
        transition: 1s;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .content .authorization-block .block-reg {
        transition: 1s;
        border-radius: 0;
        background-color: #fff;
        box-shadow: none;
    }
    .content .authorization-block {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        transition: 1s;
    }
    .content .authorization-block .block-reg .form-logo-img {
        padding-top: 30%;
        transition: 1s;
    }
    .content .authorization-block .info-login-reg {
        height: 100%;
        transition: 1s;
        background-color: #fff;
    }
    .content .authorization-block .block-reg .reg-logo-img {
        padding-top: 40%;
        transition: 1s;
    }
}

@media (min-height: 320px) and (max-height: 800px) {
    .content .authorization-block .block-reg .reg-logo-img {
        padding-top: 30%;
        transition: 1s;
    }
}

@media (min-height: 320px) and (max-height: 710px) {
    .content .authorization-block .block-reg .reg-logo-img {
        padding-top: 20%;
        transition: 1s;
    }
}

@media (min-width: 320px) and (max-width: 1460px) {
    .content .logo-block {
        width: 29%;
        padding-top: 200px;
        padding-left: 80px;
    }
    .content .authorization-block {
        width: 62.5%;
    }
}

@media (min-width: 320px) and (max-width: 1265px) {
    .content .logo-block {
        width: 24%;
        padding-top: 130px;
    }
}

@media (min-width: 320px) and (max-width: 1020px) {
    .content .logo-block {
        padding-top: 110px;
        padding-left: 60px;
    }
}

@media (min-height: 320px) and (max-height: 750px) {
    .content .logo-block {
        padding-top: 90px;
    }
}

@media (min-height: 320px) and (max-height: 740px) {
    .content .authorization-block .block-reg .form-logo-img {
        padding-top: 15%;
        transition: 1s;
    }
}

@media (min-height: 320px) and (max-height: 670px) {
    .content .authorization-block .block-reg .form-logo-img {
        padding-top: 10%;
        transition: 1s;
    }
}

@media (min-height: 320px) and (max-height: 857px) {
    .content .logo-block {
        padding-top: 90px;
        transition: 1s;
    }
    footer {
        margin-top: 90px;
        transition: 1s;
    }
}

@media (min-height: 320px) and (max-height: 810px) {
    .content .logo-block {
        padding-top: 80px;
        transition: 1s;
    }
    footer {
        margin-top: 80px;
        transition: 1s;
    }
}

@media (min-height: 320px) and (max-height: 787px) {
    .content .logo-block {
        padding-top: 50px;
        transition: 1s;
    }
    footer {
        margin-top: 40px;
        transition: 1s;
    }
}
