.content .content-body .content-top-block {
    display: block;
}

.content .content-body .content-top-block .date-block {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .content-top-block .date-block .date-top {
    display: block;
}

.content .content-body .content-top-block .date-block .date-top .tl-date {
    display: inline-block;
    vertical-align: top;
    width: 99px;
    height: 37px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    background-image: url('../../../images/My-Orders/My-Open-Orders/date-img.png');
    background-repeat: no-repeat;
    background-position: top 10px left 12px;
    text-align: right;
}

.content .content-body .content-top-block .date-block .date-top .tl-date span {
    color: #57bdde;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 37px;
    padding-right: 20px;
    text-transform: uppercase;
}

.content .content-body .content-top-block .date-block .date-top .btn-cld {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: -1px;
    width: 200px;
    height: 37px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
}

.content .content-body .content-top-block .date-block .date-top .btn-cld span {
    color: #858d95;
    font-family: CAPSUULA;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 37px;
    padding-left: 10px;
}

.content .content-body .content-top-block .date-block .date-top .btn-cld:after {
    height: 100%;
    width: 20px;
    background-color: #e5e5e5;
    background-image: url('../../../images/My-Orders/My-Open-Orders/select-arr.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 3px;
    bottom: 0;
    content: '';
    display: block;
    margin: auto 0;
}

.content .content-body .content-top-block .date-block .date-top .btn-cld:hover {
    cursor: pointer;
}

.content .content-body .content-top-block .inp-srch-bl {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

.content .content-body .content-top-block .inp-srch-bl .inp-srch {
    display: block;
    width: 248px;
    height: 36px;
    background-color: white;
    border: 1px solid #c9c9c9;
    box-shadow: 0 2px 1px #e0e0e0;
    background-image: url('../../../images/My-Orders/My-Open-Orders/srch-img.png');
    background-repeat: no-repeat;
    background-position: center right 12px;
    padding: 0 42px 0 12px;
    outline: none;
    color: #596067;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: .15s;
}

.content .content-body .content-top-block .inp-srch-bl .inp-srch:hover {
    border: 1px solid #b0b0b0;
    transition: .15s;
}

.content .content-body .content-top-block .inp-srch-bl .inp-srch:focus {
    border: 1px solid #b0b0b0;
}

.content .content-body .pagination-block {
    display: block;
    margin-top: 20px;
}

.content .content-body .pagination-block .nav-l-r {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .pagination-block .nav-l-r .nav-l {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .pagination-block .nav-l-r .nav-l a {
    display: block;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    background-image: url('../../../images/My-Orders/My-Open-Orders/arr-nav-l.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: .15s;
}

.content .content-body .pagination-block .nav-l-r .nav-l a:hover {
    background-image: url('../../../images/My-Orders/My-Open-Orders/arr-nav-l-hover.png');
    transition: .15s;
}

.content .content-body .pagination-block .nav-l-r .nav-l a:focus {
    box-shadow: 0 1px 1px #e0e0e0;
}

.content .content-body .pagination-block .nav-l-r .nav-r {
    display: inline-block;
    vertical-align: top;
    margin-left: -3px;
}

.content .content-body .pagination-block .nav-l-r .nav-r a {
    display: block;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    background-image: url('../../../images/My-Orders/My-Open-Orders/arr-nav-r.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: .15s;
}

.content .content-body .pagination-block .nav-l-r .nav-r a:hover {
    background-image: url('../../../images/My-Orders/My-Open-Orders/arr-nav-r-hover.png');
    transition: .15s;
}

.content .content-body .pagination-block .nav-l-r .nav-r a:focus {
    box-shadow: 0 1px 1px #e0e0e0;
}

.content .content-body .pagination-block .page-n-first {
    display: inline-block;
    vertical-align: top;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    text-align: center;
    margin-left: -3px;
}

.content .content-body .pagination-block .page-n-first span {
    color: #848d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 38px;
}

.content .content-body .pagination-block .block-all-p {
    display: inline-block;
    position: relative;
}

.content .content-body .pagination-block .block-all-p .all-p-b {
    vertical-align: top;
    background-image: url('../../../images/My-Orders/My-Open-Orders/arr-pagin.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding: 0 39px 0 20px;
    line-height: 38px;
}

.content .content-body .pagination-block .block-all-p span.p-act {
    font-weight: 500;
}

.content .content-body .pagination-block .block-all-p span {
    color: #848d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.content .content-body .pagination-block .block-all-p:hover {
    cursor: pointer;
}

.content .content-body .pagination-block .block-all-p .form-tp {
    display: none;
    position: absolute;
    top: 104%;
    left: 3px;
    z-index: 100;
}

.content .content-body .pagination-block .block-all-p .inp-tp {
    display: block;
    width: 98px;
    height: 38px;
    background-color: white;
    border: 1px solid #c9c9c9;
    box-shadow: 0 2px 1px #e0e0e0;
    outline: none;
    padding: 0 12px 0 10px;
    color: #858d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.content .content-body .pagination-block .page-n-last {
    display: inline-block;
    vertical-align: top;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    text-align: center;
}

.content .content-body .pagination-block .page-n-last span {
    color: #848d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 38px;
}

.content .content-body .tbl-block {
    display: block;
    max-width: 954px;
    margin-top: 24px;
    border-spacing: 0px;
}

.content .content-body .tbl-block .tr-title {
    display: block;
    background-color: transparent;
    padding-bottom: 12px;
}

.content .content-body .tbl-block .tr-title span {
    color: #858d95;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.content .content-body .tbl-block .tr-title span.sp-lt {
    color: #858d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.content .content-body .tbl-block .td-descriptions {
    width: 260px;
    padding-left: 36px;
    box-sizing: border-box;
    text-align: left;
}

.content .content-body .tbl-block .td-order {
    width: 130px;
    text-align: left;
}

.content .content-body .tbl-block .td-invoice {
    width: 130px;
    text-align: left;
}

.content .content-body .tbl-block .td-date {
    width: 130px;
    text-align: left;
}

.content .content-body .tbl-block .td-amount {
    width: 140px;
    text-align: left;
}

.content .content-body .tbl-block .td-downloads {
    width: 147px;
    text-align: center;
}

.content .content-body .tbl-block .tr-bd {
    display: block;
    border-left: 5px solid #9db91f;
    background-color: white;
    box-shadow: 0 1px 1px #e0e0e0;
    margin-bottom: 2px;
}

.content .content-body .tbl-block .tr-bd td {
    height: 38px;
}

.content .content-body .tbl-block .tr-bd .td-descriptions {
    width: 256px;
    padding-left: 31px;
    box-sizing: border-box;
    text-align: left;
}

.content .content-body .tbl-block .tr-bd span {
    color: #596067;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.content .content-body .tbl-block .tr-bd .a-dwld {
    display: block;
    width: 100%;
    height: 38px;
    position: relative;
    background-color: transparent;
    line-height: 38px;
    transition: .15s;
}

.content .content-body .tbl-block .tr-bd .a-dwld span {
    color: #596067;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.content .content-body .tbl-block .tr-bd .a-dwld .d-img {
    position: absolute;
    display: block;
    width: 21px;
    height: 26px;
    background-image: url('../../../images/My-Orders/My-Invoice/pdf-img.png');
    background-repeat: no-repeat;
    left: 8px;
    top: 6px;
}

.content .content-body .tbl-block .tr-bd .a-dwld .d-arr {
    position: absolute;
    display: block;
    width: 13px;
    height: 12px;
    background-image: url('../../../images/My-Orders/My-Open-Orders/d-arr.png');
    background-repeat: no-repeat;
    right: 14px;
    top: 12px;
}

.content .content-body .tbl-block .tr-bd .a-dwld:hover {
    background-color: #9db920;
    transition: .15s;
}

.content .content-body .tbl-block .tr-bd .a-dwld:hover span {
    color: #fff;
    transition: .15s;
}

.content .content-body .tbl-block .tr-bd .a-dwld:hover .d-arr {
    background-image: url('../../../images/My-Orders/My-Open-Orders/d-arr-h.png');
    transition: .15s;
}
