

.content .content-body .content-top-block {
    display: block;
}

.content .content-body .cnt-top {
    display: block;
}

.content .content-body .cnt-bt {
    display: block;
    margin-top: 20px;
}

.content .content-body .content-top-block .date-block {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .content-top-block .date-block .date-top {
    display: block;
}

.content .content-body .content-top-block .date-block .date-top .tl-date {
    display: inline-block;
    vertical-align: top;
    width: 99px;
    height: 37px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;

    background-image: url('../../../images/My-Orders/My-Open-Orders/date-img.png');
    background-repeat: no-repeat;
    background-position: top 10px left 12px;
    text-align: right;
}

.content .content-body .content-top-block .date-block .date-top .tl-date span {
    color: #57bdde;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 37px;
    padding-right: 20px;
    text-transform: uppercase;
}

.content .content-body .content-top-block .date-block .date-top .btn-cld {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: -1px;
    width: 200px;
    height: 37px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
}

.content .content-body .content-top-block .date-block .date-top .btn-cld span {
    color: #858d95;
    font-family: CAPSUULA;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 37px;
    padding-left: 10px;
}

.content .content-body .content-top-block .date-block .date-top .btn-cld:after {
    height: 100%;
    width: 20px;
    background-color: #e5e5e5;
    background-image: url('../../../images/My-Orders/My-Open-Orders/select-arr.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 3px;
    bottom: 0;
    content: '';
    display: block;
    margin: auto 0;
}

.content .content-body .content-top-block .date-block .date-top .btn-cld:hover {
    cursor: pointer;
}

.content .content-body .content-top-block .inp-srch-bl {
    display: inline-block;
    vertical-align: top;
    margin-left: 18.5px;
}

.content .content-body .content-top-block .inp-srch-bl .inp-srch {
    display: block;
    width: 248px;
    height: 36px;
    background-color: white;
    border: 1px solid #c9c9c9;
    box-shadow: 0 2px 1px #e0e0e0;
    background-image: url('../../../images/My-Orders/My-Open-Orders/srch-img.png');
    background-repeat: no-repeat;
    background-position: center right 12px;
    padding: 0 42px 0 12px;
    outline: none;
    color: #596067;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.content .content-body .content-top-block .inp-srch-bl .inp-srch:hover {
    border: 1px solid #b0b0b0;
    transition: .15s;
}

.content .content-body .content-top-block .inp-srch-bl .inp-srch:focus {
    border: 1px solid #b0b0b0;
}

.content .content-body .form-staffs {
    display: inline-block;
    vertical-align: top;
    margin-left: 18.5px;
}

.content .content-body .form-pay-status {
    display: inline-block;
    vertical-align: top;
    margin-left: 18.5px;
}

.content .content-body .form-ord-status {
    display: inline-block;
    vertical-align: top;
    margin-left: 18.5px;
}

.content .content-body .pagination-block {
    display: inline-block;
}

.content .content-body .pagination-block .nav-l-r {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .pagination-block .nav-l-r .nav-l {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .pagination-block .nav-l-r .nav-l a {
    display: block;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    background-image: url('../../../images/My-Orders/My-Open-Orders/arr-nav-l.png');
    background-repeat: no-repeat;
    background-position: center;
}

.content .content-body .pagination-block .nav-l-r .nav-l a:hover {
    background-image: url('../../../images/My-Orders/My-Open-Orders/arr-nav-l-hover.png');
    transition: .15s;
}

.content .content-body .pagination-block .nav-l-r .nav-l a:focus {
    box-shadow: 0 1px 1px #e0e0e0;
}

.content .content-body .pagination-block .nav-l-r .nav-r {
    display: inline-block;
    vertical-align: top;
    margin-left: -3px;
}

.content .content-body .pagination-block .nav-l-r .nav-r a {
    display: block;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    background-image: url('../../../images/My-Orders/My-Open-Orders/arr-nav-r.png');
    background-repeat: no-repeat;
    background-position: center;
}

.content .content-body .pagination-block .nav-l-r .nav-r a:hover {
    background-image: url('../../../images/My-Orders/My-Open-Orders/arr-nav-r-hover.png');
    transition: .15s;
}

.content .content-body .pagination-block .nav-l-r .nav-r a:focus {
    box-shadow: 0 1px 1px #e0e0e0;
}

.content .content-body .pagination-block .page-n-first {
    display: inline-block;
    vertical-align: top;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    text-align: center;
    margin-left: -3px;
}

.content .content-body .pagination-block .page-n-first span {
    color: #848d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 38px;
}

.content .content-body .pagination-block .block-all-p {
    display: inline-block;
    position: relative;
}

.content .content-body .pagination-block .block-all-p .all-p-b {
    vertical-align: top;
    background-image: url('../../../images/My-Orders/My-Open-Orders/arr-pagin.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding: 0 39px 0 20px;
    line-height: 38px;
}

.content .content-body .pagination-block .block-all-p span.p-act {
    font-weight: 500;
}

.content .content-body .pagination-block .block-all-p span {
    color: #848d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.content .content-body .pagination-block .block-all-p:hover {
    cursor: pointer;
}

.content .content-body .pagination-block .block-all-p .form-tp {
    display: none;
    position: absolute;
    top: 104%;
    left: 3px;
}

.content .content-body .pagination-block .block-all-p .inp-tp {
    display: block;
    width: 98px;
    height: 38px;
    background-color: white;
    border: 1px solid #c9c9c9;
    box-shadow: 0 2px 1px #e0e0e0;
    outline: none;
    padding: 0 12px 0 10px;
    color: #858d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.content .content-body .pagination-block .page-n-last {
    display: inline-block;
    vertical-align: top;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    text-align: center;
}

.content .content-body .pagination-block .page-n-last span {
    color: #848d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 38px;
}

.content .content-body .table-orders {
    display: block;
    margin: 20px 0;
    max-width: 954px;
}

.content .content-body .table-orders .tr-tlfrst {
    display: block;
    background-color: transparent;
    padding-bottom: 14px;
}

.content .content-body .table-orders .td-descript {
    display: inline-block;
    vertical-align: top;
    width: 260px;
    padding-left: 32px;
    box-sizing: border-box;
}

.content .content-body .table-orders .tr-tlfrst span {
    color: #858d95;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.content .content-body .table-orders .td-offnmb {
    display: inline-block;
    vertical-align: top;
    width: 140px;
}

.content .content-body .table-orders .td-dt {
    display: inline-block;
    vertical-align: top;
    width: 120px;
}

.content .content-body .table-orders .td-amnt {
    display: inline-block;
    vertical-align: top;
    width: 100px;
}

.content .content-body .table-orders .td-pmtst {
    display: inline-block;
    vertical-align: top;
    width: 150px;
}

.content .content-body .table-orders .td-ordst {
    display: inline-block;
    vertical-align: top;
    width: 164px;
}

.content .content-body .table-orders .td-pmtst span {
    display: inline-block;
    margin-left: 5px;
    color: #596067;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.content .content-body .table-orders .td-ordst span {
    display: inline-block;
    margin-left: 5px;
    color: #596067;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.content .content-body .table-orders .tr-body {
    display: block;
    margin-bottom: 2px;
}

.content .content-body .table-orders .st-img img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

.content .content-body .table-orders .tr-body span {
    color: #596067;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.content .content-body .table-orders .tr-body .arr-op-bg-r {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: #ff6c6c;
    width: 21px;
    height: 100%;
}

.content .content-body .table-orders .tr-body .arr-op-r {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 21px;
    height: 100%;
    background-image: url('../../../images/My-Orders/My-Open-Orders/arr-tb-op.png');
    background-repeat: no-repeat;
    background-position: center;
}

.content .content-body .table-orders .tr-body .arr-cls-r {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 21px;
    height: 100%;
    background-image: url('../../../images/My-Orders/My-Open-Orders/arr-tb-cl.png');
    background-repeat: no-repeat;
    background-position: center;
}

.content .content-body .table-orders .tr-body .arr-op-bg-g {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: #9db920;
    width: 21px;
    height: 100%;
}

.content .content-body .table-orders .tr-body .arr-op-bg-y {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: #e4bc0c;
    width: 21px;
    height: 100%;
}

.content .content-body .table-orders .tr-body .tr-btn-op {
    display: block;
    position: relative;
    height: 38px;
    background-color: #fff;
    box-shadow: 0 1px 1px #e0e0e0;
    line-height: 38px;
}

.content .content-body .table-orders .tr-body .tr-btn-op .arr-cl-r {
    position: absolute;
    display: none;
    right: 12px;
    top: 14px;
    width: 11px;
    height: 11px;
    background-color: transparent;
    background-image: url('../../../images/My-Orders/My-Open-Orders/cl-img.png');
    background-repeat: no-repeat;
}

.content .content-body .table-orders .tr-body .tr-btn-op:hover {
    cursor: pointer;
    background-color: #f7f7f7;
    transition: .15s;
}

.content .content-body .table-orders .tr-body .tr-bd-cnt {
    display: none;
    width: 100%;
}

.content .content-body .table-orders .tr-body .tr-bd-cnt .order-full-block {
    display: block;
    background-color: #f7f7f7;
    padding: 16px 0 18px 30px;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .title-fb {
    display: block;
    color: #b1bbc4;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .orders-block {
    display: block;
    margin-top: 22px;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .orders-info {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .orders-info .img-ord {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .orders-info .inf-ord {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    margin-left: 10px;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .orders-info .inf-ord strong {
    display: block;
    color: #4c565c;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .orders-info .inf-ord span {
    display: block;
    padding-top: 5px;
    color: #7e8c94;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .st-end-block {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-top: 4px;
    width: 284px;
    height: 35px;
    background-image: url('../../../images/My-Orders/My-Open-Orders/st-end-img.png');
    background-repeat: no-repeat;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .st-end-block .start-bl {
    position: absolute;
    display: block;
    top: 9.5px;
    left: 12px;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .st-end-block .end-bl {
    position: absolute;
    top: 9.5px;
    right: 14px;
    display: block;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .st-end-block .tl-st-end {
    display: inline-block;
    vertical-align: top;
    color: #4c565c;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .st-end-block .sp-date {
    display: inline-block;
    vertical-align: top;
    margin-top: -0.5px;
    color: #749317;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .price-ord {
    display: inline-block;
    vertical-align: top;
    margin-left: 35px;
    margin-top: 4px;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .price-ord .tl-sp-pr {
    display: inline-block;
    vertical-align: top;
    color: #4c565c;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .price-ord .pr-sp {
    display: inline-block;
    vertical-align: top;
    color: #749317;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .price-ord .i-vat {
    display: block;
    margin-top: 4px;
    text-align: right;
    color: #4c565c;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .dwnld-inc {
    display: inline-block;
    vertical-align: top;
    margin-top: 14px;
    margin-left: 62px;
}

.content .content-body .tr-body .tr-bd-cnt .order-full-block .dwnld-inc .dwnld-a {
    display: block;
    color: #a3a8ad;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-right: 26px;
    text-transform: uppercase;
    background-image: url('../../../images/My-Orders/My-Open-Orders/dwnl-img-ivc.png');
    background-repeat: no-repeat;
    background-position: top 1px right;
}

.content .content-body .table-orders .tr-body .tr-bd-cnt .order-procces-block {
    display: block;
    width: 100%;
    background-color: #f7f7f7;
}

.content .content-body .table-orders .tr-body .tr-bd-cnt .order-procces-block .tl-proc-ord {
    display: block;
    padding: 16px 0 0 30px;
    color: #b1bbc4;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl {
    display: block;
    margin-top: 18px;
    background-color: #4b545d;
    height: 81px;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main {
    position: relative;
    padding-left: 7px;
    width: 185px;
    box-sizing: border-box;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .st-img-prog {
    display: block;
    position: absolute;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .st-img-prog1 {
    top: -8px;
    left: 26px;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .st-img-prog2 {
    top: -8px;
    left: 12px;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .st-img-prog3 {
    top: -8px;
    left: 13px;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .st-img-prog4 {
    top: -8px;
    left: 14px;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .st-img-prog5 {
    top: -8px;
    left: 14px;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .st-img-prog6 {
    top: -8px;
    right: 0px;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .block-problem {
    position: absolute;
    top: 0;
    left: 25px;
    display: block;
    width: 119px;
    height: 18px;
    background-color: #e4bc0c;
    border-radius: 9px;
    text-align: center;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .block-problem span {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.11);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .block-fixprbl .bl-fix-h:hover {
    cursor: pointer;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .block-fixprbl {
    position: relative;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .block-fixprbl .block-info-fix {
    position: absolute;
    z-index: 999;
    display: none;
    width: 268px;
    padding-bottom: 35px;
    background-color: white;
    border-radius: 9px;
    border-top-left-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .block-fixprbl .block-info-fix .fix-bg-m {
    position: absolute;
    display: block;
    top: -5px;
    left: -1px;
    width: 10px;
    height: 6px;
    background-image: url('../../../images/My-Orders/My-Open-Orders/fix-bg-m.png');
    background-repeat: no-repeat;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .block-fixprbl .top-fix-bl {
    display: block;
    padding: 12px 12px 8px 12px;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .block-fixprbl .line-bt-fix {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #b2b2b2;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.18);
    z-index: 99;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .block-fixprbl .top-fix-bl span {
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .block-fixprbl .btn-supp {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 134px;
    height: 35px;
    background-image: url('../../../images/My-Orders/My-Open-Orders/bg-btn-supp.png');
    border-bottom-left-radius: 9px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: white;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .block-fixprbl .btn-fix-prbm {
    display: block;
    position: absolute;
    width: 134px;
    height: 35px;
    background-color: #94bb22;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 9px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: white;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-main .step-nxt {
    display: block;
    position: absolute;
    width: 16px;
    height: 81px;
    right: 0;
    top: 0;
    background-image: url('../../../images/My-Orders/My-Open-Orders/step-after.png');
    background-repeat: no-repeat;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .st-img {
    display: inline-block;
    vertical-align: middle;
    line-height: 81px;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .st-info {
    display: inline-block;
    vertical-align: middle;
    width: 115px;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .st-info span {
    display: block;
    padding-left: 6px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-ord1 {
    display: inline-block;
    vertical-align: top;
    padding-left: 18px;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-ord2 {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-ord3 {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-ord4 {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-ord5 {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .tr-bd-cnt .order-procces-block .ord-proc-bl .step-ord5 .block-opc {
    opacity: 0.5;
}
