* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-width: 960px;
    min-width: 960px;
    min-height: 600px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
}

header {
    display: block;
    width: 100%;
    height: 82px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
}

header .header-left-block {
    display: inline-block;
    height: 100%;
    background-color: #4a545d;
}

header .header-left-block .logo-img {
    line-height: 82px;
    display: inline-block;
    height: 82px;
    margin-left: 22px;
}

header .header-left-block .logo-img a img {
    vertical-align: middle;
}

header .header-left-block .title-text {
    display: inline-block;
    padding-right: 46px;
    padding-left: 10px;
}

header .header-left-block .title-text span {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;
    display: inline-block;
    text-transform: uppercase;
    color: #acb6c0;
}

header .header-top {
    display: inline-block;
}

header .header-top .header-text {
    display: inline-block;
    padding-left: 30px;
    vertical-align: middle;
}

header .header-top .title-text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    display: block;
    padding-bottom: 1px;
    color: #454c53;
}

header .header-top a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    color: #98c11f;
}

header .header-top a:hover {
    text-decoration: underline;
}

header .header-top .arrow-step {
    display: inline-block;
    width: 14px;
    margin: 0 8px;
    background-image: url('../img/arrow-step.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

header .header-top .finish-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #7d8790;
}

.content {
    display: block;
}

.content .verification-form {
    display: block;
    width: 462px;
    margin: 0 auto;
    padding: 24px 24px 36px 24px;
    background-color: #fff;
    box-shadow: 0 2px 1px #e0e0e0;
}

.content .verification-form {
    margin-top: 250px;
    transition: 1s;
}

.content .verification-form .title-form {
    display: block;
}

.content .verification-form .title-form span {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #a0ca24;
}

.content .verification-form .text-info-form {
    display: block;
    margin-top: 20px;
}

.content .verification-form .text-info-form p.text-info-block {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #35373a;
}

.content .verification-form .enter-code {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    display: block;
    width: 94.4%;
    margin-top: 34px;
    padding: 10px;
    color: #35373a;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    outline: none;
}

.content .verification-form .enter-code::-webkit-input-placeholder {
    color: #353535;
}

.content .verification-form .enter-code::-moz-placeholder {
    opacity: 1;
    color: #353535;
}

.content .verification-form .enter-code:focus::-moz-placeholder {
    opacity: .5;
}

.content .verification-form .enter-code:focus::-webkit-input-placeholder {
    opacity: .5;
}

.content .verification-form .change-pr {
    display: block;
    margin-top: 12px;
    text-align: center;
}

.content .verification-form .change-pr a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1961ab;
}

.content .verification-form .change-pr a:hover {
    text-decoration: underline;
}

.content .verification-form .btn-form {
    display: block;
    margin-top: 28px;
}

.content .verification-form .btn-form .get-str {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
    width: 150px;
    height: 39px;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
    color: #4a535d;
    border: 3px solid #a1c623;
    border-radius: 20px;
    outline: none;
    background-color: #fff;
    position: relative;
}

.content .verification-form .btn-form .get-str span {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
    margin-left: -44.60155px;
    line-height: 34px;
}

.content .verification-form .btn-form .get-str:hover::before {
    width: 150px;
}

.content .verification-form .btn-form .get-str::before {
    transition-timing-function: linear;
    transition-duration: .15s;
    content: '';
    position: absolute;
    border-radius: 20px;
    height: 100%;
    top: 0;
    left: -3px;
    width: 0;
    background: #a1c623;
    z-index: 0;
}

.content .verification-form .btn-form .get-str:focus {
    background-color: #a1c623;
}

.content .verification-form .btn-form .get-str:focus span {
    display: block;
    margin-top: 1px;
}

footer {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding-top: 1%;
    background-color: #f4f4f4;
}

footer .ft-wrapper {
    display: block;
    max-width: 1236px;
    margin: 0 auto;
    padding: 0 30px;
}

footer .ft-wrapper .copywrite {
    display: inline-block;
    float: left;
    padding-bottom: 19px;
    vertical-align: top;
}

footer .ft-wrapper .copywrite .copywr {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    padding-top: 19px;
    vertical-align: top;
    color: #a1a1a1;
}

footer .ft-wrapper .copywrite .ft-logo {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

footer .ft-wrapper .copywrite .ft-logo a {
    opacity: .5;
}

footer .ft-wrapper .copywrite .ft-logo a:hover {
    transition: 1s;
    opacity: 1;
}

footer .ft-wrapper .ft-links {
    display: inline-block;
    padding-bottom: 19px;
    vertical-align: top;
}

footer .ft-wrapper .ft-links ul {
    display: block;
    margin-top: 17px;
    margin-left: 24px;
}

footer .ft-wrapper .ft-links li {
    display: inline-block;
    margin-right: 22px;
    list-style-type: none;
}

footer .ft-wrapper .ft-links li a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    color: #898989;
}

footer .ft-wrapper .ft-links li a:hover {
    transition: .5s;
    color: #5aa008;
}

footer .ft-wrapper .ft-links li:last-child {
    margin-right: 0;
}

footer .ft-wrapper .ft-contacts {
    display: inline-block;
    float: right;
    padding-bottom: 19px;
    vertical-align: top;
}

footer .ft-wrapper .ft-contacts .ft-phone {
    display: inline-block;
    padding-top: 18px;
    vertical-align: top;
}

footer .ft-wrapper .ft-contacts .ft-phone span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    color: #a1a1a1;
}

footer .ft-wrapper .ft-contacts .ft-phone .ft-phone-number {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding-left: 10px;
    color: #898989;
}

footer .ft-wrapper .ft-contacts .ft-social {
    display: inline-block;
    margin-left: 16px;
    padding-top: 18px;
    vertical-align: top;
}

footer .ft-wrapper .ft-contacts .ft-social span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #a1a1a1;
}

footer .ft-wrapper .ft-contacts .ft-social .ft-link-fb {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: -2px;
    margin-right: 6px;
    margin-left: 10px;
    vertical-align: top;
    background-image: url('../img/fb-link.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

footer .ft-wrapper .ft-contacts .ft-social .ft-link-fb:hover {
    transition: 1s;
    background-image: url('../img/fb-link-hover.png');
}

footer .ft-wrapper .ft-contacts .ft-social .ft-link-gl {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: -2px;
    vertical-align: top;
    background-image: url('../img/gl-link.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

footer .ft-wrapper .ft-contacts .ft-social .ft-link-gl:hover {
    transition: 1s;
    background-image: url('../img/gl-link-hover.png');
}

@media (min-height: 320px) and (max-height: 860px) {
    .content .verification-form {
        margin-top: 200px;
        transition: 1s;
    }
}

@media (min-height: 320px) and (max-height: 790px) {
    .content .verification-form {
        margin-top: 150px;
        transition: 1s;
    }
}

@media (min-height: 320px) and (max-height: 690px) {
    .content .verification-form {
        margin-top: 100px;
        transition: 1s;
    }
}

@media (min-height: 320px) and (max-height: 620px) {
    .content .verification-form {
        margin-top: 70px;
        transition: 1s;
    }
    footer {
        position: relative;
        display: block;
        width: 100%;
        padding-top: 1%;
        background-color: #f4f4f4;
    }
}
