.content .content-body .nav-ticket {
    display: block;
    vertical-align: top;
    position: relative;
}

.content .content-body .nav-ticket .back-btn {
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
}

.content .content-body .nav-ticket .back-btn a {
    display: block;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    background-image: url('../../../images/Support-Customer/One-Ticket/back.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: .15s;
}

.content .content-body .nav-ticket .back-btn a:hover {
    background-image: url('../../../images/Support-Customer/One-Ticket/back-hover.png');
    transition: .15s;
}

.content .content-body .nav-ticket .back-btn a:focus {
    box-shadow: 0 1px 1px #e0e0e0;
}

.content .content-body .nav-ticket .nav-l {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .nav-ticket .nav-l a {
    display: block;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    background-image: url('../../../images/Support-Customer/One-Ticket/arr-nav-l.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: .15s;
}

.content .content-body .nav-ticket .nav-l a:hover {
    background-image: url('../../../images/Support-Customer/One-Ticket/arr-nav-l-hover.png');
    transition: .15s;
}

.content .content-body .nav-ticket .nav-l a:focus {
    box-shadow: 0 1px 1px #e0e0e0;
}

.content .content-body .nav-ticket .nav-r {
    display: inline-block;
    vertical-align: top;
    margin-left: -2px;
}

.content .content-body .nav-ticket .nav-r a {
    display: block;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    background-image: url('../../../images/Support-Customer/One-Ticket/arr-nav-r.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: .15s;
}

.content .content-body .nav-ticket .nav-r a:hover {
    background-image: url('../../../images/Support-Customer/One-Ticket/arr-nav-r-hover.png');
    transition: .15s;
}

.content .content-body .nav-ticket .nav-r a:focus {
    box-shadow: 0 1px 1px #e0e0e0;
}

.content .content-body .nav-ticket .btn-close-t {
    display: inline-block;
    width: 138px;
    height: 32px;
    background-color: white;
    border: 3px solid #cbcbcb;
    box-shadow: 0 2px 1px #e0e0e0;
    text-align: center;
    margin-left: 14px;
    transition: .15s;
}

.content .content-body .nav-ticket .btn-close-t span {
    display: block;
    color: #848c94;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
}

.content .content-body .nav-ticket .btn-close-t:hover {
    border: 3px solid #9cb91f;
    transition: .15s;
}

.content .content-body .nav-ticket .btn-close-t:focus {
    border: 3px solid #9cb91f;
    box-shadow: 0 1px 1px #e0e0e0;
}

.content .content-body .nav-ticket .btn-close-t:focus span {
    margin-top: 1px;
}

.content .content-body .nav-ticket .btn-inform {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 163px;
    height: 38px;
    background-color: #ff6c6c;
    box-shadow: 0 2px 1px #e0e0e0;
    text-align: center;
    transition: .15s;
}

.content .content-body .nav-ticket .btn-inform span {
    display: block;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
}

.content .content-body .nav-ticket .btn-inform:hover {
    background-color: #fd8383;
    transition: .15s;
}

.content .content-body .nav-ticket .btn-inform:focus {
    background-color: #fd8383;
}

.content .content-body .nav-ticket .btn-inform:focus span {
    margin-top: 1px;
}

.content .content-body .title-tick {
    display: block;
    margin: 14px 0 12px 16px;
}

.content .content-body .title-tick span {
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.content .content-body .ticket-table {
    display: block;
    width: 100%;
}

.content .content-body .ticket-table table {
    display: block;
    width: 100%;
    background-color: #fff;
    border-spacing: 0 !important;
}

.content .content-body .ticket-table table tbody {
    display: block;
    width: 100%;
}

.content .content-body .ticket-table table .tr-b {
    display: block;
    box-shadow: 0 1px 1px #e0e0e0;
    border-left: 5px solid #cbcbcb;
    margin-top: 2px;
}

.content .content-body .ticket-table table .tr-f {
    border-left: 5px solid #e3bd0b;
}

.content .content-body .ticket-table table td {
    border: none;
}

.content .content-body .ticket-table table .td-f {
    width: 220px;
    padding: 14px 0 12px 16px;
    border-right: 1px solid #f4f4f4;
    margin-left: -1px;
}

.content .content-body .ticket-table table .td-f span {
    color: #596067;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.content .content-body .ticket-table table .td-s {
    padding: 14px 20px 12px 20px;
}

.content .content-body .ticket-table table .td-s span {
    color: #596067;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

#container .content-line-m {
    position: absolute;
    display: block;
    top: 367px;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #d4d4d4;
    box-shadow: 0 -1px 2px white;
    z-index: 2;
}

.content .content-body .title-mess {
    display: block;
    position: absolute;
    z-index: 11;
    margin-top: 29px;
    width: 101px;
    height: 20px;
    background-image: url('../../../images/Support-Customer/One-Ticket/bg-mess.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.content .content-body .title-mess span {
    display: block;
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: -5px 0 0 14px;
}

.content .content-body .messages-block {
    display: block;
    margin-top: 40px;
    background-color: transparent;
    position: relative;
    padding: 20px 0px;
}

.content .content-body .messages-block .bg-opac-m {
    position: absolute;
    top: 10px;
    left: -20px;
    background-image: url('../../../images/Support-Customer/One-Ticket/bg-opac.png');
    background-repeat: repeat-x;
    background-position: bottom;
    height: 122px;
    width: 100%;
    display: block;
    z-index: 1;
}

.content .content-body .messages-block .messages-body {
    display: block;
    padding: 0 20px 0 0;
    height: 420px;
    overflow: auto;
    overflow-x: hidden;
}

.content .content-body .messages-block .messages-body .mess-user {
    display: block;
    margin-top: 26px;
}

.content .content-body .messages-block .messages-body .mess-user .title-user-mess {
    display: block;
    padding-left: 20px;
}

.content .content-body .messages-block .messages-body .mess-user .title-user-mess span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #77828d;
    font-weight: 400;
}

.content .content-body .messages-block .messages-body .mess-user .title-user-mess span strong {
    color: #4b545d;
    font-weight: 700;
}

.content .content-body .messages-block .messages-body .mess-user .body-mess-user {
    display: block;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 1px 1px #e0e0e0;
    padding: 24px;
}

.content .content-body .messages-block .messages-body .mess-user .body-mess-user p {
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
}

.content .content-body .messages-block .messages-body .mess-system {
    display: block;
    margin-top: 26px;
}

.content .content-body .messages-block .messages-body .body-s:last-child {
    padding-bottom: 40px;
}

.content .content-body .messages-block .messages-body .mess-system .title-mess-s {
    display: block;
    text-align: right;
}

.content .content-body .messages-block .messages-body .mess-system .title-mess-s span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #77828d;
    font-weight: 400;
}

.content .content-body .messages-block .messages-body .mess-system .title-mess-s span strong {
    color: #4b545d;
    font-weight: 700;
}

.content .content-body .messages-block .messages-body .mess-system .body-mess-s {
    display: block;
    position: relative;
    margin-top: 20px;
    background-color: white;
    border: 2px solid #9cb91f;
    border-radius: 15px;
    box-shadow: 0 1px 1px #e0e0e0;
    padding: 24px;
}

.content .content-body .messages-block .messages-body .mess-system .body-mess-s p {
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
}

.content .content-body .messages-block .messages-body .mess-system .body-mess-s .i-img {
    position: absolute;
    display: block;
    top: -17px;
    right: 62px;
    width: 19px;
    height: 17px;
    background-image: url('../../../images/Support-Customer/One-Ticket/i-img.png');
    background-repeat: no-repeat;
}

.content .content-body .messages-block .messages-body .last-mess-sms .btn-answer {
    position: absolute;
    display: block;
    bottom: -30px;
    right: 12px;
    width: 107px;
    height: 28px;
    background-color: #9cb91f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: left;
    background-image: url('../../../images/Support-Customer/One-Ticket/arr-btn-answ.png');
    background-repeat: no-repeat;
    background-position: top 8.5px right 17px;
    z-index: 5;
    cursor: pointer;
}

.content .content-body .messages-block .messages-body .last-mess-sms .btn-answer span {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 28px;
    padding-left: 17px;
}

.content .content-body .messages-block .messages-body .last-mess-sms .shadow-btn {
    position: absolute;
    display: none;
    top: 174px;
    right: 5px;
    z-index: 2;
    background-image: url('../../../images/Support-Customer/One-Ticket/sh-btn.png');
    background-repeat: no-repeat;
    width: 117px;
    height: 38px;
}

#sms-popup-container {
    position: fixed;
    z-index: 999;
    display: block;
    left: 50%;
    transform: translateX(-51%);
    bottom: 0;
    width: 937px;
    height: 217px;
    background-color: rgba(74, 84, 93, .9);
    border-radius: 15px;
    border-bottom-left-radius: 0;
}

#sms-popup-container .sms-close-img {
    position: absolute;
    right: -16px;
    top: -16px;
    width: 46px;
    height: 46px;
    background-image: url('../../../images/Support-Customer/One-Ticket/close-sms-p.png');
    background-repeat: no-repeat;
    z-index: 200;
    cursor: pointer;
}

#sms-popup-container .popup-body {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -450px;
    width: 868px;
    height: 152px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 9999999999;
    margin-top: 18px;
    padding: 16px;
}

#sms-popup-container .popup-body .enter-sms {
    display: block;
    width: 100%;
    height: 60%;
    outline: none;
    resize: none;
    border: none;
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    overflow: auto;
}

#sms-popup-container .popup-body .btn-send {
    position: absolute;
    right: 6px;
    bottom: 4px;
    width: 80px;
    height: 28px;
    background-color: #9cb91f;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: left;
    transition: .15s;
    overflow: hidden;
}

#sms-popup-container .popup-body .btn-send span {
    display: block;
    position: absolute;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    left: 12px;
    top: 7px;
}

#sms-popup-container .popup-body .btn-send:hover {
    background-color: #b3d327;
    transition: .15s;
}

#sms-popup-container .popup-body .btn-send::before {
    content: '';
    display: block;
    width: 13px;
    height: 10px;
    background-image: url('../../../images/Support-Customer/One-Ticket/arr-btn-send.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 9px;
    left: 52px;
}

#sms-popup-container .popup-body .btn-send:hover::before {
    -webkit-animation: mymove .7s;
    animation: mymove .7s;
    top: 9px;
    right: 15px;
}

@-webkit-keyframes mymove {
    from {
        left: 48px;
    }
    to {
        left: 100%;
    }
}

#sms-popup-container .popup-body .btn-send:focus span {
    background-color: #b3d327;
    left: 12px;
}

#sms-popup-container .popup-body .btn-send:focus::before {
    background-color: #b3d327;
    left: 54px;
}

@media (min-width: 320px) and (max-width: 1660px) {
    .sms-popup-container {
        margin-left: 35px;
    }
}

@media (min-width: 320px) and (max-width: 1075px) {
    .sms-popup-container {
        position: absolute !important;
        margin-left: 87px !important;
        left: 0 !important;
        transform: none !important;
    }
}
