* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#container {
    position: relative;
    display: block;
    width: 100%;
    min-width: 960px;
    max-width: 1920px;
    height: 100%;
    min-height: 675px;
    background-image: url('../img/BG-picture.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    display: block;
    width: 100%;
    max-width: 1394px;
    margin: 0 auto;
}

.content {
    display: block;
    width: 100%;
}

.content .logo-block {
    display: inline-block;
    width: 38%;
    padding-top: 300px;
    vertical-align: top;
}

.content .logo-block .logo-img {
    display: block;
}

.content .logo-block .title-text {
    display: block;
    margin: 43px 0;
}

.content .logo-block .title-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    color: #fff;
}

.content .logo-block .btn-started {
    display: block;
    text-align: center;
}

.content .logo-block .btn-started a {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 44px;
    display: block;
    width: 184px;
    height: 44px;
    text-transform: uppercase;
    color: white;
    border: 3px solid white;
    border-radius: 25px;
    position: relative;
}

.content .logo-block .btn-started a span {
    position: absolute;
    left: 50%;
    margin-left: -54.164px;
}

.content .logo-block .btn-started a:hover::before {
    width: 190px;
}

.content .logo-block .btn-started a::before {
    transition-timing-function: linear;
    transition-duration: .15s;
    content: '';
    position: absolute;
    border-radius: 25px;
    height: 100%;
    left: -3px;
    width: 0;
    background: #fff;
    z-index: 0;
}

.content .logo-block .btn-started a:hover {
    transition: .15s;
    color: #4c565c;
}

.content .logo-block .btn-started a:focus span {
    display: block;
    margin-top: 1px;
}

.content .authorization-block {
    display: inline-block;
    width: 61.5%;
    vertical-align: top;
}

.content .authorization-block {
    padding-top: 170px;
    transition: 1s;
}

.content .authorization-block .block-login {
    display: block;
    width: 353px;
    vertical-align: top;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(34, 34, 38, .21);
}

.content .authorization-block .block-login .form-logo-img {
    display: block;
    padding-top: 47px;
    text-align: center;
}

.content .authorization-block .block-login .form-block {
    display: block;
    margin-top: 20px;
    padding: 0 30px;
    text-align: center;
}

.content .authorization-block .block-login .form-block .title-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #55575a;
}

.content .authorization-block .block-login .form-block .input-form {
    display: block;
    width: 99%;
    margin: 0 auto;
    margin-top: 31px;
    border: 2px solid #a2a2a2;
    border-radius: 10px;
    background-color: white;
}

.content .authorization-block .block-login .form-block .input-mail {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    width: 95%;
    margin: 0 auto;
    margin-top: 5px;
    padding: 12px 0 15px 10px;
    color: #353535;
    border: none;
}

.content .authorization-block .block-login .form-block .input-mail::-webkit-input-placeholder {
    color: #353535;
}

.content .authorization-block .block-login .form-block .input-mail::-moz-placeholder {
    opacity: 1;
    color: #353535;
}

.content .authorization-block .block-login .form-block .input-mail:focus::-moz-placeholder {
    opacity: .5;
}

.content .authorization-block .block-login .form-block .input-mail:focus::-webkit-input-placeholder {
    opacity: .5;
}

.content .authorization-block .block-login .form-block .input-mail:focus {
    outline: none;
}

.content .authorization-block .block-login .form-block .line-g {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #a2a2a2;
}

.content .authorization-block .block-login .form-block .block-pass {
    display: block;
    width: 100%;
}

.content .authorization-block .block-login .form-block .input-pass {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 15px 0 12px 8px;
    color: #353535;
    border: none;
}

.content .authorization-block .block-login .form-block .input-pass::-webkit-input-placeholder {
    color: #353535;
}

.content .authorization-block .block-login .form-block .input-pass:focus::-webkit-input-placeholder {
    opacity: .5;
}

.content .authorization-block .block-login .form-block .input-pass::-moz-placeholder {
    opacity: 1;
    color: #353535;
}

.content .authorization-block .block-login .form-block .input-pass:focus::-moz-placeholder {
    opacity: .5;
}

.content .authorization-block .block-login .form-block .input-pass:focus {
    outline: none;
}

.content .authorization-block .block-login .form-block .block-pass .line-v {
    display: inline-block;
    width: 1px;
    height: 31px;
    vertical-align: middle;
    background-color: #cecece;
}

.content .authorization-block .block-login .form-block .block-pass .fogot {
    display: inline-block;
    padding: 0 10px;
    text-align: center;
}

.content .authorization-block .block-login .form-block .block-pass .fogot a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #1961ab;
}

.content .authorization-block .block-login .form-block .block-pass .fogot a:hover {
    transition: 1s;
    text-decoration: underline;
}

.content .authorization-block .block-login .form-block .check {
    display: block;
    margin-top: 17px;
    padding: 0 8px;
    text-align: left;
}

.content .authorization-block .block-login .form-block .check .checkbox {
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.content .authorization-block .block-login .form-block .check input[type='checkbox'] {
    display: none;
}

.content .authorization-block .block-login .form-block .check input[type='checkbox'] + .label-text:before {
    display: inline-block;
    margin-right: 10px;
    content: url('../img/check-off.png');
    vertical-align: middle;
}

.content .authorization-block .block-login .form-block .check input:checked + .label-text:before {
    display: inline-block;
    margin-right: 10px;
    content: url('../img/check-on.png');
    vertical-align: middle;
}

.content .authorization-block .block-login .form-block .check label {
    cursor: pointer;
}

.content .authorization-block .block-login .form-block .check .label-text {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    margin-left: 2px;
    vertical-align: top;
    color: #55575a;
}

.content .authorization-block .block-login .form-block .btn-form {
    display: block;
    margin-top: 24px;
}

.content .authorization-block .block-login .form-block .btn-form .btn-continue {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 160px;
    height: 46px;
    color: #fff;
    border: none;
    border-radius: 23px;
    background-color: #96c11f;
}

.content .authorization-block .block-login .form-block .btn-form .btn-continue:hover {
    cursor: pointer;
    transition: .5s;
    background-color: #86ad1a;
}

.content .authorization-block .block-login .form-block .btn-form .btn-continue:focus {
    outline: none;
    background-color: #96c11f;
}

.content .authorization-block .block-login .form-block .btn-form .btn-continue:focus span {
    display: block;
    margin-top: 1px;
}

.content .authorization-block .block-login .login-with-social {
    display: block;
}

.content .authorization-block .block-login .or-bg {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 29px;
    text-align: center;
    background-image: url('../img/or-bg.png');
    background-repeat: no-repeat;
}

.content .authorization-block .block-login .or-bg span {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: block;
    padding-top: 7px;
    padding-right: 2px;
    color: #55575a;
}

.content .authorization-block .block-login .autoriz-social {
    display: block;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ececec;
}

.content .authorization-block .block-login .autoriz-social span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #35373a;
}

.content .authorization-block .block-login .autoriz-social .login-fb {
    line-height: 50px;
    display: block;
    width: 292px;
    height: 50px;
    margin: 0 auto;
    margin-top: 18px;
    background-image: url('../img/fb.png');
    background-repeat: no-repeat;
}

.content .authorization-block .block-login .autoriz-social .login-fb span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    padding-left: 35px;
    color: #fff;
}

.content .authorization-block .block-login .autoriz-social .login-fb:hover {
    transition: .5s;
    background-image: url('../img/fb-hover.png');
}

.content .authorization-block .block-login .autoriz-social .login-gl {
    line-height: 50px;
    display: block;
    width: 292px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    background-image: url('../img/gl.png');
    background-repeat: no-repeat;
}

.content .authorization-block .block-login .autoriz-social .login-gl span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    padding-left: 35px;
    color: #353535;
}

.content .authorization-block .block-login .autoriz-social .login-gl:hover {
    transition: .5s;
    background-image: url('../img/gl-hover.png');
}

.content .authorization-block .block-login .autoriz-social .login-gl:hover span {
    transition: .5s;
    color: #fff;
}

.content .authorization-block .info-login-reg {
    display: block;
    float: right;
}

.content .authorization-block .link-to-registration {
    display: block;
    margin-top: 19px;
    text-align: center;
}

.content .authorization-block .link-to-registration a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #e1e0e0;
}

.content .authorization-block .link-to-registration a:hover {
    transition: 1s;
    text-decoration: underline;
}

.content .authorization-block .link-to-registration-sm {
    display: none;
    padding-bottom: 10px;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ececec;
}

.content .authorization-block .link-to-registration-sm a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #1961ab;
}

.content .authorization-block .link-to-registration-sm a:hover {
    transition: 1s;
    text-decoration: underline;
}

footer {
    display: block;
    width: 100%;
    margin-top: 160px;
}

footer .ft-logo {
    display: block;
}

footer .ft-logo a {
    opacity: .25;
}

footer .ft-logo a:hover {
    transition: 1s;
    opacity: 1;
}

footer .ft-info {
    display: block;
    margin-top: 15px;
}

footer .ft-info .ft-phone {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    opacity: .25;
    color: #a1a1a1;
}

footer .ft-info .ft-phone:hover {
    transition: 1s;
    opacity: 1;
}

footer .ft-info .ft-cp {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-top: 5px;
    opacity: .25;
    color: #a1a1a1;
}

footer .ft-info .ft-cp:hover {
    transition: 1s;
    opacity: 1;
}

@media (min-height: 320px) and (max-height: 958px) {
    .content .authorization-block {
        padding-top: 100px;
        transition: 1s;
    }
}


/*@media (min-height: 320px) and (max-height: 930px) {
    .content .logo-block {
        padding-top: 300px;
        transition: 1s;
    }
}*/

@media (min-height: 320px) and (max-height: 895px) {
    footer {
        margin-top: 120px;
        transition: 1s;
    }
}

@media (min-height: 320px) and (max-height: 800px) {
    .content .authorization-block {
        padding-top: 0;
        transition: 1s;
    }
    .content .authorization-block .block-login .autoriz-social {
        padding-bottom: 20px;
        transition: 1s;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .content .authorization-block .link-to-registration {
        display: none;
        transition: 1s;
    }
    .content .authorization-block .link-to-registration-sm {
        display: block;
        transition: 1s;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .content .authorization-block .block-login {
        transition: 1s;
        border-radius: 0;
        background-color: #fff;
        box-shadow: none;
    }
    .content .authorization-block {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        transition: 1s;
    }
    .content .authorization-block .block-login .form-logo-img {
        padding-top: 30%;
    }
    .content .authorization-block .info-login-reg {
        height: 100%;
        transition: 1s;
        background-color: #ececec;
    }
}

@media (min-width: 320px) and (max-width: 1280px) {
    .content .authorization-block {
        padding-top: 0;
        transition: 1s;
    }
    .content .authorization-block .block-login .autoriz-social {
        padding-bottom: 20px;
        transition: 1s;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .content .authorization-block .link-to-registration {
        display: none;
        transition: 1s;
    }
    .content .authorization-block .link-to-registration-sm {
        display: block;
        transition: 1s;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .content .authorization-block .block-login {
        transition: 1s;
        border-radius: 0;
        background-color: #fff;
        box-shadow: none;
    }
    .content .authorization-block {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        transition: 1s;
    }
    .content .authorization-block .block-login .form-logo-img {
        padding-top: 30%;
        transition: 1s;
    }
    .content .authorization-block .info-login-reg {
        height: 100%;
        transition: 1s;
        background-color: #ececec;
    }
}

@media (min-width: 320px) and (max-width: 1460px) {
    .content .logo-block {
        width: 29%;
        padding-top: 200px;
        padding-left: 80px;
    }
    .content .authorization-block {
        width: 50%;
    }
}

@media (min-width: 320px) and (max-width: 1265px) {
    .content .logo-block {
        width: 24%;
        padding-top: 130px;
    }
}

@media (min-width: 320px) and (max-width: 1020px) {
    .content .logo-block {
        padding-top: 110px;
        padding-left: 60px;
    }
}

@media (min-height: 320px) and (max-height: 750px) {
    .content .logo-block {
        padding-top: 90px;
    }
}

@media (min-height: 320px) and (max-height: 740px) {
    .content .authorization-block .block-login .form-logo-img {
        padding-top: 15%;
        transition: 1s;
    }
}

@media (min-height: 320px) and (max-height: 670px) {
    .content .authorization-block .block-login .form-logo-img {
        padding-top: 10%;
        transition: 1s;
    }
}

@media (min-height: 320px) and (max-height: 857px) {
    .content .logo-block {
        padding-top: 125px;
        transition: 1s;
    }
    footer {
        margin-top: 100px;
        transition: 1s;
    }
}

@media (min-height: 320px) and (max-height: 810px) {
    .content .logo-block {
        padding-top: 130px;
        transition: 1s;
    }
    footer {
        margin-top: 80px;
        transition: 1s;
    }
}

@media (min-height: 320px) and (max-height: 750px) {
    .content .logo-block {
        padding-top: 60px;
        transition: 1s;
    }
    footer {
        margin-top: 70px;
        transition: 1s;
    }
}
