* {
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    width: 100%;
    min-width: 1060px;
    height: 100%;
    min-height: 1040px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
}

.leftbar-bg {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 330px;
    height: 95.5%;
    background-color: #4a545d;
}

.rightbar-bg {
    position: absolute;
    z-index: 1;
    top: 102px;
    right: 0;
    display: block;
    width: 330px;
    height: 90%;
    background-color: #fff;
}

#container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}

#container .header-block {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 82px;
    background-color: #fff;
    box-shadow: 0 2px 1px #e0e0e0;
}

.leftbar {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 330px;
    height: 100%;
    background-color: #4a545d;
}

.leftbar .header-l {
    display: block;
    height: 82px;
    box-shadow: 0 2px 1px #444c54;
}

.leftbar .header-l .logo-img {
    line-height: 82px;
    display: inline-block;
    height: 82px;
    margin-left: 22px;
}

.leftbar .header-l .logo-img a img {
    vertical-align: middle;
}

.leftbar .header-l .logo-img a img.logo-mini {
    display: none;
    margin-top: 30px;
    margin-left: 3px;
}

.leftbar .header-l .title-text {
    display: inline-block;
    padding-left: 10px;
}

.leftbar .header-l .title-text span {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;
    display: inline-block;
    text-transform: uppercase;
    color: #acb6c0;
}

.leftbar .main-menu {
    position: relative;
    display: block;
    padding-top: 20px;
}

.leftbar .main-menu li.menu-list {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    display: block;
    height: 60px;
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}

.leftbar .main-menu li.menu-list:hover {
    cursor: pointer;
}

.leftbar .main-menu li.menu-list:hover .text-menu {
    padding-top: 21px;
    border: none;
}

.leftbar .main-menu li.customers .icon-manu {
    display: inline-block;
    width: 70px;
    height: 60px;
    vertical-align: top;
    border-top: 1px solid #535b63;
    background-image: url('../img/people.png');
    background-repeat: no-repeat;
    background-position: center;
}

.leftbar .main-menu li.customers .text-menu {
    display: inline-block;
    width: 250px;
    margin-left: -4px;
    padding-top: 20px;
    padding-left: 10px;
    vertical-align: top;
    text-transform: uppercase;
    border-top: 1px solid #535b63;
}

.leftbar .main-menu li.products .icon-manu {
    display: inline-block;
    width: 70px;
    height: 60px;
    vertical-align: top;
    border-top: 1px solid #535b63;
    background-image: url('../img/product.png');
    background-repeat: no-repeat;
    background-position: center;
}

.leftbar .main-menu li.products .text-menu {
    display: inline-block;
    width: 250px;
    margin-left: -4px;
    padding-top: 20px;
    padding-left: 10px;
    vertical-align: top;
    text-transform: uppercase;
    border-top: 1px solid #535b63;
}

.leftbar .main-menu li.sales .icon-manu {
    display: inline-block;
    width: 70px;
    height: 60px;
    vertical-align: top;
    border-top: 1px solid #535b63;
    background-image: url('../img/sales.png');
    background-repeat: no-repeat;
    background-position: center;
}

.leftbar .main-menu li.sales .text-menu {
    display: inline-block;
    width: 250px;
    margin-left: -4px;
    padding-top: 20px;
    padding-left: 10px;
    vertical-align: top;
    text-transform: uppercase;
    border-top: 1px solid #535b63;
}

.leftbar .main-menu li.management .icon-manu {
    display: inline-block;
    width: 70px;
    height: 60px;
    vertical-align: top;
    border-top: 1px solid #535b63;
    border-bottom: 1px solid #535b63;
    background-image: url('../img/managment.png');
    background-repeat: no-repeat;
    background-position: center;
}

.leftbar .main-menu li.management .text-menu {
    display: inline-block;
    width: 250px;
    margin-left: -4px;
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: 10px;
    vertical-align: top;
    text-transform: uppercase;
    border-top: 1px solid #535b63;
    border-bottom: 1px solid #535b63;
}

#menu-bg {
    position: absolute;
    z-index: 1;
    top: 82px;
    left: 70px;
    display: none;
    width: 260px;
    height: 92.1%;
    background-color: #384047;
}

.leftbar .main-menu li.menu-list:hover {
    z-index: 2;
    background-color: #384047;
}

.leftbar .main-menu li ul.menu-drop {
    display: none;
    margin-left: 70px;
    background-color: #384047;
}

.leftbar .main-menu li ul.menu-drop > li {
    display: block;
    width: 100%;
    padding: 10px 10px 10px 23px;
}

.leftbar .main-menu li ul.menu-drop li.menu-drop-list > a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    color: #fff;
    background-image: url('../img/ellipse.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.leftbar .main-menu li ul.menu-drop li.menu-drop-list a:hover {
    text-decoration: underline;
}

.leftbar .main-menu li ul.menu-drop .menu-dropdown {
    display: none;
}

.leftbar .main-menu li ul.menu-drop .menu-dropdown li {
    display: block;
    padding: 25px 30px 0 30px;
}

.leftbar .main-menu li ul.menu-drop .menu-dropdown li:last-child {
    padding-bottom: 10px;
}

.leftbar .main-menu li ul.menu-drop .menu-dropdown li a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
    color: #a3b4c4;
}

.leftbar .main-menu li ul.menu-drop .menu-dropdown li a:hover {
    text-decoration: none;
}

.content {
    position: absolute;
    left: 330px;
    display: block;
    width: 65%;
    margin: 0 auto;
}

.content .header-c {
    position: relative;
    display: block;
    width: 100%;
    height: 82px;
}

.content .header-c .header-text {
    display: inline-block;
    padding-top: 17.5px;
    padding-left: 34px;
}

.content .header-c .title-text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    display: block;
    padding-bottom: 1px;
    color: #454c53;
}

.content .header-c a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    color: #98c11f;
}

.content .header-c a:hover {
    text-decoration: underline;
}

.content .header-c .arrow-step {
    display: inline-block;
    width: 14px;
    margin: 0 8px;
    background-image: url('../img/arrow-step.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.content .header-c .finish-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #7d8790;
}

.content .header-c .messages {
    position: absolute;
    top: 30px;
    right: 160px;
}

.content .header-c .messages .notification {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

#show-sms {
    text-decoration: none;
}

.content .header-c .messages .notification .quantity {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 15px;
    position: absolute;
    top: -8px;
    left: 12px;
    display: block;
    width: 16px;
    height: 15px;
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    -moz-animation-duration: .75s;
    -o-animation-duration: .75s;
    animation-duration: .75s;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #e74c3c;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

#sms-popup {
    position: fixed;
    z-index: 999999;
    right: 14px;
    bottom: 32px;
    width: 300px;
    height: 132px;
    background: rgba(74, 84, 93, .9);
    box-shadow: 1px 1.7px 3px rgba(0, 0, 0, .35);
}

#sms-popup .top-sms-popup {
    display: block;
    padding: 18px 16px 12px 16px;
}

#sms-popup .top-sms-popup .logo-sms-img-popup {
    display: inline-block;
    float: left;
    width: 35px;
    height: 36px;
    vertical-align: top;
    background-image: url('../img/logo-sms.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

#sms-popup .top-sms-popup .sms-info-block-popup {
    display: inline-block;
    margin-top: 2px;
    margin-left: 12px;
    text-align: left;
    vertical-align: top;
}

#sms-popup .top-sms-popup .sms-info-block-popup .from-block-popup {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    color: #fff;
}

#sms-popup .top-sms-popup .sms-info-block-popup .time-sms-block-popup {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    color: #bcc8d3;
}

#sms-popup .sms-popup-body {
    display: block;
    padding: 0 20px 15px 20px;
}

#sms-popup .sms-popup-body p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
}

#modal-sms {
    position: absolute;
    z-index: 9999;
    top: 30px;
    right: 0;
    bottom: 0;
    left: -191px;
    margin: 0 auto;
    text-align: center;
    pointer-events: auto;
}

#modal-sms .container-modal-sms {
    position: relative;
    width: 304px;
    background-color: #4a545d;
    box-shadow: 1px 1.7px 3px rgba(0, 0, 0, .35);
}

#modal-sms .container-modal-sms .bg-modal-sms {
    position: absolute;
    top: -7px;
    right: 94px;
    display: block;
    width: 16px;
    height: 7px;
    background-image: url('../img/bg-sms.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

#modal-sms .top-sms-block {
    display: block;
    padding: 18px 16px;
}

#modal-sms .top-sms-block .logo-sms-img {
    display: inline-block;
    float: left;
    width: 35px;
    height: 36px;
    vertical-align: top;
    background-image: url('../img/logo-sms.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

#modal-sms .top-sms-block .sms-info-block {
    display: inline-block;
    margin-top: 2px;
    margin-left: -96px;
    text-align: left;
    vertical-align: top;
}

#modal-sms .top-sms-block .sms-info-block .from-block {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    color: #fff;
}

#modal-sms .top-sms-block .sms-info-block .time-sms-block {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    color: #bcc8d3;
}

#modal-sms .line-sms {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #6b7681;
}

#modal-sms .sms-body {
    display: block;
    overflow: scroll;
    overflow-x: hidden;
    height: 120px;
    padding: 18px 16px 10px 16px;
}

#modal-sms .sms-body p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: white;
}

#modal-sms .sms-nav {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #fff;
}

#modal-sms .sms-nav .nav-prev-sms-block {
    display: inline-block;
    width: 33.3%;
    height: 100%;
    vertical-align: top;
}

#modal-sms .sms-nav .nav-prev-sms-block .prev-sms {
    line-height: 40px;
    display: block;
    width: 85%;
    height: 100%;
    padding-left: 15px;
    background-image: url('../img/prev-sms.png');
    background-repeat: no-repeat;
    background-position: left 17px center;
}

#modal-sms .sms-nav a {
    text-decoration: none;
}

#modal-sms .sms-nav .close-sms-block {
    display: inline-block;
    width: 33.3%;
    height: 100%;
    margin-left: -6px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#modal-sms .close-sms-block .close {
    line-height: 40px;
    display: block;
    width: 100%;
    height: 100%;
}

#modal-sms .sms-nav .nav-next-sms-block {
    display: inline-block;
    width: 33.3%;
    height: 100%;
    margin-left: -6px;
    vertical-align: top;
}

#modal-sms .sms-nav .nav-next-sms-block .next-sms {
    line-height: 40px;
    display: block;
    width: 85%;
    height: 100%;
    padding-right: 15px;
    background-image: url('../img/next-sms.png');
    background-repeat: no-repeat;
    background-position: right 22px center;
}

#modal-sms .sms-nav a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #4b545d;
}

#modal-sms .sms-nav a:hover {
    transition: 1s;
    background-color: #f4f4f4;
}

#bg-layer {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: transparent;
}

#bg-layer-2 {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: #4b545d;
}

.content .header-c .messages .mess-text {
    display: inline-block;
    margin-top: -3px;
    margin-left: 7px;
    vertical-align: top;
}

.content .header-c .messages .mess-text span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6e6f71;
}

.content .content-body {
    display: block;
    min-width: 957px;
    max-width: 957px;
    margin: 0 auto;
    margin-top: 40px;
}

.content .content-body .blist {
    display: block;
}

.content .content-body .blist .top-block-b {
    display: block;
    position: relative;
    z-index: 999;
}

.content .content-body .blist .top-block-b .block-user {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-left: 181px;
}

.content .content-body .blist .top-block-b .block-user .us-avat-bl {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .blist .top-block-b .block-user .us-info-bl {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 11px;
    padding-left: 5px;
}

.content .content-body .blist .top-block-b .block-user .us-info-bl .top-sp-us {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #949a9f;
    font-size: 14px;
}

.content .content-body .blist .top-block-b .block-user .us-info-bl .top-sp-us strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #6e6f71;
    font-size: 20px;
}

.content .content-body .blist .top-block-b .block-user .us-info-bl .bt-ps-us {
    display: block;
    padding-top: 2px;
    padding-left: 3px;
    color: #8f959c;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.content .content-body .blist .top-block-b .line-left {
    position: absolute;
    display: block;
    width: 295px;
    height: 77px;
    background-image: url('../img/line-left.png');
    background-repeat: no-repeat;
    top: 32px;
    left: 150px;
}

.content .content-body .blist .top-block-b .line-mid {
    position: absolute;
    display: block;
    width: 16px;
    height: 41px;
    background-image: url('../img/line-mid.png');
    background-repeat: no-repeat;
    top: 68px;
    left: 473.5px;
}

.content .content-body .blist .top-block-b .line-right {
    position: absolute;
    display: block;
    width: 105px;
    height: 77px;
    background-image: url('../img/line-right.png');
    background-repeat: no-repeat;
    top: 32px;
    right: 153px;
}

.content .content-body .blist .main-block-user {
    display: block;
    margin: 0 auto;
    margin-top: 33px;
    max-width: 943px;
    z-index: 99;
}

.content .content-body .blist .main-block-user .block-businessmans {
    display: inline-block;
    vertical-align: top;
    width: 302px;
    background-color: #fff;
    box-shadow: 0 2px 1px #e0e0e0;
    position: relative;
}

.content .content-body .blist .main-block-user .top-block-us {
    display: block;
    position: relative;
    text-align: left;
    padding: 21px 22px 19px 22px;
    border-bottom: 2px solid #dcdcdc;
}

.content .content-body .blist .main-block-user .top-block-us .title-sp-us {
    color: #4b555e;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.content .content-body .blist .main-block-user .top-block-us .show-add {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 29px;
    height: 29px;
    background-image: url('../img/add-norm.png');
    background-repeat: no-repeat;
}

.content .content-body .blist .main-block-user .top-block-us .show-add:hover {
    background-image: url('../img/add-h.png');
    width: 71px;
    transition: .1s;
}

.content .content-body .blist .main-block-user .blocklist-b {
    display: block;
    padding-bottom: 20px;
    max-height: 595px;
    /*   overflow: auto;
    overflow-x: hidden;*/
}

.content .content-body .blist .main-block-user .blocklist-b .b-block {
    display: block;
    position: relative;
    background-color: #fff;
    margin-top: 20px;
}

.content .content-body .blist .blocklist-b .b-block .show-info-b {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    background-image: url('../img/arr-b.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 31px;
    height: 75px;
    background-color: #98c11f;
    border: 2px solid #98c11f;
}

.content .content-body .blist .blocklist-b .b-block .show-info-b:hover {
    background-color: #fff;
    background-image: url('../img/arr-hb.png');
    transition: .1s;
}

.content .content-body .blist .blocklist-b .b-block .show-info-s {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    background-image: url('../img/arr-b.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 31px;
    height: 75px;
    background-color: #98c11f;
    border: 2px solid #98c11f;
}

.content .content-body .blist .blocklist-b .b-block .show-info-s:hover {
    background-color: #fff;
    background-image: url('../img/arr-hb.png');
    transition: .1s;
}

.content .content-body .blist .mod-window-sms {
    position: absolute;
    z-index: 9999;
    top: -7px;
    right: 0;
    left: 100%;
    pointer-events: auto;
    width: 306px;
    height: 179px;
    padding: 9px 9px 9px 15px;
    background-image: url('../img/bg-sms-p.png');
    background-repeat: no-repeat;
}

.content .content-body .blist .mod-window-sms .bl-left-i {
    position: absolute;
    display: block;
    width: 56px;
    height: 179px;
    background-color: #e9edf1;
    background-image: url('../img/i-img.png');
    background-repeat: no-repeat;
    background-position: center;
}

.content .content-body .blist .mod-window-sms .block-inf-popup {
    display: block;
    position: absolute;
    left: 90px;
    top: 27px;
    width: 220px;
}

.content .content-body .blist .mod-window-sms .block-inf-popup span {
    display: block;
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.content .content-body .blist .mod-window-sms .block-inf-popup span.sp-scnd {
    margin-top: 15px;
}

.content .content-body .blist .mod-window-sms .block-inf-popup .btn-ok-close {
    display: block;
    padding-top: 1px;
    width: 71px;
    height: 29px;
    background-color: #98c11f;
    border-radius: 15px;
    text-align: center;
    margin-top: 18px;
}

.content .content-body .blist .mod-window-sms .block-inf-popup .btn-ok-close span {
    display: block;
    text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.11);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
}

.content .content-body .blist .mod-window-sms .block-inf-popup .btn-ok-close:hover {
    background-color: #86ad1a;
    transition: .15s;
}

.content .content-body .blist .mod-window-sms .block-inf-popup .btn-ok-close:focus {
    background-color: #86ad1a;
}

.content .content-body .blist .mod-window-sms .block-inf-popup .btn-ok-close:focus span {
    margin-top: 1px;
}

.content .content-body .blist .blocklist-b .b-block .block-btns-us {
    display: none;
    position: absolute;
    margin-top: 10px;
    border-top: 1px solid #fff;
    text-align: center;
    width: 100%;
    background-color: #4b545d;
    padding-bottom: 27px;
}

.content .content-body .blist .blocklist-b .b-block .block-btns-us .line-li-us-l {
    position: absolute;
    left: 99px;
    top: 5px;
    width: 1px;
    height: 16px;
    background-color: #626d78;
}

.content .content-body .blist .blocklist-b .b-block .block-btns-us .line-li-us-r {
    position: absolute;
    right: 99px;
    top: 5px;
    width: 1px;
    height: 16px;
    background-color: #626d78;
}

.content .content-body .blist .blocklist-b .b-block .block-btns-us a {
    display: block;
    width: 100px;
    height: 27px;
    line-height: 27px;
    color: #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.content .content-body .blist .blocklist-b .b-block .block-btns-us .btn-change {
    position: absolute;
    top: 0px;
    left: 0;
}

.content .content-body .blist .blocklist-b .b-block .block-btns-us .btn-block {
    position: absolute;
    top: 0px;
    left: 99px;
    width: 104px;
}

.content .content-body .blist .blocklist-b .b-block .block-btns-us .btn-delete {
    position: absolute;
    right: 0;
    top: 0px;
}

.content .content-body .blist .blocklist-b .b-block .block-btns-us a:hover {
    background-color: #626d78;
    transition: .1s;
}

.content .content-body .blist .main-block-user .blocklist-b .b-block:hover {
    margin-top: 20px;
    background-color: #4b545d;
    transition: .1s;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 38px;
}

.content .content-body .blist .main-block-user .blocklist-b .b-block:hover .block-btns-us {
    display: block;
}

.content .content-body .blist .main-block-user .blocklist-b .b-block:hover .show-info-b {
    opacity: 1;
    transition: .1s;
}

.content .content-body .blist .main-block-user .blocklist-b .b-block:hover .show-info-s {
    opacity: 1;
    transition: .1s;
}

.content .content-body .blist .main-block-user .blocklist-b .b-block:hover .top-sp-b strong {
    color: #fff;
    transition: .15s;
}

.content .content-body .blist .main-block-user .blocklist-b .b-block:hover .top-sp-b {
    color: #cdd6de;
    transition: .15s;
}

.content .content-body .blist .main-block-user .blocklist-b .b-block:hover .bt-ps-b {
    color: #cdd6de;
    transition: .15s;
}

.content .content-body .blist .main-block-user .blocklist-b .b-avat-bl {
    display: inline-block;
    vertical-align: top;
    padding-left: 16px;
}

.content .content-body .blist .main-block-user .blocklist-b .b-info-bl {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
}

.content .content-body .blist .main-block-user .blocklist-b .b-info-bl .top-sp-b {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #949a9f;
    font-size: 14px;
}

.content .content-body .blist .main-block-user .blocklist-b .b-info-bl .top-sp-b strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #4b545d;
    font-size: 20px;
}

.content .content-body .blist .main-block-user .blocklist-b .b-info-bl .bt-ps-b {
    display: block;
    padding-left: 3px;
    color: #949a9f;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.content .content-body .blist .main-block-user .block-sales {
    display: inline-block;
    vertical-align: top;
    width: 302px;
    background-color: #fff;
    margin-left: 12.5px;
    box-shadow: 0 2px 1px #e0e0e0;
}

.content .content-body .blist .main-block-user .block-customers {
    display: inline-block;
    vertical-align: top;
    width: 302px;
    background-color: #fff;
    margin-left: 12.5px;
    box-shadow: 0 2px 1px #e0e0e0;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c {
    display: block;
    padding: 20px;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c .inp-cust {
    display: block;
    width: 100%;
    height: 35px;
    background-color: white;
    border: 1px solid #bfbfbf;
    outline: none;
    box-sizing: border-box;
    padding: 0 10px;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c .inp-cust::-webkit-input-placeholder {
    color: #4b545d;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c .inp-cust::-moz-placeholder {
    opacity: 1;
    color: #4b545d;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c .inp-cust:focus::-moz-placeholder {
    opacity: .5;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c .inp-cust:focus::-webkit-input-placeholder {
    opacity: .5;
}

.content .content-body .blist .block-customers .blocklist-c .body-blockl-c {
    display: block;
    max-height: 520px;
    overflow: auto;
    margin-top: 20px;
}

.content .content-body .blist .block-customers .blocklist-c .block-c:first-child {
    margin-top: 0;
}

.content .content-body .blist .block-customers .blocklist-c .block-c {
    display: block;
    margin-top: 20px;
    margin-left: 1px;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-avat-bl {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-info-bl {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0 0 5px;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-info-bl .top-sp-c {
    display: block;
    color: #4e535c;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-info-bl .top-sp-c a {
    color: #4e535c;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-info-bl .top-sp-c a:hover {
    color: #5aa008;
    transition: .15s;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-info-bl .bt-ps-c {
    display: block;
    color: #8f959c;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-top: 1px;
}

#popup-form {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 82px;
    background-color: #fff;
    z-index: 99999;
    width: 462px;
    box-shadow: 0 2px 1px #e0e0e0;
    box-sizing: border-box;
    padding: 25px 23px 40px 23px;
}

#popup-form .title-popup-form {
    display: block;
    color: #a0ca24;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
}

#popup-form .reg-form-b .block-name {
    position: relative;
    display: block;
    margin-top: 30px;
    padding: 23px 8px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
}

#popup-form .img-close-bl {
    position: absolute;
    right: -48px;
    top: 24px;
    display: block;
    width: 33px;
    height: 31px;
    opacity: 0.6;
    background-image: url('../img/img-close.png');
    background-repeat: no-repeat;
}

#popup-form .img-close-bl:hover {
    opacity: 1;
    transition: .15s;
}

#popup-form .reg-form-b .block-name .block-title-name {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 14px;
    display: block;
    padding: 0 14px;
    color: #5d6168;
    background-color: #fff;
}

#popup-form .reg-form-b .block-name .firstname {
    display: block;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

#popup-form .reg-form-b .name-input {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #606a75;
}

#popup-form .reg-form-b .block-name .lastname {
    display: block;
    padding-top: 22px;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

#popup-form .reg-form-b .input-firstname,
.input-lastname {
    width: 75%;
}

#popup-form .reg-form-b .input-main {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding-left: 2px;
    color: #4b545d;
    border: none;
    outline: none;
}

#popup-form .reg-form-b .block-company {
    display: block;
    margin-top: 20px;
    padding: 7px 8px 8px 9px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
}

#popup-form .reg-form-b .input-company {
    width: 76%;
}

#popup-form .reg-form-b .block-address {
    position: relative;
    display: block;
    margin-top: 30px;
    padding: 23px 8px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
}

#popup-form .reg-form-b .block-address .block-title-name {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 14px;
    display: block;
    padding: 0 14px;
    color: #5d6168;
    background-color: #fff;
}

#popup-form .reg-form-b .block-address .street {
    display: block;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

#popup-form .reg-form-b .block-address .street .input-street {
    width: 51%;
}

#popup-form .reg-form-b .name-input {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #606a75;
}

#popup-form .reg-form-b .postalcode-city {
    display: block;
    padding-top: 22px;
}

#popup-form .reg-form-b .postalcode-city .postalcode {
    display: inline-block;
    width: 47%;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

#popup-form .reg-form-b .postalcode-city .city {
    display: inline-block;
    width: 47%;
    margin-left: 19px;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

#popup-form .reg-form-b .postalcode-city .input-postalcod {
    width: 40%;
}

#popup-form .reg-form-b .postalcode-city .input-city {
    width: 67%;
}

#popup-form .reg-form-b .block-address .region {
    display: block;
    margin-top: 22px;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

#popup-form .reg-form-b .block-address .region .input-region {
    width: 79%;
}

#popup-form .reg-form-b .block-address .country {
    display: block;
    margin-top: 22px;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

#popup-form .reg-form-b .block-address .country .input-country {
    width: 77%;
}

#popup-form .reg-form-b .block-phone {
    display: block;
    margin-top: 20px;
    padding: 7px 8px 8px 9px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
}

#popup-form .reg-form-b .input-phone {
    width: 60.5%;
}

#popup-form .reg-form-b .format-phone {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 12px 15px 8px 15px;
    color: #6b7783;
}

#popup-form .reg-form-b .check {
    position: relative;
    display: block;
    padding-top: 65px;
    text-align: left;
}

#popup-form .reg-form-b .btn-form {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -75px;
}

#popup-form .reg-form-b .btn-form .btn-continue {
    display: block;
    width: 150px;
    height: 39px;
    cursor: pointer;
    border: 3px solid #a1c623;
    border-radius: 20px;
    background-color: #fff;
    position: relative;
}

#popup-form .reg-form-b .btn-form .btn-continue span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
    text-transform: uppercase;
    color: #4a535d;
    position: absolute;
    line-height: 34px;
    z-index: 1;
    top: 0;
    left: 50%;
    margin-left: -14.95315px;
}

#popup-form .reg-form-b .btn-form .btn-continue:hover span {
    color: #fff;
    transition: .15s;
}

#popup-form .reg-form-b .btn-form .btn-continue:hover::before {
    width: 150px;
}

#popup-form .reg-form-b .btn-form .btn-continue::before {
    transition-timing-function: linear;
    transition-duration: .15s;
    content: '';
    position: absolute;
    border-radius: 20px;
    height: 100%;
    top: 0;
    left: -3px;
    width: 0;
    background: #a1c623;
    z-index: 0;
}

#popup-form .reg-form-b .btn-form .btn-continue:focus {
    transition: 1s;
    outline: none;
    background-color: #a1c623;
}

#popup-form .reg-form-b .btn-form .btn-continue:focus span {
    margin-top: 1px;
}

.rightbar {
    position: absolute;
    z-index: 102;
    top: 0;
    right: 0;
    width: 330px;
}

.rightbar .header-r {
    display: block;
    width: 100%;
    height: 82px;
}

.rightbar .header-r .pre-profile {
    display: inline-block;
    padding-top: 15px;
    vertical-align: top;
}

.rightbar .header-r .pre-profile:hover {
    cursor: pointer;
}

.rightbar .header-r .pre-profile .img-user {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: top;
}

.rightbar .header-r .pre-profile .info-user {
    display: inline-block;
    padding-top: 3px;
    padding-left: 10px;
    vertical-align: top;
}

.rightbar .header-r .pre-profile .info-user .name-user {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #6e6f71;
}

.rightbar .header-r .pre-profile .info-user .id-user {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #949a9f;
}

.rightbar .header-r .pre-profile .info-user .user-type {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #8f959c;
}

.rightbar .header-r .line-prepr {
    display: inline-block;
    width: 1px;
    height: 42px;
    margin: 20px 23px 0 30px;
    vertical-align: top;
    background-color: #dcdcdc;
}

.rightbar .header-r .logout {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.rightbar .header-r .logout a {
    display: block;
    width: 20px;
    height: 100%;
    background-image: url('../img/logout.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.rightbar .header-r .logout a:hover {
    transition: .5s;
    background-image: url('../img/logout-hover.png');
}

.rightbar .rightbar-panel {
    display: block;
    height: 100%;
    margin-top: 20px;
    background-color: #fff;
}

.rightbar .rightbar-panel .tabs {
    display: inline-block;
    height: 100%;
}

.rightbar .rightbar-panel .tabs > div {
    padding-top: 10px;
}

.rightbar .rightbar-panel .tabs ul {
    margin: 0;
    padding: 0;
}

.rightbar .rightbar-panel .tabs ul li {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 57px;
    display: block;
    float: left;
    width: 135px;
    height: 57px;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    cursor: pointer;
    text-transform: uppercase;
    color: #808b96;
    border-bottom: 6px solid #d7d7d7;
    background: #e9eaeb;
}

.rightbar .rightbar-panel .tabs ul li:hover {
    transition: .6s;
    border-bottom: 6px solid #98c11f;
}

.rightbar .rightbar-panel .tabs ul li.active,
.rightbar .rightbar-panel .tabs ul li.active:hover {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #4b545d;
    border-bottom: 6px solid #98c11f;
    background-color: #fff;
}

.rightbar .rightbar-panel .tabs .tabs-content {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 53px;
    background-color: #fff;
}

.rightbar .rightbar-panel .tabs .tabs-content .tab-users {
    display: block;
    width: 100%;
    height: 100%;
}

.rightbar .tabs-content .tab-users .views-users-block {
    display: block;
    padding: 20px;
}

.rightbar .tab-users .views-users-block .line-bs-block {
    position: absolute;
    top: 84px;
    left: 23px;
    display: none;
    width: 1px;
    height: 60%;
    background-color: #ccc;
}

.rightbar .tab-users .views-users-block .businessman-block {
    position: relative;
    display: block;
    margin-top: 20px;
}

.rightbar .tab-users .views-users-block .businessman-block .yourself-block {
    z-index: 2;
    display: block;
}

.rightbar .tab-users .views-users-block .yourself-block .img-user-block {
    display: inline-block;
    vertical-align: top;
}

.rightbar .tab-users .views-users-block .yourself-block .img-user-block img {
    position: absolute;
    z-index: 2;
}

.rightbar .tab-users .yourself-block .info-user-block {
    display: inline-block;
    margin-top: 4px;
    margin-left: 55px;
    vertical-align: top;
}

.rightbar .tab-users .yourself-block .info-user-block .name-user-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    text-decoration: underline;
    color: #4e535c;
}

.rightbar .tab-users .yourself-block .info-user-block .info-user {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    margin-top: 2px;
    color: #8f959c;
}

.rightbar .tab-users .views-users-block .businessman-block .sales-block {
    position: relative;
    display: block;
    margin-top: 20px;
    margin-left: 51px;
}

.rightbar .tab-users .views-users-block .businessman-block .sales-block .line-sl {
    position: absolute;
    top: -24px;
    left: -32px;
    display: block;
    width: 36px;
    height: 51px;
    background-image: url('../img/users/users-lines.png');
    background-repeat: no-repeat;
}

.rightbar .tab-users .yourself-block .sales-block-show {
    display: none;
}

.rightbar .tab-users .yourself-block:hover {
    cursor: pointer;
}

.rightbar .tab-users .yourself-block .sales-block .info-user-block {
    margin-left: 58px;
}

.rightbar .tab-users .yourself-block .sales-block .customer-block {
    display: block;
    margin-top: 15px;
    margin-left: 50px;
}

.rightbar .tab-users .sales-block .customer-block-show {
    display: none;
}

.rightbar .tab-users .sales-block .customer-block .name-user-link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #4e535c;
}

.rightbar .tab-users .sales-block .customer-block .info-user-block {
    margin-left: 38px;
}

.rightbar .tab-users .sales-block .customer-block .info-user {
    font-size: 12px;
}

.rightbar .tab-users .views-users-block .businessman-block .sales-block .img-user-block {
    position: absolute;
    z-index: 10;
}

.rightbar .tab-users .views-users-block .businessman-block .businessman-user {
    position: relative;
    display: block;
    margin-top: 40px;
}

.rightbar .tab-users .views-users-block .businessman-block a:hover {
    color: #5aa008;
}

.rightbar .tab-users .views-users-block .businessman-block .line-bs {
    position: absolute;
    z-index: 1;
    top: -42px;
    left: 19.5px;
    width: 7px;
    height: 45px;
    background-image: url('../img/users/users-lines-2.png');
    background-repeat: no-repeat;
}

.rightbar .tab-users .views-users-block .businessman-block .businessman-user .img-user-block {
    position: absolute;
    z-index: 10;
    display: inline-block;
    vertical-align: top;
}

.rightbar .businessman-block .businessman-user .info-user-block {
    display: inline-block;
    margin-top: 4px;
    margin-left: 58px;
    vertical-align: top;
}

.rightbar .businessman-block .info-user-block .name-user-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    text-decoration: underline;
    color: #4e535c;
}

.rightbar .businessman-block .info-user-block .id-user-block {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    margin-top: 2px;
    margin-left: 5px;
    vertical-align: top;
    color: #4e535c;
}

.rightbar .businessman-block .businessman-user .info-user-block .info-user {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    margin-top: 2px;
    color: #8f959c;
}

.rightbar .rightbar-panel .tabs .tabs-content .tab-profile .user-photo-block {
    position: relative;
    display: block;
    width: 100%;
    height: 132px;
    background-image: url('../img/tab-profile-bg.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 180%;
}

.rightbar .rightbar-panel .tab-profile .user-photo-block .user-photo {
    position: absolute;
    top: 66px;
    left: 50%;
    display: block;
    margin-left: -61.5px;
}

.rightbar .rightbar-panel .tab-profile .user-photo-block .refresh-user-photo {
    position: absolute;
    top: 70px;
    right: 88px;
    display: block;
    width: 26px;
    height: 26px;
}

.rightbar .rightbar-panel .tab-profile .user-photo-block .refresh-user-photo .block-file {
    position: relative;
    display: block;
    width: 26px;
    height: 26px;
    background-image: url('../img/refresh-profile-img.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.rightbar .rightbar-panel .tab-profile .user-photo-block .refresh-user-photo .block-file:hover {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: rotate(360deg) scale(1);
    -moz-transform: rotate(360deg) scale(1);
    -ms-transform: rotate(360deg) scale(1);
    -o-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
}

.rightbar .rightbar-panel .tab-profile .user-photo-block .refresh-user-photo input#btn_file {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    width: 26px;
    height: 100%;
    height: 26px;
    cursor: pointer;
    opacity: 0;
}

.rightbar .rightbar-panel .tab-profile .profile-info-block {
    display: block;
    margin-top: 100px;
}

.rightbar .rightbar-panel .profile-info-block .name-user-block {
    display: block;
    text-align: center;
}

.rightbar .rightbar-panel .profile-info-block .name-user-block .user-name {
    display: block;
}

.rightbar .rightbar-panel .profile-info-block .name-user-block .user-name span {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    color: #57595b;
}

.rightbar .rightbar-panel .profile-info-block .name-user-block .id-user {
    display: block;
    margin-top: 7px;
}

.rightbar .rightbar-panel .profile-info-block .name-user-block .id-user span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #74797e;
}

.rightbar .rightbar-panel .profile-info-block .name-user-block .type-user {
    display: block;
    margin-top: 18px;
}

.rightbar .rightbar-panel .profile-info-block .name-user-block .type-user span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #656b71;
}

.rightbar .rightbar-panel .profile-info-block .mail-user-block {
    display: block;
    margin-top: 38px;
}

.rightbar .rightbar-panel .profile-info-block .mail-user-block .mail-img {
    display: block;
    width: 26px;
    height: 16px;
    margin: 0 auto;
    background-image: url('../img/mail-img-profile.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.rightbar .rightbar-panel .profile-info-block .profile-line-bt {
    display: block;
    width: 56px;
    height: 1px;
    margin: 20px auto;
    background-color: #c7c8c8;
}

.rightbar .rightbar-panel .profile-info-block .email-title {
    display: block;
    text-align: center;
}

.rightbar .rightbar-panel .profile-info-block .email-title a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    color: #4b545d;
}

.rightbar .rightbar-panel .profile-info-block .email-title a:hover {
    text-decoration: none;
}

.rightbar .rightbar-panel .profile-info-block .address-user-block {
    display: block;
    margin-top: 45px;
}

.rightbar .rightbar-panel .profile-info-block .address-user-block .address-img {
    display: block;
    width: 21px;
    height: 28px;
    margin: 0 auto;
    background-image: url('../img/adrress-img-profile.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.rightbar .rightbar-panel .profile-info-block .address-user-block .address-user {
    display: block;
    text-align: center;
}

.rightbar .rightbar-panel .profile-info-block .address-user-block .address-user .city-user {
    display: block;
}

.rightbar .rightbar-panel .profile-info-block .address-user-block .address-user .city-user span {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #4b545d;
}

.rightbar .rightbar-panel .profile-info-block .address-user-block .address-user .street-user {
    display: block;
    margin-top: 10px;
}

.rightbar .rightbar-panel .profile-info-block .address-user-block .address-user .street-user span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #656b71;
}

.rightbar .rightbar-panel .profile-info-block .info-user-block {
    display: block;
    margin-top: 45px;
}

.rightbar .rightbar-panel .profile-info-block .info-user-block .info-img {
    display: block;
    width: 23px;
    height: 23px;
    margin: 0 auto;
    background-image: url('../img/info-img-profile.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.rightbar .rightbar-panel .profile-info-block .info-user-block .code-user {
    display: block;
    text-align: center;
}

.rightbar .rightbar-panel .profile-info-block .info-user-block .code-user span {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #4b545d;
}

.rightbar .rightbar-panel .profile-info-block .btn-profile {
    display: block;
    margin-top: 50px;
    padding-bottom: 20px;
}

.rightbar .rightbar-panel .profile-info-block .btn-profile a {
    position: relative;
    z-index: 1;
    display: block;
    width: 154px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    border: 3px solid #98c11f;
    border-radius: 23px;
}

.rightbar .rightbar-panel .profile-info-block .btn-profile a span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    position: absolute;
    z-index: 1;
    left: 50%;
    display: block;
    margin-left: -51.742px;
    color: #505050;
}

.rightbar .rightbar-panel .profile-info-block .btn-profile a:hover::before {
    width: 160px !important;
}

.rightbar .rightbar-panel .profile-info-block .btn-profile a:hover span {
    transition: .15s;
    color: #fff;
}

.rightbar .rightbar-panel .profile-info-block .btn-profile a::before {
    position: absolute;
    z-index: 0;
    left: -3px;
    width: 0;
    height: 100%;
    content: '';
    transition-timing-function: linear;
    transition-duration: .15s;
    border-radius: 23px;
    background: #98c11f;
}

.rightbar .rightbar-panel .profile-info-block .btn-profile a:focus {
    background-color: #98c11f;
}

.rightbar .rightbar-panel .profile-info-block .btn-profile a:focus span {
    margin-top: 1px;
    color: #fff;
}

footer {
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: transparent;
}

footer .ft-wrapper {
    display: block;
    max-width: 74%;
    margin-left: 112px;
    padding: 0 30px;
}

footer .ft-wrapper .copywrite {
    display: inline-block;
    float: left;
    padding-bottom: 19px;
    vertical-align: top;
}

footer .ft-wrapper .copywrite .copywr {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    padding-top: 19px;
    vertical-align: top;
    color: #a1a1a1;
}

footer .ft-wrapper .copywrite .ft-logo {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

footer .ft-wrapper .copywrite .ft-logo a .logo-ft-mini {
    display: none;
}

footer .ft-wrapper .copywrite .ft-logo a {
    opacity: .5;
}

footer .ft-wrapper .copywrite .ft-logo a:hover {
    transition: 1s;
    opacity: 1;
}

footer .ft-wrapper .ft-links {
    display: inline-block;
    margin-left: 20px;
    padding-bottom: 19px;
    vertical-align: top;
}

footer .ft-wrapper .ft-links ul {
    display: block;
    margin-top: 17px;
    margin-left: 24px;
}

footer .ft-wrapper .ft-links li {
    display: inline-block;
    margin-right: 22px;
    list-style-type: none;
}

footer .ft-wrapper .ft-links li a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    color: #898989;
}

footer .ft-wrapper .ft-links li a:hover {
    transition: .5s;
    color: #5aa008;
}

footer .ft-wrapper .ft-links li:last-child {
    margin-right: 0;
}

footer .ft-wrapper .ft-contacts {
    display: inline-block;
    float: right;
    padding-bottom: 19px;
    vertical-align: top;
}

footer .ft-wrapper .ft-contacts .ft-phone {
    display: inline-block;
    padding-top: 18px;
    vertical-align: top;
}

footer .ft-wrapper .ft-contacts .ft-phone span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    color: #a1a1a1;
}

footer .ft-wrapper .ft-contacts .ft-phone .ft-phone-number {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding-left: 10px;
    color: #898989;
}

footer .ft-wrapper .ft-contacts .ft-social {
    display: inline-block;
    margin-left: 16px;
    padding-top: 18px;
    vertical-align: top;
}

footer .ft-wrapper .ft-contacts .ft-social span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #a1a1a1;
}

footer .ft-wrapper .ft-contacts .ft-social .ft-link-fb {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: -2px;
    margin-right: 6px;
    margin-left: 10px;
    vertical-align: top;
    background-image: url('../img/fb-link.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

footer .ft-wrapper .ft-contacts .ft-social .ft-link-fb:hover {
    transition: 1s;
    background-image: url('../img/fb-link-hover.png');
}

footer .ft-wrapper .ft-contacts .ft-social .ft-link-gl {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: -2px;
    vertical-align: top;
    background-image: url('../img/gl-link.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

footer .ft-wrapper .ft-contacts .ft-social .ft-link-gl:hover {
    transition: 1s;
    background-image: url('../img/gl-link-hover.png');
}

@media (min-width: 1660px) and (max-width: 1830px) {
    footer .ft-wrapper .ft-contacts {
        float: none;
        margin-left: 50px;
    }
}

@media (min-width: 320px) and (max-width: 1800px) {
    .content {
        width: 63%;
    }
}

@media (min-width: 320px) and (max-width: 1740px) {
    .content {
        width: 62%;
    }
}

@media (min-width: 1660px) and (max-width: 1740px) {
    footer .ft-wrapper .ft-contacts {
        float: none;
        margin-left: 30px;
    }
}

@media (min-width: 320px) and (max-width: 1700px) {
    footer .ft-wrapper .ft-m {
        display: none !important;
    }
}

@media (min-width: 320px) and (max-width: 1690px) {
    .content {
        width: 61%;
    }
}

@media (min-width: 320px) and (max-width: 1670px) {
    .content {
        width: 60.5%;
    }
}

@media (min-width: 320px) and (max-width: 1660px) {
    html,
    body {
        min-height: 1000px;
    }
    .rightbar .rightbar-panel {
        display: none;
        transition: 1s;
    }
    .rightbar-bg {
        z-index: 101;
        display: none;
        height: 95.6%;
        transition: .5s;
    }
    .leftbar {
        width: 70px;
        height: 106%;
    }
    .leftbar-bg {
        position: absolute;
        z-index: 0;
        width: 70px;
        height: 105%;
    }
    .leftbar .main-menu li .text-menu {
        opacity: 0;
    }
    .leftbar .header-l .logo-img a img.logo-big {
        display: none;
    }
    .leftbar .header-l .logo-img a img.logo-mini {
        display: block;
    }
    .leftbar .header-l .title-text {
        display: none;
    }
    .leftbar:hover {
        position: absolute;
        z-index: 100;
        width: 330px;
    }
    .leftbar:hover .main-menu li .text-menu {
        opacity: 1;
    }
    .leftbar:hover .header-l .logo-img a img.logo-big {
        display: block;
        margin-top: 20px;
    }
    .leftbar:hover .header-l .logo-img a img.logo-mini {
        display: none;
    }
    .leftbar:hover .header-l .title-text {
        display: inline-block;
        margin-top: 30px;
        vertical-align: top;
    }
    footer {
        z-index: 100;
    }
    footer .ft-wrapper {
        min-width: 95%;
    }
    footer .ft-wrapper .copywrite .ft-logo a .logo-ft {
        display: none;
    }
    footer .ft-wrapper .copywrite {
        position: absolute;
    }
    footer .ft-wrapper .copywrite .copywr {
        display: none;
        padding-left: 152px;
    }
    footer .ft-wrapper .ft-links {
        position: absolute;
        z-index: 0;
    }
    footer .ft-wrapper .copywrite .ft-logo a .logo-ft-mini {
        z-index: 100;
        display: block;
    }
    footer .ft-wrapper .ft-links {
        margin-left: 320px;
    }
    footer .ft-wrapper {
        position: absolute;
        margin-left: -29px;
    }
}

@media (min-width: 320px) and (max-width: 1570px) {
    .content {
        left: 300px;
        width: 65%;
    }
}

@media (min-width: 320px) and (max-width: 1470px) {
    .content {
        left: 250px;
        width: 65%;
    }
}

@media (min-width: 320px) and (max-width: 1400px) {
    .content {
        left: 235px;
        width: 65%;
    }
}

@media (min-width: 320px) and (max-width: 1370px) {
    .content {
        left: 230px;
        width: 65%;
    }
}

@media (min-width: 320px) and (max-width: 1465px) {
    .content .header-c .messages {
        right: 300px;
    }
}

@media (min-width: 320px) and (max-width: 1350px) {
    .content {
        left: 220px;
        width: 65%;
    }
}

@media (min-width: 320px) and (max-width: 1320px) {
    .content {
        left: 210px;
        width: 65%;
    }
}

@media (min-width: 320px) and (max-width: 1300px) {
    .content {
        left: 180px;
    }
}

@media (min-width: 320px) and (max-width: 1250px) {
    .content {
        left: 150px;
    }
    footer .ft-wrapper .ft-links li {
        margin-right: 5px;
    }
    footer .ft-wrapper .ft-contacts .ft-social {
        margin-left: 0;
    }
}

@media (min-width: 320px) and (max-width: 1120px) {
    footer .ft-wrapper .ft-links li a {
        font-size: 12px;
    }
}

@media (min-width: 320px) and (max-width: 1200px) {
    .content {
        left: 130px;
    }
}

@media (min-width: 320px) and (max-width: 1120px) {
    .content {
        left: 88px;
    }
}

@-webkit-keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
        transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }
    0% {
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        opacity: 0;
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
        opacity: 1;
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@-moz-keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
        -moz-transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
        transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }
    0% {
        -webkit-transform: scale3d(.3, .3, .3);
        -moz-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        opacity: 0;
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        -moz-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        -moz-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        -moz-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
        opacity: 1;
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        -moz-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@-o-keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
        -o-transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
        transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }
    0% {
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        opacity: 0;
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
        opacity: 1;
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
        -moz-transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
        -o-transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
        transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }
    0% {
        -webkit-transform: scale3d(.3, .3, .3);
        -moz-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        opacity: 0;
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        -moz-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        -moz-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        -moz-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
        opacity: 1;
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        -moz-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}
