.content .content-body .form-cr-ticket {
    display: block;
    background-color: #fff;
    max-width: 956px;
}

.content .content-body .form-cr-ticket .form-body {
    display: block;
    padding: 30px;
    position: relative;
}

.content .content-body .form-cr-ticket .title-form-cr {
    display: block;
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
}

.content .content-body .form-cr-ticket .form-body .mess-info {
    display: block;
    position: absolute;
    width: 500px;
    right: 30px;
    top: 86px;
    background-color: #f2f2f2;
    padding: 12px 16px;
}

.content .content-body .form-cr-ticket .form-body .mess-info::after {
    content: '';
    position: absolute;
    left: -60px;
    top: 0;
    border: 44px solid transparent;
    border-right: 16px solid #f2f2f2;
}

.content .content-body .form-cr-ticket .form-body .mess-info p {
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.content .content-body .form-cr-ticket .form-body .int-subject {
    display: block;
    width: 276px;
    height: 36px;
    background-color: white;
    border: 1px solid #bfbfbf;
    outline: none;
    padding: 0 12px;
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.content .content-body .form-cr-ticket .form-body .int-subject::-webkit-input-placeholder {
    color: #4b545d;
}

.content .content-body .form-cr-ticket .form-body .int-subject::-moz-placeholder {
    opacity: 1;
    color: #4b545d;
}

.content .content-body .form-cr-ticket .form-body .int-subject:focus::-moz-placeholder {
    opacity: .5;
}

.content .content-body .form-cr-ticket .form-body .int-subject:focus::-webkit-input-placeholder {
    opacity: .5;
}

.content .content-body .form-cr-ticket .form-body .int-subject:focus {
    outline: none;
}

.content .content-body .form-cr-ticket .form-body .mess-b {
    margin-top: 10px;
    padding: 10px 12px;
    width: 870px;
    height: 152px;
    background-color: transparent;
    border: 1px solid #bfbfbf;
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    resize: none;
    overflow: auto;
}

.content .content-body .form-cr-ticket .form-body .mess-b::-webkit-input-placeholder {
    color: #4b545d;
}

.content .content-body .form-cr-ticket .form-body .mess-b::-moz-placeholder {
    opacity: 1;
    color: #4b545d;
}

.content .content-body .form-cr-ticket .form-body .mess-b:focus::-moz-placeholder {
    opacity: .5;
}

.content .content-body .form-cr-ticket .form-body .mess-b:focus::-webkit-input-placeholder {
    opacity: .5;
}

.content .content-body .form-cr-ticket .form-body .block-priority {
    display: block;
    margin-top: 24px;
}

.content .content-body .form-cr-ticket .form-body .block-priority .title-pr {
    display: inline-block;
    vertical-align: top;
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.content .content-body .form-cr-ticket .form-body .block-priority .bl-pr {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.content .content-body .form-cr-ticket .form-body .block-priority .bl-pr span {
    color: #717f8d;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.content .content-body .form-cr-ticket .form-body .block-priority .bl-hight {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .form-cr-ticket .form-body .block-priority .bl-hight:hover {
    cursor: pointer;
}

.content .content-body .form-cr-ticket .form-body .block-priority .bl-hight:focus .bl-img-h {
    background-image: url('/web/images/Support-Customer/Create-Ticket/hight-done.png');
    transition: .15s;
}

.content .content-body .form-cr-ticket .form-body .block-priority .bl-normal {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

.content .content-body .form-cr-ticket .form-body .block-priority .bl-normal:focus .bl-img-n {
    background-image: url('/web/images/Support-Customer/Create-Ticket/normal-done.png');
    transition: .15s;
}

.content .content-body .form-cr-ticket .form-body .block-priority .bl-low {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

.content .content-body .form-cr-ticket .form-body .block-priority .bl-low:focus .bl-img-l {
    background-image: url('/web/images/Support-Customer/Create-Ticket/low-done.png');
    transition: .15s;
}

.content .content-body .form-cr-ticket .form-body .block-priority .bl-pr .bl-img-h {
    display: inline-block;
    vertical-align: top;
    margin-top: -1px;
    width: 25px;
    height: 25px;
    background-image: url('/web/images/Support-Customer/Create-Ticket/hight-img.png');
    background-repeat: no-repeat;
}

.content .content-body .form-cr-ticket .form-body .block-priority .bl-pr .bl-tx-h {
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
    margin-left: 4px;
}

.content .content-body .form-cr-ticket .form-body .block-priority .bl-pr .bl-img-n {
    display: inline-block;
    vertical-align: top;
    margin-top: -1px;
    width: 25px;
    height: 25px;
    background-image: url('/web/images/Support-Customer/Create-Ticket/normal-img.png');
    background-repeat: no-repeat;
}

.content .content-body .form-cr-ticket .form-body .block-priority .bl-pr .bl-tx-n {
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
    margin-left: 4px;
}

.content .content-body .form-cr-ticket .form-body .block-priority .bl-pr .bl-img-l {
    display: inline-block;
    vertical-align: top;
    margin-top: -1px;
    width: 25px;
    height: 25px;
    background-image: url('/web/images/Support-Customer/Create-Ticket/low-img.png');
    background-repeat: no-repeat;
}

.content .content-body .form-cr-ticket .form-body .block-priority .bl-pr .bl-tx-l {
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
    margin-left: 4px;
}

.content .content-body .form-cr-ticket .form-body .btn-cr {
    display: block;
    margin-top: 22px;
    padding-top: 1px;
    width: 190px;
    height: 45px;
    background-color: #9db920;
    border-radius: 23px;
    border-top-left-radius: 0;
    border: none;
    cursor: pointer;
    outline: none;
    transition: .15s;
}

.content .content-body .form-cr-ticket .form-body .btn-cr span {
    display: block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.content .content-body .form-cr-ticket .form-body .btn-cr:hover {
    background-color: #b3d327;
    transition: .15s;
}

.content .content-body .form-cr-ticket .form-body .btn-cr:focus {
    background-color: #9db920;
}

.content .content-body .form-cr-ticket .form-body .btn-cr:focus span {
    margin-top: 1px;
}
