.content .content-body .blist {
    display: block;
    min-height: 808px;
}

.content .content-body .blist .top-block-s {
    display: block;
    position: relative;
    z-index: 10;
}

.content .content-body .blist .top-block-s .block-user {
    display: block;
    text-align: center;
    position: absolute;
    left: 450px;
}

.content .content-body .blist .top-block-s .block-user .us-avat-bl {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 2px solid #98c11f;
}

.content .content-body .blist .top-block-s .block-user .us-avat-bl img {
    max-width: 50px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.content .content-body .blist .top-block-s .block-user .us-info-bl {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 11px;
    padding-left: 5px;
}

.content .content-body .blist .top-block-s .block-user .us-info-bl .top-sp-us {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #949a9f;
    font-size: 14px;
}

.content .content-body .blist .top-block-s .block-user .us-info-bl .top-sp-us strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #6e6f71;
    font-size: 20px;
}

.content .content-body .blist .top-block-s .block-user .us-info-bl .bt-ps-us {
    display: block;
    padding-top: 2px;
    padding-left: 3px;
    color: #8f959c;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.content .content-body .blist .top-block-s .line-left-s {
    position: absolute;
    display: block;
    width: 322px;
    height: 28px;
    background-image: url('../../../images/User-Management/Sales-list/left-bg-line.png');
    background-repeat: no-repeat;
    top: 81px;
    left: 153.5px;
}

.content .content-body .blist .top-block-s .line-mid-s {
    position: absolute;
    display: block;
    width: 16px;
    height: 41px;
    background-image: url('../../../images/User-Management/Sales-list/line-mid.png');
    background-repeat: no-repeat;
    top: 68px;
    left: 473.5px;
    z-index: 99;
}

.content .content-body .blist .top-block-s .line-right-s {
    position: absolute;
    display: block;
    width: 322px;
    height: 28px;
    background-image: url('../../../images/User-Management/Sales-list/right-bg-line.png');
    background-repeat: no-repeat;
    top: 81px;
    right: 147.5px;
}

.content .content-body .blist .top-block-s .line-to-u {
    position: absolute;
    display: block;
    width: 65px;
    height: 2px;
    background-image: url('../../../images/User-Management/Sales-list/line-to-your.png');
    background-repeat: no-repeat;
    top: 31px;
    right: 187.5px;
}

.content .content-body .blist .top-block-s .block-yours {
    position: absolute;
    display: block;
    padding-top: 48px;
    width: 60px;
    background-image: url('../../../images/User-Management/Sales-list/btn-your.png');
    background-repeat: no-repeat;
    background-position: center top;
    top: 8px;
    right: 128px;
    text-align: center;
    transition: .25s;
}

.content .content-body .blist .top-block-s .block-yours span {
    color: #6e6f71;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.content .content-body .blist .top-block-s .block-yours:hover {
    background-image: url('../../../images/User-Management/Sales-list/btn-your-h.png');
    transition: .25s;
}

.content .content-body .blist .main-block-user {
    display: block;
    margin: 0 auto;
    max-width: 943px;
    min-width: 943px;
    position: relative;
    top: 102px;
}

.content .content-body .blist .main-block-user .block-businessmans {
    display: inline-block;
    vertical-align: top;
    width: 302px;
    background-color: #fff;
    box-shadow: 0 2px 1px #e0e0e0;
    position: relative;
}

.content .content-body .blist .main-block-user .top-block-us {
    display: block;
    position: relative;
    text-align: left;
    padding: 21px 22px 19px 22px;
    border-bottom: 2px solid #dcdcdc;
}

.content .content-body .blist .main-block-user .top-block-us .title-sp-us {
    color: #4b555e;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.content .content-body .blist .main-block-user .blocklist-b {
    display: block;
    padding: 20px 16px;
}

.content .content-body .blist .main-block-user .blocklist-b .b-block-sl {
    display: block;
    padding-left: 62px;
    background-image: url('../../../images/User-Management/Sales-list/info-img-i.png');
    background-repeat: no-repeat;
    background-position: center left;
    height: 39px;
}

.content .content-body .blist .main-block-user .blocklist-b .b-block-sl span {
    display: block;
    padding-top: 2px;
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.content .content-body .blist .main-block-user .block-sales {
    display: inline-block;
    vertical-align: top;
    width: 302px;
    background-color: #fff;
    margin-left: 12.5px;
    box-shadow: 0 2px 1px #e0e0e0;
}

.content .content-body .blist .main-block-user .blocklist-c {
    display: block;
    padding: 20px 16px;
}

.content .content-body .blist .main-block-user .blocklist-c .b-avat-bl {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .blist .main-block-user .blocklist-c .b-info-bl {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
}

.content .content-body .blist .main-block-user .blocklist-c .b-info-bl .top-sp-b {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #949a9f;
    font-size: 14px;
}

.content .content-body .blist .main-block-user .blocklist-c .b-info-bl .top-sp-b strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #4b545d;
    font-size: 20px;
}

.content .content-body .blist .main-block-user .blocklist-c .b-info-bl .bt-ps-b {
    display: block;
    padding-left: 3px;
    color: #949a9f;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.content .content-body .blist .main-block-user .blocklist-c .b-block-sl {
    display: block;
    padding-left: 62px;
    background-image: url('../../../images/User-Management/Sales-list/info-img-i.png');
    background-repeat: no-repeat;
    background-position: center left;
    height: 39px;
    margin-top: 24px;
}

.content .content-body .blist .main-block-user .blocklist-c .b-block-sl span {
    display: block;
    padding-top: 2px;
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.content .content-body .blist .main-block-user .block-customers {
    display: inline-block;
    vertical-align: top;
    width: 302px;
    background-color: #fff;
    margin-left: 12.5px;
    box-shadow: 0 2px 1px #e0e0e0;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c {
    display: block;
    padding: 20px;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c .inp-cust {
    display: block;
    width: 100%;
    height: 35px;
    background-color: white;
    border: 1px solid #bfbfbf;
    outline: none;
    box-sizing: border-box;
    padding: 0 10px;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c .inp-cust::-webkit-input-placeholder {
    color: #4b545d;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c .inp-cust::-moz-placeholder {
    opacity: 1;
    color: #4b545d;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c .inp-cust:focus::-moz-placeholder {
    opacity: .5;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c .inp-cust:focus::-webkit-input-placeholder {
    opacity: .5;
}

.content .content-body .blist .block-customers .blocklist-c .body-blockl-c {
    display: block;
}

.content .content-body .blist .block-customers .blocklist-c .block-c:first-child {
    margin-top: 0;
}

.content .content-body .blist .block-customers .blocklist-c .block-c {
    display: block;
    margin-top: 20px;
    margin-left: 1px;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-avat-bl {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-info-bl {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0 0 5px;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-info-bl .top-sp-c {
    display: block;
    color: #4e535c;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-info-bl .top-sp-c a {
    color: #4e535c;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-info-bl .top-sp-c a:hover {
    color: #5aa008;
    transition: .15s;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-info-bl .bt-ps-c {
    display: block;
    color: #8f959c;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-top: 1px;
}

.content .content-body .blist .main-block-user .blocklist-b .block-s-user {
    margin-bottom: 20px;
}

.content .content-body .blist .main-block-user .blocklist-b .b-avat-bl {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.content .content-body .blist .main-block-user .blocklist-b .b-avat-bl img {
    border-radius: 100%;
    max-width: 50px;
    min-width: 50px;
}

.content .content-body .blist .main-block-user .blocklist-b .b-info-bl {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
}

.content .content-body .blist .main-block-user .blocklist-b .b-info-bl .top-sp-b {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #949a9f;
    font-size: 14px;
}

.content .content-body .blist .main-block-user .blocklist-b .b-info-bl .top-sp-b strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #4b545d;
    font-size: 20px;
}

.content .content-body .blist .main-block-user .blocklist-b .b-info-bl .bt-ps-b {
    display: block;
    padding-left: 3px;
    color: #949a9f;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.scroll2 {
    width: 260px;
    padding-top: 20px;
}

.wrapper {
    overflow: hidden;
}

.wrp-scroll {
    position: relative;
}

.scroller {
    display: block;
    max-height: 575px;
    width: 302px;
    height: 100%;
    overflow-y: auto;
}

.content .content-body .blist .main-block-user .scroll-b {
    display: block;
    max-height: 575px;
    width: 302px;
    height: 100%;
}

.scroller__bar-wrapper {
    position: absolute;
    top: 10px;
    right: 5px;
    bottom: 10px;
    z-index: 1;
    opacity: .3;
    width: 8px;
    border-radius: 15px;
    display: block;
    background-color: #88919a;
    transition: .1s;
}

.scroller:hover .scroller__bar-wrapper {
    opacity: 1;
    transition: .4s;
}

.scroller__bar {
    position: absolute;
    z-index: 1;
    display: block;
    width: 8px;
    height: 36px !important;
    background-image: url('../../../images/scroll.png');
    background-repeat: no-repeat;
    opacity: .6;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
}

.scroller__bar:hover {
    opacity: 1;
}

.block-customers .scroller {
    display: block;
    max-height: 520px;
    width: 302px;
    height: 100%;
    overflow-y: auto;
}
