.content .content-body .blist {
    display: block;
    min-height: 808px;
}

.content .content-body .blist .top-block-b {
    display: block;
    position: relative;
    z-index: 10;
}

.content .content-body .blist .top-block-b .block-user {
    display: block;
    text-align: center;
    position: absolute;
    left: 450px;
}

.content .content-body .blist .top-block-b .block-user .us-avat-bl {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .blist .top-block-b .block-user .us-info-bl {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 11px;
    padding-left: 4px;
}

.content .content-body .blist .top-block-b .block-user .us-info-bl .top-sp-us {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #949a9f;
    font-size: 14px;
}

.content .content-body .blist .top-block-b .block-user .us-info-bl .top-sp-us strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #6e6f71;
    font-size: 20px;
}

.content .content-body .blist .top-block-b .block-user .us-info-bl .bt-ps-us {
    display: block;
    padding-top: 2px;
    padding-left: 3px;
    color: #8f959c;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.content .content-body .blist .top-block-b .line-left {
    position: absolute;
    display: block;
    width: 295px;
    height: 77px;
    background-image: url('../img/line-left.png');
    background-repeat: no-repeat;
    top: 32px;
    left: 150px;
}

.content .content-body .blist .top-block-b .line-mid {
    position: absolute;
    display: block;
    width: 16px;
    height: 41px;
    background-image: url('../img/line-mid.png');
    background-repeat: no-repeat;
    top: 68px;
    left: 473.5px;
}

.content .content-body .blist .top-block-b .line-right {
    position: absolute;
    display: block;
    width: 105px;
    height: 77px;
    background-image: url('../img/line-right.png');
    background-repeat: no-repeat;
    top: 32px;
    right: 153px;
}

.content .content-body .blist .main-block-user {
    display: block;
    margin: 0 auto;
    max-width: 943px;
    min-width: 943px;
    position: relative;
    top: 102px;
}

.content .content-body .blist .main-block-user .block-businessmans {
    display: inline-block;
    vertical-align: top;
    width: 302px;
    background-color: #fff;
    box-shadow: 0 2px 1px #e0e0e0;
    position: relative;
}

.content .content-body .blist .main-block-user .top-block-us {
    display: block;
    position: relative;
    text-align: left;
    padding: 21px 22px 19px 22px;
    border-bottom: 2px solid #dcdcdc;
}

.content .content-body .blist .main-block-user .top-block-us .title-sp-us {
    color: #4b555e;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.content .content-body .blist .main-block-user .top-block-us .show-add {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 29px;
    height: 29px;
    background-image: url('../img/add-norm.png');
    background-repeat: no-repeat;
    transition: .15s;
}

.content .content-body .blist .main-block-user .top-block-us .show-add:hover {
    background-image: url('../img/add-h.png');
    width: 71px;
    transition: .15s;
}

.content .content-body .blist .main-block-user .blocklist-b {
    display: block;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.content .content-body .blist .main-block-user .blocklist-b .b-block {
    display: block;
    position: relative;
    background-color: #fff;
    margin-top: 20px;
    transition: .5s;
}
/*
.content .content-body .blist .main-block-user .blocklist-b .b-block:last-child {
    padding-bottom: 38px;
}*/

.content .content-body .blist .blocklist-b .b-block .show-info-b {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    background-image: url('../img/arr-b.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 31px;
    height: 75px;
    background-color: #98c11f;
    border: 2px solid #98c11f;
    transition: .2s;
}

.content .content-body .blist .blocklist-b .b-block .show-info-b:hover {
    background-color: #fff !important;
    background-image: url('../img/arr-hb.png') !important;
    transition: .2s;
}

.content .content-body .blist .blocklist-b .b-block .show-info-s {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    background-image: url('../img/arr-b.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 31px;
    height: 75px;
    background-color: #98c11f;
    border: 2px solid #98c11f;
}

.content .content-body .blist .blocklist-b .b-block .show-info-s:hover {
    background-color: #fff;
    background-image: url('../img/arr-hb.png');
    transition: .1s;
}

.content .content-body .blist .mod-window-sms {
    position: absolute;
    z-index: 9999;
    top: -7px;
    right: 0;
    left: 100%;
    pointer-events: auto;
    width: 306px;
    height: 179px;
    padding: 9px 9px 9px 15px;
    background-image: url('../img/bg-sms-p.png');
    background-repeat: no-repeat;
}

.content .content-body .blist .mod-window-sms .bl-left-i {
    position: absolute;
    display: block;
    width: 56px;
    height: 179px;
    background-color: #e9edf1;
    background-image: url('../img/i-img.png');
    background-repeat: no-repeat;
    background-position: center;
}

.content .content-body .blist .mod-window-sms .block-inf-popup {
    display: block;
    position: absolute;
    left: 90px;
    top: 27px;
    width: 220px;
}

.content .content-body .blist .mod-window-sms .block-inf-popup span {
    display: block;
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.content .content-body .blist .mod-window-sms .block-inf-popup span.sp-scnd {
    margin-top: 15px;
}

.content .content-body .blist .mod-window-sms .block-inf-popup .btn-ok-close {
    display: block;
    padding-top: 1px;
    width: 71px;
    height: 29px;
    background-color: #98c11f;
    border-radius: 15px;
    text-align: center;
    margin-top: 18px;
    transition: .2s;
}

.content .content-body .blist .mod-window-sms .block-inf-popup .btn-ok-close span {
    display: block;
    text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.11);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 29px;
    transition: .2s;
}

.content .content-body .blist .mod-window-sms .block-inf-popup .btn-ok-close:hover {
    background-color: #86ad1a;
    transition: .5s;
}

.content .content-body .blist .mod-window-sms .block-inf-popup .btn-ok-close:focus {
    background-color: #86ad1a;
}

.content .content-body .blist .mod-window-sms .block-inf-popup .btn-ok-close:focus span {
    margin-top: 1px;
}

.content .content-body .blist .blocklist-b .b-block .block-btns-us {
    display: none;
    position: absolute;
    margin-top: 10px;
    border-top: 1px solid #fff;
    text-align: center;
    width: 100%;
    background-color: #4b545d;
    padding-bottom: 27px;
}

.content .content-body .blist .blocklist-b .b-block .block-btns-us .line-li-us-l {
    position: absolute;
    left: 99px;
    top: 5px;
    width: 1px;
    height: 16px;
    background-color: #626d78;
}

.content .content-body .blist .blocklist-b .b-block .block-btns-us .line-li-us-r {
    position: absolute;
    right: 99px;
    top: 5px;
    width: 1px;
    height: 16px;
    background-color: #626d78;
}

.content .content-body .blist .blocklist-b .b-block .block-btns-us a {
    display: block;
    width: 100px;
    height: 27px;
    line-height: 27px;
    color: #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    transition: .2s;
}

.content .content-body .blist .blocklist-b .b-block .block-btns-us .btn-change {
    position: absolute;
    top: 0px;
    left: 0;
    transition: .2s;
}

.content .content-body .blist .blocklist-b .b-block .block-btns-us .btn-block {
    position: absolute;
    top: 0px;
    left: 99px;
    width: 104px;
    transition: .2s;
}

.content .content-body .blist .blocklist-b .b-block .block-btns-us .btn-delete {
    position: absolute;
    right: 0;
    top: 0px;
    transition: .2s;
}

.content .content-body .blist .blocklist-b .b-block .block-btns-us a:hover {
    background-color: #626d78;
    transition: .2s;
}

.content .content-body .blist .main-block-user .blocklist-b .b-block:hover .top-sp-b strong {
    color: #fff !important;
    transition: .3s;
}

.content .content-body .blist .main-block-user .blocklist-b .b-block:hover .top-sp-b {
    color: #cdd6de !important;
    transition: .3s;
}

.content .content-body .blist .main-block-user .blocklist-b .b-block:hover .bt-ps-b {
    color: #cdd6de !important;
    transition: .3s;
}

.content .content-body .blist .main-block-user .blocklist-b .b-avat-bl {
    display: inline-block;
    vertical-align: top;
    padding-left: 16px;
}

.content .content-body .blist .main-block-user .blocklist-b .b-info-bl {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
}

.content .content-body .blist .main-block-user .blocklist-b .b-info-bl .top-sp-b {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #949a9f;
    font-size: 14px;
}

.content .content-body .blist .main-block-user .blocklist-b .b-info-bl .top-sp-b strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #4b545d;
    font-size: 20px;
}

.content .content-body .blist .main-block-user .blocklist-b .b-info-bl .bt-ps-b {
    display: block;
    padding-left: 3px;
    color: #949a9f;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.content .content-body .blist .main-block-user .block-sales {
    display: inline-block;
    vertical-align: top;
    width: 302px;
    background-color: #fff;
    margin-left: 12.5px;
    box-shadow: 0 2px 1px #e0e0e0;
}

.content .content-body .blist .main-block-user .block-customers {
    display: inline-block;
    vertical-align: top;
    width: 302px;
    background-color: #fff;
    margin-left: 12.5px;
    box-shadow: 0 2px 1px #e0e0e0;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c {
    display: block;
    padding: 20px;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c .inp-cust {
    display: block;
    width: 100%;
    height: 35px;
    background-color: white;
    border: 1px solid #bfbfbf;
    outline: none;
    box-sizing: border-box;
    padding: 0 10px;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c .inp-cust::-webkit-input-placeholder {
    color: #4b545d;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c .inp-cust::-moz-placeholder {
    opacity: 1;
    color: #4b545d;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c .inp-cust:focus::-moz-placeholder {
    opacity: .5;
}

.content .content-body .blist .main-block-user .block-customers .blocklist-c .inp-cust:focus::-webkit-input-placeholder {
    opacity: .5;
}

.content .content-body .blist .block-customers .blocklist-c .body-blockl-c {
    display: block;
    max-height: 520px;
    overflow: auto;
    margin-top: 20px;
}

.content .content-body .blist .block-customers .blocklist-c .block-c:first-child {
    margin-top: 0;
}

.content .content-body .blist .block-customers .blocklist-c .block-c {
    display: block;
    margin-top: 20px;
    margin-left: 1px;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-avat-bl {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-info-bl {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0 0 5px;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-info-bl .top-sp-c {
    display: block;
    color: #4e535c;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-info-bl .top-sp-c a {
    color: #4e535c;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
    transition: .15s;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-info-bl .top-sp-c a:hover {
    color: #5aa008;
    transition: .15s;
}

.content .content-body .blist .block-customers .blocklist-c .block-c .c-info-bl .bt-ps-c {
    display: block;
    color: #8f959c;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-top: 1px;
}

#popup-form {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -789px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 99999;
    width: 462px;
    box-shadow: 0 2px 1px #e0e0e0;
    box-sizing: border-box;
    padding: 25px 23px 40px 23px;
}

#popup-form .title-popup-form {
    display: block;
    color: #a0ca24;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
}

#popup-form .reg-form-b .block-name {
    position: relative;
    display: block;
    margin-top: 30px;
    padding: 23px 8px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
}

#popup-form .img-close-bl {
    position: absolute;
    right: -31px;
    top: -28px;
    display: block;
    width: 33px;
    height: 31px;
    opacity: 0.6;
    background-image: url('../img/img-close.png');
    background-repeat: no-repeat;
    transition: .2s;
}

#popup-form .img-close-bl:hover {
    opacity: 1;
    transition: .2s;
}

#popup-form .reg-form-b .block-name .block-title-name {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 14px;
    display: block;
    padding: 0 14px;
    color: #5d6168;
    background-color: #fff;
}

#popup-form .reg-form-b .block-name .firstname {
    display: block;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

#popup-form .reg-form-b .name-input {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #606a75;
}

#popup-form .reg-form-b .block-name .lastname {
    display: block;
    padding-top: 22px;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

#popup-form .reg-form-b .input-firstname,
.input-lastname {
    width: 75%;
}

#popup-form .reg-form-b .input-main {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding-left: 2px;
    color: #4b545d;
    border: none;
    outline: none;
}

#popup-form .reg-form-b .block-company {
    display: block;
    margin-top: 20px;
    padding: 7px 8px 8px 9px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
}

#popup-form .reg-form-b .input-company {
    width: 76%;
}

#popup-form .reg-form-b .block-address {
    position: relative;
    display: block;
    margin-top: 30px;
    padding: 23px 8px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
}

#popup-form .reg-form-b .block-address .block-title-name {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 14px;
    display: block;
    padding: 0 14px;
    color: #5d6168;
    background-color: #fff;
}

#popup-form .reg-form-b .block-address .street {
    display: block;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

#popup-form .reg-form-b .block-address .street .input-street {
    width: 51%;
}

#popup-form .reg-form-b .name-input {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #606a75;
}

#popup-form .reg-form-b .postalcode-country {
    display: block;
    padding-top: 22px;
}

#popup-form .reg-form-b .postalcode-country .postalcode {
    display: inline-block;
    width: 47%;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

#popup-form .reg-form-b .postalcode-country .country {
    display: inline-block;
    width: 47%;
    margin-left: 18px;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

#popup-form .reg-form-b .postalcode-country .input-postalcod {
    width: 40%;
}

#popup-form .reg-form-b .postalcode-country .input-country {
    width: 55%;
}

#popup-form .reg-form-b .block-address .region {
    display: block;
    margin-top: 22px;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

#popup-form .reg-form-b .block-address .region .input-region {
    width: 79%;
}

#popup-form .reg-form-b .block-address .city {
    display: block;
    margin-top: 22px;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

#popup-form .reg-form-b .block-address .city .input-city {
    width: 84%;
}

#popup-form .reg-form-b .block-phone {
    display: block;
    margin-top: 20px;
    padding: 7px 8px 8px 9px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
}

#popup-form .reg-form-b .input-phone {
    width: 60.5%;
}

#popup-form .reg-form-b .format-phone {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 12px 15px 8px 15px;
    color: #6b7783;
}

#popup-form .reg-form-b .check {
    position: relative;
    display: block;
    padding-top: 65px;
    text-align: left;
}

#popup-form .reg-form-b .btn-form {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -75px;
}

#popup-form .reg-form-b .btn-form .btn-continue {
    display: block;
    width: 150px;
    height: 39px;
    cursor: pointer;
    border: 3px solid #a1c623;
    border-radius: 20px;
    background-color: #fff;
    position: relative;
}

#popup-form .reg-form-b .btn-form .btn-continue span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
    text-transform: uppercase;
    color: #4a535d;
    position: absolute;
    line-height: 34px;
    z-index: 1;
    top: 0;
    left: 50%;
    margin-left: -14.95315px;
}

#popup-form .reg-form-b .btn-form .btn-continue:hover span {
    color: #fff;
    transition: .15s;
}

#popup-form .reg-form-b .btn-form .btn-continue:hover::before {
    width: 150px;
}

#popup-form .reg-form-b .btn-form .btn-continue::before {
    transition-timing-function: linear;
    transition-duration: .15s;
    content: '';
    position: absolute;
    border-radius: 20px;
    height: 100%;
    top: 0;
    left: -3px;
    width: 0;
    background: #a1c623;
    z-index: 0;
}

#popup-form .reg-form-b .btn-form .btn-continue:focus {
    transition: 1s;
    outline: none;
    background-color: #a1c623;
}

#popup-form .reg-form-b .btn-form .btn-continue:focus span {
    margin-top: 1px;
}
