.checkbox-plg {
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    background-image: url('../../demo/img/chbox-empty.png');
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.checkbox-plg.hover {
    background-image: url('../../demo/img/chbox-hover.png');
    transition: .3s;
}

.checkbox-plg.checked {
    background-image: url('../../demo/img/chbox.png');
    transition: .3s;
}


/*.checkbox-plg.disabled {}

.checkbox-plg.checked.disabled {}*/

.iradio-plg {
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    background-image: url('../../../images/My-Orders/MyOrders-by-my-Customers/rdbox-empty.png');
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.iradio-plg.hover {
    background-image: url('../../../images/My-Orders/MyOrders-by-my-Customers/rdbox-hover.png');
    transition: .3s;
}

.iradio-plg.checked {
    background-image: url('../../../images/My-Orders/MyOrders-by-my-Customers/rdbox.png');
    transition: .3s;
}


/*.iradio-plg.disabled {}

.iradio-plg.checked.disabled {}*/

label {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color: #4b545d;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-right: 12px;
    margin-top: 3px;
}
