Forgot a password? Type your email and we will fix it =)

<form method="post" action="/login/forgot/">
    <input type="text" name="email" placeholder="email" >
    <input type="submit" name="submit" value="Send">
</form>