* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-width: 960px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
}

header {
    display: block;
    width: 100%;
    height: 82px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
}

header .header-left-block {
    display: inline-block;
    height: 100%;
    background-color: #4a545d;
}

header .header-left-block .logo-img {
    line-height: 82px;
    display: inline-block;
    height: 82px;
    margin-left: 22px;
}

header .header-left-block .logo-img a img {
    vertical-align: middle;
}

header .header-left-block .title-text {
    display: inline-block;
    padding-right: 46px;
    padding-left: 10px;
}

header .header-left-block .title-text span {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: italic;
    display: inline-block;
    text-transform: uppercase;
    color: #acb6c0;
}

header .header-top {
    display: inline-block;
}

header .header-top .header-text {
    display: inline-block;
    padding-left: 30px;
    vertical-align: middle;
}

header .header-top .title-text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    display: block;
    padding-bottom: 1px;
    color: #454c53;
}

header .header-top a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    color: #98c11f;
}

header .header-top a:hover {
    text-decoration: underline;
}

header .header-top .arrow-step {
    display: inline-block;
    width: 14px;
    margin: 0 8px;
    background-image: url('../img/arrow-step.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

header .header-top .finish-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #7d8790;
}

.content {
    display: block;
    width: 100%;
    padding-top: 20px;
    background-color: #f4f4f4;
}

.content .reg-form {
    display: block;
    width: 462px;
    margin: 0 auto;
    margin-bottom: 3px;
    padding: 26px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
}

.content .reg-form .title-t {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    display: block;
    margin-bottom: 12px;
    color: #a0ca24;
}

.content .reg-form .title-form p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #35373a;
}

.content .reg-form .lang-block {
    display: block;
    margin-top: 20px;
}

.content .reg-form .lang-block .lang-title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    color: #898989;
}

.content .reg-form .lang-block .lang-brit {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-left: 9px;
    vertical-align: middle;
    opacity: .5;
    background-image: url('../img/brit-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.content .reg-form .lang-block .lang-brit:hover {
    transition: 1s;
    opacity: 1;
}

.content .reg-form .lang-block .lang-brit:focus {
    transition: 1s;
    opacity: 1;
}

.content .reg-form .lang-block .lang-ger {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-left: 9px;
    vertical-align: middle;
    opacity: .5;
    background-image: url('../img/ger-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.content .reg-form .lang-block .lang-ger:hover {
    transition: 1s;
    opacity: 1;
}

.content .reg-form .lang-block .lang-ger:focus {
    transition: 1s;
    opacity: 1;
}

.content .reg-form .block-name {
    position: relative;
    display: block;
    margin-top: 30px;
    padding: 23px 8px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
}

.content .reg-form .block-name .block-title-name {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 14px;
    display: block;
    padding: 0 14px;
    color: #5d6168;
    background-color: #fff;
}

.content .reg-form .block-name .firstname {
    display: block;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

.content .reg-form .name-input {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #606a75;
}

.content .reg-form .block-name .lastname {
    display: block;
    padding-top: 22px;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

.content .reg-form .input-firstname,
.input-lastname {
    width: 75%;
}

.content .reg-form .input-main {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding-left: 2px;
    color: #4b545d;
    border: none;
    outline: none;
}

.content .reg-form .block-company {
    display: block;
    margin-top: 20px;
    padding: 10px 8px 8px 9px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
}

.content .reg-form .input-company {
    width: 76%;
}

.content .reg-form .block-address {
    position: relative;
    display: block;
    margin-top: 30px;
    padding: 23px 8px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
}

.content .reg-form .block-address .block-title-name {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 14px;
    display: block;
    padding: 0 14px;
    color: #5d6168;
    background-color: #fff;
}

.content .reg-form .block-address .street {
    display: block;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

.content .reg-form .block-address .street .input-street {
    width: 53%;
}

.content .reg-form .name-input {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #606a75;
}

.content .reg-form .postalcode-country {
    display: block;
    padding-top: 22px;
}

.content .reg-form .postalcode-country .postalcode {
    display: inline-block;
    width: 47%;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

.content .reg-form .postalcode-country .country {
    display: inline-block;
    vertical-align: top;
    margin-top: -8px;
    width: 47%;
    margin-left: 19px;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

.content .reg-form .postalcode-country .input-postalcod {
    width: 40%;
}

.content .reg-form .postalcode-country .input-country {
    width: 60%;
}

.content .reg-form .block-address .region {
    display: block;
    margin-top: 22px;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

.content .reg-form .block-address .region .input-region {
    width: 79%;
}

.content .reg-form .block-address .city {
    display: block;
    margin-top: 22px;
    padding-bottom: 3px;
    border-bottom: 1px solid #bfbfbf;
}

.content .reg-form .block-address .city .input-city {
    width: 83%;
}

.content .reg-form .block-phone {
    display: block;
    margin-top: 20px;
    padding: 10px 8px 8px 9px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
}

.content .reg-form .input-phone {
    width: 60.5%;
}

.content .reg-form .format-phone {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 12px 15px 8px 15px;
    color: #6b7783;
}

.content .reg-form .check {
    position: relative;
    display: block;
    padding-top: 65px;
    text-align: left;
}

.content .reg-form .check .checkbox {
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.content .reg-form .check input[type='checkbox'] {
    display: none;
}

.content .reg-form .check input[type='checkbox'] + .label-text:before {
    position: absolute;
    top: 7px;
    right: 100%;
    display: inline-block;
    margin-right: 10px;
    content: url('../img/check-off.png');
}

.content .reg-form .check input:checked + .label-text:before {
    display: inline-block;
    margin-right: 10px;
    content: url('../img/check-on.png');
    vertical-align: bottom;
}

.content .reg-form .check label {
    cursor: pointer;
}

.content .reg-form .check .label-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 25px;
    left: 38px;
    display: inline-block;
    vertical-align: top;
    color: #383a3e;
}

.content .reg-form .check .chek-link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 42px;
    left: 38px;
    color: #1961ab;
}

.content .reg-form .check .chek-link:hover {
    text-decoration: underline;
}

.content .reg-form .btn-form {
    position: absolute;
    top: 20px;
    right: 4px;
}

.content .reg-form .btn-form .btn-continue {
    display: block;
    width: 150px;
    height: 39px;
    cursor: pointer;
    border: 3px solid #a1c623;
    border-radius: 20px;
    background-color: #fff;
    position: relative;
}

.content .reg-form .btn-form .btn-continue span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
    text-transform: uppercase;
    color: #4a535d;
    position: absolute;
    line-height: 34px;
    z-index: 1;
    top: 0;
    left: 50%;
    margin-left: -33.95315px;
}

.content .reg-form .btn-form .btn-continue:hover::before {
    width: 150px;
}

.content .reg-form .btn-form .btn-continue::before {
    transition-timing-function: linear;
    transition-duration: .15s;
    content: '';
    position: absolute;
    border-radius: 20px;
    height: 100%;
    top: 0;
    left: -3px;
    width: 0;
    background: #a1c623;
    z-index: 0;
}

.content .reg-form .btn-form .btn-continue:focus {
    transition: 1s;
    outline: none;
    background-color: #a1c623;
}

.content .reg-form .btn-form .btn-continue:focus span {
    margin-top: 1px;
}

footer {
    display: block;
    width: 100%;
    padding-top: 1%;
    background-color: #f4f4f4;
}

footer .ft-wrapper {
    display: block;
    max-width: 1236px;
    margin: 0 auto;
    padding: 0 30px;
}

footer .ft-wrapper .copywrite {
    display: inline-block;
    float: left;
    padding-bottom: 10px;
    vertical-align: top;
}

footer .ft-wrapper .copywrite .copywr {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    padding-top: 19px;
    vertical-align: top;
    color: #a1a1a1;
}

footer .ft-wrapper .copywrite .ft-logo {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

footer .ft-wrapper .copywrite .ft-logo a {
    opacity: .5;
}

footer .ft-wrapper .copywrite .ft-logo a:hover {
    transition: 1s;
    opacity: 1;
}

footer .ft-wrapper .ft-links {
    display: inline-block;
    padding-bottom: 10px;
    vertical-align: top;
}

footer .ft-wrapper .ft-links ul {
    display: block;
    margin-top: 17px;
    margin-left: 24px;
}

footer .ft-wrapper .ft-links li {
    display: inline-block;
    margin-right: 22px;
    list-style-type: none;
}

footer .ft-wrapper .ft-links li a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    color: #898989;
}

footer .ft-wrapper .ft-links li a:hover {
    transition: .5s;
    color: #5aa008;
}

footer .ft-wrapper .ft-links li:last-child {
    margin-right: 0;
}

footer .ft-wrapper .ft-contacts {
    display: inline-block;
    float: right;
    padding-bottom: 10px;
    vertical-align: top;
}

footer .ft-wrapper .ft-contacts .ft-phone {
    display: inline-block;
    padding-top: 18px;
    vertical-align: top;
}

footer .ft-wrapper .ft-contacts .ft-phone span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    color: #a1a1a1;
}

footer .ft-wrapper .ft-contacts .ft-phone .ft-phone-number {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding-left: 10px;
    color: #898989;
}

footer .ft-wrapper .ft-contacts .ft-social {
    display: inline-block;
    margin-left: 16px;
    padding-top: 18px;
    vertical-align: top;
}

footer .ft-wrapper .ft-contacts .ft-social span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #a1a1a1;
}

footer .ft-wrapper .ft-contacts .ft-social .ft-link-fb {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: -2px;
    margin-right: 6px;
    margin-left: 10px;
    vertical-align: top;
    background-image: url('../img/fb-link.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

footer .ft-wrapper .ft-contacts .ft-social .ft-link-fb:hover {
    transition: 1s;
    background-image: url('../img/fb-link-hover.png');
}

footer .ft-wrapper .ft-contacts .ft-social .ft-link-gl {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: -2px;
    vertical-align: top;
    background-image: url('../img/gl-link.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

footer .ft-wrapper .ft-contacts .ft-social .ft-link-gl:hover {
    transition: 1s;
    background-image: url('../img/gl-link-hover.png');
}
