.content .content-body .content-top-block {
    display: block;
}

.content .content-body .content-top-block .date-block {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .content-top-block .date-block .date-top {
    display: block;
}

.content .content-body .content-top-block .date-block .date-top .tl-date {
    display: inline-block;
    vertical-align: top;
    width: 99px;
    height: 37px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    background-image: url('../../../images/Support-Customer/Supp-Tickets/date-img.png');
    background-repeat: no-repeat;
    background-position: top 10px left 12px;
    text-align: right;
}

.content .content-body .content-top-block .date-block .date-top .tl-date span {
    color: #57bdde;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 37px;
    padding-right: 20px;
    text-transform: uppercase;
}

.content .content-body .content-top-block .date-block .date-top .btn-cld {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: -1px;
    width: 200px;
    height: 37px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
}

.content .content-body .content-top-block .date-block .date-top .btn-cld span {
    color: #858d95;
    font-family: CAPSUULA;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 37px;
    padding-left: 10px;
}

.content .content-body .content-top-block .date-block .date-top .btn-cld:after {
    height: 100%;
    width: 20px;
    background-color: #e5e5e5;
    background-image: url('../../../images/Support-Customer/Supp-Tickets/select-arr.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 3px;
    bottom: 0;
    content: '';
    display: block;
    margin: auto 0;
}

.content .content-body .content-top-block .date-block .date-top .btn-cld:hover {
    cursor: pointer;
}

.content .content-body .content-top-block .date-block .btn-form {
    display: block;
    width: 141px;
    height: 37px;
    margin-top: 2px;
    background-color: #9db920;
    box-shadow: 0 2px 0 #83a717;
    border: none;
    outline: none;
    cursor: pointer;
}

.content .content-body .content-top-block .date-block .btn-form span {
    display: block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 39px;
}

.content .content-body .content-top-block .date-block .btn-form:hover {
    background-color: #b0cd2f;
    transition: .15s;
}

.content .content-body .content-top-block .date-block .btn-form:focus {
    background-color: #9db920;
}

.content .content-body .content-top-block .date-block .btn-form:focus span {
    margin-top: 1px;
}

.content .content-body .content-top-block .customer-satisfaction {
    position: relative;
    display: inline-block;
    width: 302px;
    height: 140px;
    margin-left: 18px;
    vertical-align: top;
    background-color: #fff;
    box-shadow: 0 2px 1px #e0e0e0;
}

.content .content-body .content-top-block .customer-satisfaction .interest-c-s {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 400;
    position: absolute;
    top: 55px;
    left: 64px;
    color: #4b545d;
}

#customers_chart {
    position: absolute;
    top: 11px;
    left: 27px;
}

#customers_chart_1 {
    position: absolute;
    top: 11px;
    left: 27px;
}

.content .content-body .content-top-block .customer-satisfaction .title-c-s {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 52px;
    left: 167px;
    color: #4b545d;
}

.content .content-body .content-tbl {
    display: block;
    margin-top: 20px;
}

.content .content-body .content-tbl .table-cnt {
    max-width: 954px;
    border-spacing: 0;
}

.content .content-body .content-tbl .table-cnt .frts-tr {
    display: block;
    width: 100%;
    background-color: transparent;
    padding: 12px 0;
}

.content .content-body .content-tbl .table-cnt .frts-tr a {
    position: relative;
}

.content .content-body .content-tbl .table-cnt .frts-tr a span {
    color: #858d95;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.content .content-body .content-tbl .table-cnt .frts-tr a .tr-img-frst {
    position: absolute;
    display: block;
    width: 9px;
    height: 6px;
    top: 6px;
    right: -16px;
    background-image: url('../../../images/Support-Customer/Supp-Tickets/tbl-sort.png');
    background-repeat: no-repeat;
    background-position: center;
}

.content .content-body .content-tbl .table-cnt .frts-tr a:focus .tr-img-frst {
    background-image: url('../../../images/Support-Customer/Supp-Tickets/tbl-sort-act.png');
    transition: .15s;
}

.content .content-body .content-tbl .table-cnt .priority-td {
    width: 80px;
    display: inline-block;
    vertical-align: top;
}

.content .content-body .content-tbl .table-cnt .date-td {
    width: 120px;
    display: inline-block;
    vertical-align: top;
}

.content .content-body .content-tbl .table-cnt .ticket-td {
    width: 110px;
    display: inline-block;
    vertical-align: top;
}

.content .content-body .content-tbl .table-cnt .subject-td {
    width: 260px;
    display: inline-block;
    vertical-align: top;
}

.content .content-body .content-tbl .table-cnt .status-td {
    width: 140px;
    display: inline-block;
    vertical-align: top;
}

.content .content-body .content-tbl .table-cnt .category-td {
    width: 215px;
    display: inline-block;
    vertical-align: top;
}

.content .content-body .content-tbl .table-cnt .tr-ylw {
    display: block;
    width: 100%;
    background-color: #fff;
    border-left: 5px solid #e4bc0c;
}

.content .content-body .content-tbl .table-cnt .tr-green {
    display: block;
    width: 100%;
    background-color: #fff;
    border-left: 5px solid #9db920;
}

.content .content-body .content-tbl .table-cnt .tr-ylwray {
    display: block;
    width: 100%;
    background-color: #fff;
    border-left: 5px solid #8e8e8e;
}

.content .content-body .content-tbl .table-cnt .tr-red {
    display: block;
    width: 100%;
    background-color: #fff;
    border-left: 5px solid #ff6c6c;
}

.content .content-body .content-tbl .table-cnt .tr-b {
    margin-top: 2px;
    box-shadow: 0 1px 1px #e0e0e0;
    transition: .15s;
    height: 38px;
    line-height: 38px;
}

.content .content-body .content-tbl .table-cnt .tr-b:hover {
    background-color: #f4f4f4;
    transition: .15s;
    cursor: pointer;
}

.content .content-body .content-tbl .table-cnt .tr-b .priority-td {
    width: 58px;
    padding-left: 17px;
}

.content .content-body .content-tbl .table-cnt .tr-b span {
    color: #596067;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.content .content-body .content-tbl .table-cnt .tr-b .status-td span {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.content .content-body .content-tbl .table-cnt .tr-b .status-td img {
    display: inline-block;
    vertical-align: top;
    margin-top: 12.3px;
}

.content .content-body .content-tbl .table-cnt .tr-ylwr {
    display: block;
    width: 100%;
    background-color: #fff;
    border-left: 5px solid #8e8e8e;
}

.content .content-body .content-tbl .table-cnt .tr-ylwrl {
    display: block;
    width: 100%;
    background-color: #fff;
    border-left: 5px solid #cbcbcb;
}

.content .content-body .pagination-block {
    display: block;
    margin-top: 20px;
}

.content .content-body .pagination-block .nav-l-r {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .pagination-block .nav-l-r .nav-l {
    display: inline-block;
    vertical-align: top;
}

.content .content-body .pagination-block .nav-l-r .nav-l a {
    display: block;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    background-image: url('../../../images/Support-Customer/Supp-Tickets/arr-nav-l.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: .15s;
}

.content .content-body .pagination-block .nav-l-r .nav-l a:hover {
    background-image: url('../../../images/Support-Customer/Supp-Tickets/arr-nav-l-hover.png');
    transition: .15s;
}

.content .content-body .pagination-block .nav-l-r .nav-l a:focus {
    box-shadow: 0 1px 1px #e0e0e0;
}

.content .content-body .pagination-block .nav-l-r .nav-r {
    display: inline-block;
    vertical-align: top;
    margin-left: -3px;
}

.content .content-body .pagination-block .nav-l-r .nav-r a {
    display: block;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    background-image: url('../../../images/Support-Customer/Supp-Tickets/arr-nav-r.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: .15s;
}

.content .content-body .pagination-block .nav-l-r .nav-r a:hover {
    background-image: url('../../../images/Support-Customer/Supp-Tickets/arr-nav-r-hover.png');
    transition: .15s;
}

.content .content-body .pagination-block .nav-l-r .nav-r a:focus {
    box-shadow: 0 1px 1px #e0e0e0;
}

.content .content-body .pagination-block .page-n-first {
    display: inline-block;
    vertical-align: top;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    text-align: center;
    margin-left: -3px;
}

.content .content-body .pagination-block .page-n-first span {
    color: #848d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 38px;
}

.content .content-body .pagination-block .block-all-p {
    display: inline-block;
    position: relative;
}

.content .content-body .pagination-block .block-all-p .all-p-b {
    vertical-align: top;
    background-image: url('../../../images/Support-Customer/Supp-Tickets/arr-pagin.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding: 0 42px 0 23px;
    line-height: 38px;
}

.content .content-body .pagination-block .block-all-p span.p-act {
    font-weight: 500;
}

.content .content-body .pagination-block .block-all-p span {
    color: #848d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.content .content-body .pagination-block .block-all-p:hover {
    cursor: pointer;
}

.content .content-body .pagination-block .block-all-p .inp-tp {
    position: absolute;
    display: none;
    top: 104%;
    left: 6px;
    width: 98px;
    height: 38px;
    background-color: white;
    border: 1px solid #c9c9c9;
    box-shadow: 0 2px 1px #e0e0e0;
    outline: none;
    padding: 0 12px 0 10px;
    color: #858d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    z-index: 100;
}

.content .content-body .pagination-block .page-n-last {
    display: inline-block;
    vertical-align: top;
    width: 41px;
    height: 38px;
    background-color: white;
    box-shadow: 0 2px 1px #e0e0e0;
    text-align: center;
}

.content .content-body .pagination-block .page-n-last span {
    color: #848d95;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 38px;
}

.content .content-body .btn-cr-ticket {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 185px;
    height: 39px;
    background-color: #9db920;
    border-radius: 23px;
    border-top-left-radius: 0;
    text-align: center;
    transition: .15s;
}

.content .content-body .btn-cr-ticket span {
    display: block;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 39px;
    text-transform: uppercase;
}

.content .content-body .btn-cr-ticket:hover {
    background-color: #b3d327;
    transition: .15s;
}

.content .content-body .btn-cr-ticket:focus {
    background-color: #9db920;
}

.content .content-body .btn-cr-ticket:focus span {
    margin-top: 1px;
}
